[2020-04-09 12:24] aarushik93 commented on #217
Also, maybe someone can provide me some background on the use of the script from travis as opposed to just installing go ourselves in the container? Maybe that's a possibility too - I believe that would also remove other unnecessary logs?

[2020-04-10 18:55] nolessafool commented on #296
Hi @ahoward  I doubt you have implemented the fix, then?  If you're still seeing it, I expect that you're using our "trusty" build image, rather than Xenial, which I think has the fix?

cf https://www.netlify.com/blog/2019/03/14/a-more-flexible-build-architecture-with-updated-linux/

[2020-04-14 09:50] ehmicky opened #393 "Issues with `node-libpq`"
A user [reported](https://community.netlify.com/t/unable-to-publish-function-using-postgres/12293/2) the following build error:

[code]

This happens when using [`node-libpq`](https://github.com/brianc/node-libpq). That library does not mention requiring it but [other users are reporting this problem](https://github.com/brianc/node-libpq/issues/55).

Checking their `binding.gyp`, [the problem is t

[2020-04-18 19:02] latiif opened #396 "Add support for fgallery"
#### What is `fgallery`?
`fgallery` is a modern, minimalist javascript photo gallery. [Official website](https://www.thregr.org/~wavexx/software/fgallery/)

It is mainly written in Perl and is available via `apt`/`apt-get` for Debian and it's derivatives in the official repositories.

#### Is `fgallery` well-established?
I'd say yes. It is available on the Debian/Ubuntu repositories. [`fgallery` o

[2020-04-19 22:35] slawekkolodziej commented on #196
FWIW I managed to properly cache lerna packages between the builds. I created a minimal example here: https://github.com/slawekkolodziej/netlify-lerna-caching-demo As for Netlify Build Plugins, it seems that they are executed AFTER the yarn install, plugin won't help here (at least with currently available API)

[2020-04-20 07:32] iddan commented on #196
Can this be integrated to the default image?

[2020-04-20 13:11] jaredh159 commented on #196
@slawekkolodziej really appreciate you creating that minimal demo. really clever work there, seems super promising. I'm going to give it a shot shortly, as I'm still struggling with long build times and churning through lots of Netlify build minutes.

[2020-04-20 14:26] mraerino commented on #396
this seems like a tool which does not qualify as a **generic** build tool. i'm unsure if we'd want to maintain it as a dependency.

people should be able to find photo gallery generators that they can install via a built-in dependency tool, such as `npm`

[2020-04-20 14:27] mraerino commented on #396
what about using this package for example?
https://www.npmjs.com/package/fgallery

we can talk about if the required system dependencies are worth to be included

[2020-04-22 01:14] nolessafool commented on #396
Advised in community with a good workaround as well:  https://community.netlify.com/t/install-custom-linux-packages-on-deployment-image/12690

I think we can close WONTFIX between those two suggestions;  customer should be able to choose a good workaround :)

[2020-04-22 06:26] latiif commented on #396
Good points. Thanks for the pointers.

[2020-04-22 06:26] #396 closed, assigned to nobody

[2020-04-22 10:01] samheather commented on #341
+1 yes please. webp support is a top request for us - it's a major component of Google Page Speed Insights, and handling it at application is sub-optimal.

[2020-04-26 09:20] sileht opened #398 "Allow to skip some dependencies installation"
I have a monorepo, where python and react live in same repository.

The root of the repository have yarn.lock and runtime.txt.

The runtime.txt is the one used by Heroku and contains `python 3.8.0`. Heroku supports ton of python version while Netlify doesn't.

Since I don't care about the python stuffs whithin the Netlify deployment, I just want the react site to be bild and deployed.
So I would l

[2020-04-27 17:19] ehmicky opened #399 "Yarn workspaces support improvements"
For monorepos where each package has its own Netlify Site, we recommend using a different base directory for each of them, and optionally a different `netlify.toml`. At least that's my assumption, please correct me if I'm wrong.

The problem is that, when using Yarn workspaces, the `yarn.lock` file will be at the top-level, not inside each package. Because of this, we currently don't detect it and

[2020-04-28 10:55] nickteeple opened #402 "readme states to use build:xenial - script runs build:latest"
readme states to `docker pull build:xenial` and run start-image.sh. When I run start-image.sh, docker ignores build:xenial and pulls build:latest which has older software defaults like ruby 2.4 instead of 2.6

latest docker for windows
launching from within ubuntu 16.04 windows WSL

[2020-04-28 10:59] ehmicky opened #403 "Issue with `nvm install --no-progress`"
Due to the nvm progress bar not being shown correctly, [we have been adding](https://github.com/netlify/buildbot/issues/601#issuecomment-620136525) the `--no-progress` CLI flag to `nvm`.

This was done in #400.

However @nickteeple [is reporting](https://github.com/netlify/buildbot/issues/601#issuecomment-620136525) the following:

    buildbot@ff46eac66781:/$ build
    Cloning into '/opt/buildhom

[2020-04-28 11:02] nickteeple commented on #402
this change forced xenial to be used

[2020-04-28 11:05] nickteeple commented on #403
ah, i think it's because of the other thing I just reported: https://github.com/netlify/build-image/issues/402

If I run xenial instead of latest it seems to work fine. safe to close.

[2020-04-28 13:13] #403 closed, assigned to ehmicky

[2020-04-29 12:22] pixelbreaker commented on #399
I'm having really slow builds due to this issue. I have a large app in `/www` and related common UI in `/components`. When I set up as a monorepo with a base folder of `/www` in the Netlify UI, and hacked a `yarn.lock` into `/www` with a symlink to the one in the root, then Yarn runs and redownloads/compiles all packages every time a  build runs.

This is costing us about 95 seconds of build minut

[2020-04-30 16:16] vincerubinetti commented on #196
There should be a note about this in the [My site deploy fails unless Netlify’s build cache is cleared](https://community.netlify.com/t/common-issue-my-site-deploy-fails-unless-netlifys-build-cache-is-cleared/3035) guide.

I struggled with this issue for far to long until a helpful Netlify support person [mentioned it recently on the forums](https://community.netlify.com/t/site-deploy-fails-unless

[2020-05-01 01:21] vbrown608 commented on #402
Nice catch, thanks for reporting!

[2020-05-01 01:44] vbrown608 opened #408 "Update steps in the README to test any image tag locally"
Users should be able to build the image locally, tag that image, and then pass the tag to the `start-image` script.

[2020-05-01 16:31] slorber commented on #399
Hey

Having an empty yarn.lock in a sub package seems to work to tell netlify to use Yarn, however I encouter the same issue as @pixelbreaker with Yarn downloading each time dependencies.

As dependencies end up being in both root/node_modules + root/packages/mySiteToDeploy/node_modules, it's not totally clear how Netlify handles caching

Also, there is a "yarn install --focus" command that we sho

[2020-05-01 18:01] slorber commented on #399
Also something related, but it would be convenient if the netlify support could check parent folders for .nvmrc that specify node version, so that we don't have to put a .nvmrc to each subfolder if the repo use the same node version across all projects (it's more convenient to have one at the monorepo root)

[2020-05-02 19:59] ian-woolf commented on #371
This issue helped my fix my build failures. I had some .JPG files stored in Git LFS in my repo (that's how they come off the camera ¯\\\_(ツ)\_/¯) and my build was failing with the following message:

error Failed to retrieve metadata from image /opt/build/repo/src/img/gallery/P1050936.JPG Input file contains unsupported image format

I had a hunch Git LFS was involved, but didn't know exactly how.

[2020-05-04 00:07] mraerino commented on #393
with #411 this could be installed via a `Brewfile`: https://formulae.brew.sh/formula-linux/libpq

[2020-05-04 00:09] mraerino commented on #385
Helm is available as a Homebrew formula: https://formulae.brew.sh/formula-linux/helm
You might be able to use it once #411 lands.

[2020-05-04 00:13] mraerino commented on #231
seems solved.

[2020-05-04 00:13] #231 closed

[2020-05-04 00:15] mraerino commented on #206
you can use any Go version via `GO_VERSION`. We're updating the main tools periodically.

[2020-05-04 00:15] #206 closed

[2020-05-04 03:26] ddevault commented on #206
With a period of a year and a half, apparently. And longer for the Ubuntu image :)

[2020-05-04 11:24] mraerino commented on #206
Using `GO_VERSION` was possible for a long time and is the recommended approach.

Netlify currently only has Ubuntu images:
- Trusty
  - End of life
  - no longer supported
- Xenial
  - latest updates
  - default if you create a new site
  - for old sites you can switch in the build settings

Our main goal has always been to not break user's build unexpectedly, that's the reason, you need to manua

[2020-05-04 15:38] jlengstorf opened #480 "Cache isn’t available to deploy previews"
I am creating and caching a file and getting confirmation from the utils that it was cached, but it's not there on subsequent pushes to that PR

this log shows a cache miss, despite confirmation that the cache was created in the previous deploy (you can see the confirmation again, as well as a quick read of the file contents to make sure they're actually there, in the bottom of this log)
https://a

[2020-05-04 23:17] nolessafool commented on #196
Thanks for the suggestion @vincerubinetti  I added - could you verify that it's in terms you would have perked up about, or suggest an improvement?

[2020-05-06 14:18] vincerubinetti commented on #196
Hi @fool , thanks for adding that. Looks good. I might move the keywords to the front of the sentence like this:

5. You're using a monorepo, like lerna or yarn workspaces. Currently, [we don't support this in the expected way](https://github.com/netlify/build-image/issues/196).

While we're on the subject, maybe reword 3. to be consistent with the other bullet points, which all start with some fo

[2020-05-09 23:31] FiloSottile commented on #205
This is still a problem, and not being able to use `stable` or `1.14.x` means not getting security updates from minor Go releases automatically.

[2020-05-09 23:35] FiloSottile opened #415 "Go dependency caching is ineffective"
It doesn't look like the Go dependency cache is actually being persisted. Note how at the start of the build `$(GOPATH)/pkg` is always empty, gets filled with dependencies, and then at the next build is empty again.

This is probably costing everyone quite some CPU time and bandwidth.

[code]

[code]

[code]

[2020-05-10 14:38] urbanishimwe opened #416 "build/hooks: build doesn't find files under node_modules"
I have this configuration
[code]

**yarn build-prod** is configured in package.json like this: `node ./node_modules/webpack/bin/webpack.js --config webpack.config.js` as just `NODE_ENV=production webpack --config webpack.config.js` was not working.

the logs in netlify is mentioning that it can't find this module:
[code]

[2020-05-12 22:05] erquhart commented on #480
@ehmicky any thoughts on this one?

[2020-05-12 23:41] vbrown608 commented on #480
~@jlengstorf does this have something to do with deploy previews in particular? Or is it that in general `utils.cache` is failing to cache and subsequently load the file?~

Nevermind, I looked at https://github.com/jlengstorf/netlify-plugin-gatsby-cache/issues/22 and I see that it's particular to deploy preview builds.

[2020-05-13 12:31] ehmicky commented on #480
I remember some discussions about caching in deploy previews having non-intuitive behavior at times (outside of Build plugins or the cache utility). If I remember, this discussion was with @fool, but I am not completely sure. @fool Are you aware of anything specific about caching in deploy previews?

[2020-05-13 17:55] nolessafool commented on #480
the issue I keep raising is this one:

https://github.com/netlify/buildbot/issues/575

...which is only about the FIRST build of any PR.  Subsequent builds seem to me to have (correct) cache, and I think Support would have heard about it if the cache was never available to subsequent PR builds.

[2020-05-13 17:59] ehmicky commented on #480
Thanks for pointing this out @fool.
I will investigate this bug.

[2020-05-15 02:32] HMilbradt opened #423 "Add authentication string to .npmrc for Github packages"
Hey there 👋

There's currently some issues Netlify users are experiencing connecting their projects with the Github package repository and private packages.  See [this](https://community.netlify.com/t/support-guide-using-private-npm-modules-on-netlify/795/30).

The problem is that you need a `.npmrc` file pointing to the github registry which contains the auth token. For example: registry=https://

[2020-05-16 10:05] justuswilhelm commented on #251
It doesn't look like this issue is getting a lot of love, and I remember a Netlify employee previously mentioning Haskell/Hakyll builds should be possible, so I shall say as well: +1

I've resorted to building it on CircleCI and then pushing to Netlify, but I don't get to take advantage of all the branch goodies Netlify has :)

And then, if I may say so, you have Erlang, but not Haskell? For Serum

[2020-05-18 12:30] ehmicky opened #426 "`nvm` caching is broken"
The following error currently happens when restoring the Node.js version:

[code]

This appeared with [this commit](https://github.com/netlify/build-image/commit/5d2ae26bd025a4bc8557a9401c471441ae55dcd0).

[2020-05-18 13:20] #426 closed, assigned to ehmicky

[2020-05-18 23:28] vbrown608 commented on #480
I did some testing on this, and it's only impacting caching within Netlify Build - additional node modules, for instance, are cached successfully in deploy preview builds. Also verified that it's not an issue for other non-master builds (ie branch builds).

Once the file is cached successfully (for example during a branch build), it's can be loaded successfully in a deploy preview build. So, the p

[2020-05-19 09:53] Pieparker commented on #423
Requested:
https://community.netlify.com/t/support-guide-using-private-npm-modules-on-netlify/795/57

[2020-05-20 21:04] jlengstorf opened #433 "Yarn install runs even when a node_modules cache is found"
Thanks for reporting this bug!

I could have sworn we already had an issue open for this, but I can't find it. Filing here so I can link when people hit this.

**Describe the bug**

The build will restore `node_modules` successfully, but when a `yarn.lock` file is present it re-runs the `yarn` command and reinstalls all packages anyways.

Here's an excerpt of a log from [this community issue](http

[2020-05-21 19:17] ehmicky commented on #353
Thanks for reporting this issue!
Fixed in #430.

[2020-05-22 15:35] Pieparker opened #431 "Add support for Python 3.8"
Python 3.8 has been around [since last year](https://docs.python.org/3/whatsnew/3.8.html) and it'd be nice to it supported in our (Xenial) build image.

[2020-05-22 15:36] Pieparker commented on #431
Requested by:
https://community.netlify.com/t/python-3-8-and-ignore-pipfile/15063/7 - community

[2020-05-22 16:32] erans commented on #431
Python 3.8 has been around since Oct/2019 and its time to support it. I know the build image now support Python 2.7 (which is not supported any more) up until Python 3.7.

However, we don't really need Python at all :-) I think what we need is a way to skip the Pipfile detection because our repo has the OpenAPI files that we want to use Netlify to publish our API documentation using redoc-cli. Sin

[2020-05-22 17:24] ehmicky opened #432 "Yarn workspaces are not properly cached"
Related: #399, #196.

When using Yarn workspaces, each new build is running `yarn` again. It seems that `node_modules` are not properly cached.

This behavior is unrelated the Netlify Build beta (it happens both with and without it).

Repository to reproduce:

`package.json`

[code]

`netlify.toml`

[code]

`site/package.json`

[code]

Run `yarn` to create a `yarn.lock`. Then each deploy keeps sho

[2020-05-22 17:36] ehmicky commented on #433
This appears not to be related to the beta, so I am transferring to `build-image`.
An issue was filed in #432.

[2020-05-23 17:13] jacintoArias commented on #157
Any news on this? We will have to migrate the build to another CI if we cannot use webp. Does anyone have a workaround to make jekyll_picture_tag work in Netlify builds?

[2020-05-23 17:17] jacintoArias commented on #341
We definetly need this, this discussion seems to be asking for almost the same
https://github.com/netlify/build-image/issues/157

[2020-05-24 15:19] SeanKilleen commented on #383
This appears related to https://github.com/netlify/build-image/issues/296. The bundled with version is `2.1.4` but the build logs indicate 2.0.1

[2020-05-24 16:12] SeanKilleen commented on #383
Workaround: removing my `Gemfile.lock` allows this to work, because there's now no reference to Bundler 2.1.4.

However, it means that my lockfile is now not the same between my own environments and with Netlify.

[2020-05-28 05:23] evanrelf commented on #251
I personally now believe that adding Nix support is the right way to go. Once that's added, the entirety of Nixpkgs becomes available, making all other languages and tools available. Adding things piecemeal is a never-ending uphill battle.

[2020-05-28 13:40] srid commented on #251
Nix support would also allow building [neuron](https://neuron.zettel.page) sites.

[2020-05-28 18:55] rvanmil commented on #423
This issue is being tracked by https://github.com/netlify/build/issues/1149

[2020-05-29 03:04] justuswilhelm commented on #251
I see your point and I also agree that adding nix despite the additional learning curve sounds like a good idea long term. The way both files `Dockerfile` and `run-build.sh` look like right now is a complete nightmare. On the other hand a way to do it could be by specifying custom docker files perhaps? Either way, just appending more and more packages/installers/setup scripts to a Dockerfile and/o

[2020-05-29 03:17] srid commented on #251
For instant builds, you probably want to persist `/nix` between builds. Failing that, you can push to/ pull from a remote cache like [cachix](https://cachix.org/), but this will take substantial time fetching / pushing derivations.

[2020-05-29 11:08] ehmicky commented on #480
Reported here too: https://community.netlify.com/t/build-plugin-cache-not-actually-cacheing-anything/15721

[2020-05-29 16:32] earthboundkid commented on #480
According to the [Debug Cache Plugin](https://github.com/netlify-labs/netlify-plugin-debug-cache), my cache is not being shared between builds on a deploy branch. See https://github.com/spotlightpa/poor-richard/pull/104. (Parcel, like Gatsby, use the .cache directory.)

[2020-05-31 09:26] nathanfallet opened #434 "Use release environment when building with swift"
https://github.com/netlify/build-image/blob/30f629161c0736b1a3ecd8b418e5eeffab5c0faf/run-build-functions.sh#L440

I thing this command build for debug by default, this should be done by using `swift build -c release` instead. This has a huge performance impact (using release can speed up a lot). Same thing if `swift run` is used, should be replaced by `swift run -c release` too.

[2020-06-01 04:51] fernaoguerra commented on #360
Thanks! I was looking for this. Just to make 100% clear.
Create the **runtime.txt**** file in the root of the project and fill it out with one of the options:
[code]
It took me some time to understand it's different than heroku

[2020-06-02 19:10] ianschmitz commented on #113
Any word on this? Lock files should definitely be included in the cache check.

[2020-06-03 01:15] vbrown608 commented on #480
I believe this is happening on the API side - @erezrokah pointed me in the right direction. We track a list of branches we've got a cache for. If some build of a branch (either triggered by a *branch deploy* or a *deploy preview*) has an existing cache, we use it. Otherwise we fall back to the cache for the master branch. However, we only update the list of "branches with an existing cache" on *br

[2020-06-06 00:34] verythorough commented on #386
@ehmicky @Benaiah I'm moving this to the fast-follow milestone. Can you help assign it to the appropriate person?

[2020-06-06 00:41] verythorough commented on #433
Marking this as `type: bug` because it predates Build Plugins work.

[2020-06-06 01:07] Benaiah commented on #386
@verythorough @ehmicky Sure, I can pick up this issue.

[2020-06-08 16:19] seandstewart commented on #221
Could we get this re-evaluated? It seems the latest version of build images breaks this workaround:

https://app.netlify.com/sites/typical-python/deploys/5ede622683dcd06f1b4ff3db

[2020-06-09 00:13] notpushkin commented on #221
I've moved my Python-based sites to GitLab Pages for the time being. There's another option I'm considering but not sure if it's OK to post it here as it's a direct competitor to Netlify :')

[2020-06-09 18:59] #386 closed, assigned to Benaiah

[2020-06-11 03:58] rminderhoud commented on #228
Project contains `runtime.txt` with a value of 3.7. Triggers a deploy failure:

[code]

**EDIT** Nevermind, seemed I was on an old build image since my site predated these changes. I had to manually go into the settings and change to 16.04 and it worked.

Deploy Settings -> Build Image Selection -> Edit Settings -> Ubuntu Xenial 16.04 (default)

[2020-06-11 14:18] merwok commented on #228
Current version is even Python 3.8.3.

[2020-06-12 15:47] corysimmons commented on #53
Please have Netlify pay attention to package.json's `engines` object.

We should be able to:

[code]

and it just work.

Even after prefixing my `build` script with `NODE_VERSION=14.4.0 YARN_VERSION=1.22.4` I get version errors on Netlify. Do you guys _just_ support a few versions of Node/yarn???

Versions (specifically Node/npm/yarn) has been a goofy problem since Netlify was created and has prob

[2020-06-12 18:20] nolessafool commented on #53
As far as I know, our builds should support every released version of node  and yarn.  It is the specific inclusion of the `engines` line that may be problematic, or at best won't work.

If you'd like to link us to a failed deploy logs page once you've set `$NODE_VERSION` and `$YARN_VERSION` and removed the `engines` settings frompackage.json - probably best done by a [post in our community](https

[2020-06-12 21:21] corysimmons commented on #53
No worries. This is where I ended up from googling something like `netlify engines` so I figured I'd drop a screenshot for others.

[2020-06-16 08:09] ogazitt commented on #221
@seandstewart I've observed the exact same issue.  Have you been able to work around it?

[2020-06-16 09:54] daisylb commented on #221
Removing the `restore_home_cache` and `restore_cwd_cache` lines works for me. Unfortunately, that means those directories are no longer cached, but the builds work so 🤷‍♀️

[2020-06-16 12:26] seandstewart commented on #221
@ogazitt - I resolved to use a pre-commit hook to export my project's dependencies.

I have a starter one here: [pre-commit-poetry-export](https://github.com/seandstewart/pre-commit-poetry-export)

Unfortunately, I now have a use-case where I need to install my package in editable mode alongside the package dependencies, so this won't work for me. 😑

@Benaiah apologies for the direct tag, but do y

[2020-06-16 20:47] ogazitt commented on #221
Thanks @excitedleigh - I tried the same thing and it worked (without the caching of course).
Also thanks @seandstewart - great tip - I will try the pre-commit hook approach.

[2020-06-17 19:36] vbrown608 opened #438 "Preinstall Ruby 2.6.2 in addition to 2.7.1"
We upgraded that default Ruby version installed in this container to 2.7.1, but most users are still pinned to 2.6.2.

We should preinstall that version too, so that their builds won't be slowed down - especially because they may not even be using Ruby at all.

[2020-06-19 13:43] ehmicky commented on #196
Please note a workaround for some of the problems in this issue is ongoing at #440. It allows detecting Yarn using the environment variable `NETLIFY_USE_YARN=true` instead of only checking for the presence of a `yarn.lock`. Any feedback welcome on that PR :)

[2020-06-22 03:34] dwilt commented on #196
FWIW, we tried endless ideas to solve this and even tried [@slawekkolodziej's super clever idea](https://github.com/netlify/build-image/issues/196#issuecomment-616236754) but couldn't get that to work either as no folder was able to be cache manually by us.

We have switched over to doing our builds on Github Actions via [Netlify Actions](https://github.com/marketplace/actions/netlify-actions) and

[2020-06-23 19:12] vbrown608 commented on #438
This is done.

[2020-06-23 19:12] #438 closed, assigned to nobody

[2020-06-23 19:14] vbrown608 opened #441 "Add Docker image size change to PRs"
When we evaluate PRs to this repo, we want to able to easily answer the question, "how much would this add to the size of our build image?" We could create a github action to add that information to the PR.

[2020-06-23 19:49] chadly commented on #196
For anyone else frustrated with the lack of support for caching yarn workspaces, I also went @dwilt's route and implemented a GH action to set env variables based on what branch name is building. This is similar to how you can define variables for different contexts in netlify.toml. Check it out here: [production-environment-variables](https://github.com/marketplace/actions/production-environment-

[2020-06-25 11:18] arlyon commented on #228
@bcomnes Can this be closed or is there still work to be done?

[2020-06-25 17:50] bcomnes commented on #228
Not sure, no longer personally contributing to this codebase.  My apologies.

[2020-06-25 18:08] pradyunsg commented on #228
@arlyon: based on @rminderhoud's comment above, I think Python 3.7 is available as part of the Ubuntu 16.04 image (I haven't tested this myself)

[2020-06-25 18:14] arlyon commented on #228
Since this is possible (been using the image myself no problem) I'll close even if it's not the default and hopefully people will find this issue. Cheers all

[2020-06-25 18:14] #228 closed

[2020-07-01 13:05] johnykifle opened #444 "Submodules do not get copied on cloning to container"
When building a site, git submodules never get cloned with the repo to container.

[2020-07-01 22:12] vbrown608 commented on #380
Unfortunately because of the way the filesystem is organized in our build system, copying from the cache to `$home/.cache` doesn't have good performance. We're going to make caching of that directory more restrictive with https://github.com/netlify/build-image/pull/443.

@ehmicky what do you think about setting `CYPRESS_CACHE_FOLDER=./node_modules/CypressBinary` (or some other location within `./n

[2020-07-02 11:36] maks opened #445 "Request: Add support for dart-sitegen"
I would like to use [dart-sitegen](https://github.com/MikeMitterer/dart-sitegen) directly on Netlify as my static site generator.

I know that Netlify seems to mainly only support using node based ssg's, but I did notice that Zola is supported on Netlify even though its not node based, I'm guessing because its a single no-dependency exe (built in Rust) and dart-sitegen can also be compiled into a

[2020-07-02 21:42] nolessafool commented on #444
You can work around this, though it is not very elegant, it should unblock you:

You can manually copy it over.  While it isn't cloned into the container automagically, you can manually access the `/opt/repo` directory from the build image, to see the "local" filesystem and copy things off of it - for instance the submodule.

To get things started, in the build image, you'll have to run a "dummy"

[2020-07-02 21:43] nolessafool commented on #444
customers in the helpdesk/community to notify of a fix:

- Enterprise customer: https://netlify.zendesk.com/agent/tickets/33962

[2020-07-02 21:54] johnykifle commented on #444
Appreciate for the help.

I actually have tried that yesterday . see the attached screenshot.

But after copying the submodule manually , am getting error

[code]

[2020-07-05 08:03] maks commented on #445
Sorry I've actually realised that this is not needed as because I can compile dart-sitegen into a no-deps binary, I can just include it in my repo and have it work just fine with Netlify.

[2020-07-05 08:03] #445 closed, assigned to nobody

[2020-07-07 12:38] morancj opened #446 "Make this repo more accurately reflect Netlify builds"
According to https://github.com/netlify/build-image/issues/118#issuecomment-364566072,

That's not quite correct, as [README.md#build-environment-variables](https://github.com/netlify/build-image/blob/d88c90a6b5faa7b239044fb80220759b377b1727/README.md#build-environment-variables) states:

I propose:

- Move the `git submodule` operation somewhere more visible;
- Stop overwriting `/usr/local/bin/bu

[2020-07-08 01:36] jcayzac opened #447 "Feature request: Add PNPM support"
**Which problem is this feature request solving?**

[pnpm](https://pnpm.js.org/) is a robust, mature dependency manager for Node.js projects, and is much faster than npm and yarn. It elegantly [solves npm doppelgängers problem and has stricter module resolution, solving yarn ghost modules](https://rushjs.io/pages/maintainer/package_managers/).

Currently, Netlify users need to use [workarounds](ht

[2020-07-13 16:07] ehmicky commented on #447
Hi @jcayzac,

This sounds good!

Would you like to submit a PR?

[2020-07-14 09:35] jcayzac opened #448 "CONTRIBUTING.md could get some love"
On the plus side, the guide is really short and easy to abide by 😄

[2020-07-21 12:42] ehmicky opened #451 "Cache Gatsby builds by default"
(Part of the "Speedy builds" engineering effort)

Many users are using Gatsby.
We should [cache its output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) by default, without having to use a Build plugin.

The success of [`netlify-plugin-gatsby-cache`](https://github.com/jlengstorf/netlify-plugin-gatsby-cache) validated the need fo

[2020-07-21 12:55] ehmicky opened #453 "Cache Hugo builds by default"
(Part of the "Speedy builds" engineering effort, see [Notion doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#a6ffaa9159dd4fba87e9d07365955e6b) and [usage data](https://app.mode.com/netlify/reports/f2635151ec2e))

We should [cache Hugo output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) by d

[2020-07-21 12:56] ehmicky opened #454 "Cache Next.js builds by default"
(Part of the "Speedy builds" engineering effort, see [Notion doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#a6ffaa9159dd4fba87e9d07365955e6b) and [usage data](https://app.mode.com/netlify/reports/f2635151ec2e))

We should [cache Next.js output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) b

[2020-07-21 12:58] ehmicky opened #455 "Cache Nuxt.js builds by default"
(Part of the "Speedy builds" engineering effort, see [Notion doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#a6ffaa9159dd4fba87e9d07365955e6b) and [usage data](https://app.mode.com/netlify/reports/f2635151ec2e))

We should [cache Nuxt.js output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) b

[2020-07-21 13:01] ehmicky opened #456 "Cache Eleventy builds by default"
(Part of the "Speedy builds" engineering effort, see [Notion doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#a6ffaa9159dd4fba87e9d07365955e6b) and [usage data](https://app.mode.com/netlify/reports/f2635151ec2e))

We should [cache Eleventy output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666)

[2020-07-21 13:04] ehmicky opened #457 "Cache Jekyll builds by default"
(Part of the "Speedy builds" engineering effort, see [Notion doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#a6ffaa9159dd4fba87e9d07365955e6b) and [usage data](https://app.mode.com/netlify/reports/f2635151ec2e))

We should [cache Jekyll output](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) by

[2020-07-21 16:09] safoo commented on #451
I really like making this work out of the box.

I imagine we'd print instructions for how to override the auto-cache as well?

[2020-07-21 16:54] ehmicky commented on #451
At the moment, we don't provide a way to turn off any of the caching [that we do by default](https://github.com/netlify/build-image/blob/68f5e4d1306f77b1959f42795d4901c8974b4fd8/run-build-functions.sh#L666) (Ruby, Bower, Node modules, Python virtualenv, WAPM packages, Swift, Pip, Maven, etc.).

In the vast majority of cases, I think caching the Gatsby build should improve performance, and we might

[2020-07-22 04:41] jlengstorf commented on #451
"clear cache and deploy" is the opt out, I think? users can manually opt out by running `gatsby clean && gatsby build`

no-opping the plugin seems reasonable for sure

[2020-07-23 12:03] ehmicky commented on #451
The directories we currently cache by default are unique to specific projects. For example, if a user has `node_modules`, we can infer they are using Node.js. For Gatsby though, [we are caching](https://github.com/jlengstorf/netlify-plugin-gatsby-cache/blob/5dfb7340c79fecde23b43a780814a9de634af31b/index.js#L3) the publish directory (and also the `.cache` in the parent directory).

The first thing

[2020-07-24 23:02] jlengstorf commented on #451
checking for `gatsby-config.js` is a reasonable heuristic, but not a guarantee — it's _technically_ possible to ship a Gatsby site that is _only_ a `src/index.js` page

if we want to be super sure, we'd want to parse `package.json`, but that could be a one-time op, right? after that we could set a flag for what type of site we're building

if we detect that it's Gatsby, maybe we can also parse the

[2020-07-25 11:53] ehmicky commented on #451
Thanks for all the details @jlengstorf!

[2020-07-28 01:34] verythorough commented on #441
Adding to discovery for speedy builds. Also linked in the appropriate section of the [solutions research doc](https://www.notion.so/netlify/Solutions-research-817afa65f3174d8ea58b067e91562ede#fce58d65a1294b08a4b3c0173794d2ba).

[2020-07-29 17:23] erquhart commented on #447
Closing - details here: https://github.com/netlify/build-image/pull/449#issuecomment-665674824

Please follow https://github.com/netlify/build/issues/1633 for more.

[2020-07-29 17:23] #447 closed, assigned to nobody

[2020-07-30 01:01] #402 closed, assigned to nobody

[2020-07-30 17:06] #353 closed, assigned to ehmicky

[2020-08-01 06:14] andrew-pyle opened #464 "Elm 0.19.1"
Is there a possibility of providing the latest version of the elm compiler in this build image (0.19.1), rather than an old version (0.19.0)?

I'm able to to deploy elm projects via Netlify with just a Makefile, and I love it. I use npx in the Makefile to obtain dependencies for the build. The issue is that the `npx elm make`  command uses the elm compiler already present (0.19.0), not the latest

[2020-08-03 11:30] ylemkimon commented on #319
The workaround for packages not being cached is setting the environment variable `YARN_GLOBAL_FOLDER` to `/opt/buildhome/.yarn_cache` and `YARN_ENABLE_GLOBAL_CACHE=1` in Netlify settings. Note this depends on the _undocumented_ path in https://github.com/netlify/build-image/blob/5159a4be00a042d42ec5f03647f823057e943bbc/run-build-functions.sh#L10 https://github.com/netlify/build-image/blob/5159a4be

[2020-08-03 12:42] ylemkimon opened #466 "`test-tools/test-build.sh` doesn't call `cache_artifacts`"
From README.md:

I've expected `test-build.sh` to run `cache_artifacts` after the build command, but it doesn't and artifacts are not cached.

[2020-08-03 22:29] gwk commented on #431
@erans just a suggestion: it might be worth opening a separate issue regarding your need for a flag.

@Pieparker I have been waiting for python 3.8 support for many months, and I'm starting to think that 3.9 will be out before Netlify even looks into it. I want to be your customer, and I've contacted multiple people about this problem, but I'm beginning to think I should just go elsewhere. Is ther

[2020-08-12 21:58] vbrown608 commented on #362
Fixed by #363 - thanks again @duckinator !

[2020-08-12 21:58] #362 closed, assigned to nobody

[2020-08-13 17:26] nolessafool commented on #431
@erans there is a separate feature request for that, which you might be interested in:  https://github.com/netlify/build-image/issues/398

[2020-08-13 17:42] erans commented on #398
+1 !!!!!

[2020-08-14 01:09] DeadWisdom commented on #431
I'm writing a tutorial for Flask developers to build static sites and push to Netlify. It will be seen by many.

It would be awesome if some of the basic build ops tools are available by default simply because it's easier for learners. Python, Ruby, Node, etc. We should have the latest versions.

Please make this more than low-priority.

[2020-08-14 18:29] nolessafool commented on #431
@gwk Sorry to report that we can't just slam everything that is requested into the build image.  For transparency's sake, let me explain some reasons why we don't implement everything that is requested, even if it makes obvious sense, and even if a PR is provided:

- the testing and rollout of changes to our build image take substantial staff and wall clock time - this is:
   - do our best not to

[2020-08-14 20:52] erans commented on #431
I see and understand. My specific concern was that the image build detects
our Pipfile and tries to install it. It fails because we use Python 3.8.
We don't even need Python to build  the API documentation part that we use
so having a flag to skip this check is all that we need :-)

On Fri, Aug 14, 2020 at 11:30 AM chris (fool) mccraw <
notifications@github.com> wrote:

[2020-08-15 00:08] nolessafool commented on #431
Yup @erans  - and that's why I suggested you follow that other feature request since it's the more relevant one - you want to disable python, not have us waste time installing unused dependencies ;)

[2020-08-15 11:11] gwk commented on #431
@fool thank you for the detailed explanation. This kind of communication helps a great deal. I completely agree that ideally any python version you want could be installed on the fly. I just hope that Netlify recognizes its chicken-or-egg customer problem here, and that it is getting worse as the versions tick by. You have only 1% of your customers using python in part because from the perspective

[2020-08-17 06:46] defce74 commented on #398
same issue I'm using Pelican SSG on Ubuntu 20.04 with Python version 3.8.2.. just deployed to Netlify but am building my website locally, pushing my "output" dir to github and then Netlify just deploys my output directory without building as I was getting errors (even with python 3.7). however I noticed while trying to build remotely (on netlify) a similar error message to @sileht :

12:58:51 PM:

[2020-08-20 10:39] x5engine commented on #53
just set the NODE_VERSION: Sets the Node.js version.
on env variables
https://docs.netlify.com/configure-builds/environment-variables/#deploy-request-notifications

[2020-08-21 08:11] ignore-prior-instructions commented on #141
Just for the record, I ran into this today and it's preventing me from using the service. :(

Our frontend is built with node and can be served as a static html/css.  I'd like to build and host this with netlify.
Our backend is built with python and hosted on heroku, which uses the `python-3.7.2` format, while netlify uses `python-3.7`.

Both services are hard-fast fixed on their format, so we can

[2020-08-27 19:29] mrfambo opened #468 "Netlify and lerna Difficulties"
My project structure looks like this:
[code]

In Each site build settings. i do provide a build command `lerna bootstrap && lerna run build:portal` in case of portal and in case of Doctor the site comes up with its own build command.

ITS WORKING LIKE A CHARM.

Now here is the freaking problem: **"How to stop build on Doctor if i changed Portal only or vice versa"**

Here is what i am doing now an

[2020-08-27 19:38] mrfambo commented on #468
In build logs:
`12:37:41 AM: Detected ignore command in Netlify configuration file. Proceeding with the specified command: '$DIFF'`

[2020-08-28 20:25] ricokahler commented on #480
If the cache doesn't currently work in the deploy preview, can we document that somewhere in the site or in the READMEs?

It's totally fine if that's the way it works, but I just spent my whole day trying to debug why the build cache wasn't working just to find out it was because the cache doesn't work in the deploy preview 😅

[2020-08-30 12:59] nolessafool commented on #398
@defce74 looks like you've tried to set a version of 'python-3.7'.  That'll lead to failure like the one you describe.  Use `3.7` instead and i bet your build works.

[2020-08-31 13:56] lukeramsden commented on #398
I'd also like to be able to only install dependencies for certain packages in a monorepo. My React Native as well as various backend package dependencies are causing the yarn install to take a lot more time.

[2020-08-31 14:01] sileht commented on #398
This ticket is not about python version, but allowing to skip the python build entirely (as runtime.txt is used by other tools that support all python versions while netlify does not )

[2020-08-31 18:19] ehmicky opened #469 "Better error handling of `nvm` and `nodejs.org/dist`"
We run `nvm install` to check what the latest matching Node.js version is (e.g. `NODE_VERSION` `12` would match `12.18.3`), and download it unless it is available locally:

https://github.com/netlify/build-image/blob/450c24b893036c2813a0b0d0a2a05bcdd81935a4/run-build-functions.sh#L221

Even if the desired Node.js version is already available locally, we still need to use `nvm install` (and make an

[2020-09-09 04:21] keegan-lillo commented on #466
I wonder if this is maybe due to how slow it is?

I tried with:

[code]

And it was extremely slow. Probably due to it copying the files uncompressed between the docker container and my local files.

[2020-09-15 16:33] bebraw opened #472 "Add support for Deno 1.4+"
[Deno](https://deno.land/) is an up and coming alternative to Node.js that's treating TypeScript as a first class citizen. Lately static site generators built around and have become to arise and it's starting to gain popularity within the community.

I hope you can consider adding it to the default build image of Netlify. As an interrim solution, it's possible to install Deno there using a script

[2020-09-16 19:28] ModestMC commented on #464
Hey, so I'm planning on trying to make a PR to add support for this. I'm not too familiar with elm so if you're still interested in trying to get 0.19.1 to work let me know!

[2020-09-16 20:39] ModestMC commented on #464
I think I figured out what needs to be modified in [the dockerfile](https://github.com/netlify/build-image/blob/xenial/Dockerfile) but I won't be able to test it on my local machine until Friday before submitting a PR.

[2020-09-16 20:59] andrew-pyle commented on #464
@ModestMC Great! I'd be glad to work with you on this. However, I have never run a local netlify build, so I wouldn't be able to easily test it without the web interface.

**If the result of `elm --version`  during a build is `0.19.1`, that would be considered a solution for me!** (rather than `0.19.0`).

Basically, the elm compiler (`elm` on the command line) needs a global installation, like nod

[2020-09-22 11:08] edmorley commented on #141
@abitrolly Hi! Thank you for filing this. I 100% agree this is something we should support. Whilst some projects will always want to specify an exact Python version to ensure determinism/allow control of when the upgrade occurs, there are likely many more that would like to not have to think about patch updates and have them be performed automatically.

Some thoughts that came to mind:
1. What syn

[2020-09-22 11:20] edmorley commented on #141
(Sorry previously commented on the wrong tab! I've moved that comment to: https://github.com/heroku/heroku-buildpack-python/issues/913#issuecomment-696655767)

@sover02 Hi! Since I filed this issue I've now become the Python owner at Heroku, and as such am in a position to try and improve this from Heroku's side. We want to add "flexible versions" support to the Heroku Python buildpack (see heroku

[2020-09-22 16:10] ignore-prior-instructions commented on #141
@edmorley, that's fantastic!  I'm excited to possibly make use of both services :)

For what it's worth, I think a simple solution is sight on the netlify side - we could just allow runtime.txt to be ignored. :)

[2020-09-25 21:38] ModestMC commented on #464
Hey @andrew-pyle, very happy to have you aboard! So, updates:

* I got access to the machine I needed to be able to use docker and currently have it installed.
* I followed along with Netlify's build guide on this repo, and replicated the "wrong elm version lol" issue
* I then cloned this repo, modified the Dockerfile to have the updated version of Elm, and tried using the script they have laid ou

[2020-09-26 14:45] timothy-kodes commented on #157
No unfortunately still waiting for support also.

[2020-09-26 14:50] timothy-kodes commented on #341
Please!!! add this. 2020 :)

[2020-09-27 08:50] YJPL commented on #157
Not sure, but it might help to change your build image settings: https://community.netlify.com/t/build-fails-with-convert-delegate-failed-cwebp-quiet-imagemagick-issue/7714/8?u=yjpl

[2020-09-27 13:33] clintonb commented on #157
@YJPL you linked to an error message that occurs for Ubuntu 16.04. What settings do you think will resolve this issue? Changing Ubuntu versions does not resolve the issue.

[2020-09-27 13:41] YJPL commented on #157
It doesn't work with Ubuntu 16.04 for me, the build breaks. 14.04 works fine.

[2020-09-27 14:38] Sota-Watanabe opened #473 "Can not Installing node by /opt/build-bin/build npm run build"
I want to use Netlify Build Image.
so followed the tutorial.

[code]

But an error occurred.
I can't seem to install node.

[code]

Can someone please help me?

[2020-09-27 15:48] clintonb commented on #157
Got it. Note for others: if you see errors about Bundler versions (e.g., 2.1.4 not supported), set the `RUBY_VERSION` environment variable to your Ruby version (e.g., 2.7.1).

[2020-09-27 17:49] timothy-kodes commented on #157
So I had to use 14.04 to get my site to work with webm probably because you did add the PPA for imageMagick. But why not do the same with Ubuntu 16.04 ? Also please update the correct version you managed to add to the build image on: [https://github.com/netlify/build-image/blob/trusty/included_software.md](https://github.com/netlify/build-image/blob/trusty/included_software.md) it still says image

[2020-09-27 17:53] timothy-kodes commented on #157
If you set ruby version 2.7.1 using the ubuntu 14.04 it will significantly slow down the build. I went from 29 sec on ubuntu 16.04 to 4.36 minutes on 14.04

[2020-10-01 12:10] ehmicky opened #476 "CI builds are failing"
CI builds are failing due to some issue related to Wasmer.

[Example of failed build](https://jenkins.ops.netlify.com/blue/organizations/jenkins/build-image/detail/xenial/68/pipeline):

[code]

[2020-10-02 18:37] kaganjd opened #478 "Log if we didn't find cached node modules"
An enterprise customer reported that his build time increased between builds for no apparent reason. He traced this back to the fact that we were installing fresh node modules (as opposed to cached) in the latter build due to a mistaken package.json change. But the logs were a bit misleading on this:

**First deploy**
[code]
**Second deploy**
[code]

**Expected**
Instead of printing "restoring cac

[2020-10-03 18:57] calavera commented on #476
I've removed wasmer in #474. It has never been used in the last year, according to logs, and you can install it with homebrew.

[2020-10-03 23:39] bsgreenb commented on #432
Bumping this.  Netlify should be fixing this if they're going to advertise their monorepo support https://www.netlify.com/blog/2019/10/09/launching-monorepo-support-for-netlify-sites/

[2020-10-05 11:53] timothy-kodes commented on #157
Btw I just switched to gatsby. So nice!

[2020-10-07 18:04] kamsar opened #479 "Support for caching yarn workspaces' node_modules"
**Which problem is this feature request solving?**

https://community.netlify.com/t/gatsby-js-yarn-workspaces-and-caching-node-modules/6571

Given a structure such as this with Yarn Workspaces:

[code]

We need to set our base directory to `packages/package1` so that the netlify.toml is read correctly. However doing this means `/node_modules` is NOT cached, only `/packages/package1/node_modules` w

[2020-10-07 18:09] ehmicky commented on #479
Hi @kamsar,

Thanks for filing this issue.
This is a feature we are currently missing.
This has been already reported in #399, #196, #432 and #433. Also related to #465.

[2020-10-08 07:04] Sota-Watanabe commented on #473
It was due to the inability to resolve names.
So, I've rewritten build-image/test-tools/start-image.sh

#!/bin/bash

BASE_PATH=$(pwd)
REPO_PATH=$(cd $1 && pwd)
: ${NETLIFY_IMAGE="netlify/build:xenial"}

[code]

Add resolv.conf to allow name resolution

[2020-10-08 07:04] #473 closed, assigned to nobody

[2020-10-08 17:51] eps1lon commented on #480
What I'm currently not understanding is why we're able to set a digest for saving but not restoring. How does netlify even determine which cache to use? In all CI providers with caching I'm familiar with you have a single "cache"-task with a digest that can contain strings and files. The CI provider then uses this for saving *and* restoring. I should be able to do the same ([Azure cache](https://d

[2020-10-12 14:02] revmischa opened #481 "NPM v7 Image"
Would be great to have a npm v7 (beta for now) image to support NPM workspace-based monorepos. Thanks!

[2020-10-12 22:57] andrew-pyle commented on #464
@ModestMC I went through the same process as you did, and got stuck trying to build a new version of the docker build image (to replace netlify/build:xenial on dockerhub). I just forked this repo and ran `docker build .` This new docker image was not able to run any build scripts—I got errors I didn't quite know what to make of.

I believe the command used to build the docker image is in the [Jenk

[2020-10-12 23:37] andrew-pyle commented on #464
@ModestMC I went ahead and opened a PR for this change, to hopefully get someone in this conversation who knows more than we do.

[2020-10-17 17:57] kaganjd commented on #478
Ran into this again with a Pro customer, ticket # 41164 (internal)

[2020-10-27 14:14] armincerf opened #485 "Cache dependencies for clojure projects using Tools.deps.alpha in addition to Leiningen and boot"
Currently Netlify will only cache dependencies in Clojure projects if there is a valid `project.clj` or `build.boot` file, which are used by the Leiningen and Boot build tools.

However Clojure now has an official API for dependency management and uses a `deps.edn` file rather than the `project.clj` or `build.boot` files used in older build tools.

It makes sense to add support for `deps.edn` file

[2020-10-30 14:11] depadiernos commented on #476
@ehmicky, were you able to look if the PR that @calavera mentioned can be merged to resolve this issue?

[2020-10-30 14:35] ehmicky commented on #476
Yes, I think this should solve the issue.

[2020-11-02 15:51] depadiernos opened #488 "Make build-image more streamlined"
As a user, I want to have a build-image that is more streamlined with less hardcoded dependencies. Since we now have Homebrew integrated with the build-image, most of things that gets installed automatically can be installed as part of the build command.

[2020-11-07 00:12] kaganjd opened #492 "Only cache one version of Node"
We noticed that a customer had two versions of Node in their build cache: v14 which they set two weeks ago, and v12 from before that.

Vivian pointed out that this happens here:
https://github.com/netlify/build-image/blob/ccf90c32620e828d060aa71ac6e1760eda71f432/run-build-functions.sh#L685-L691

We should only cache one version. It seems like we're doing that already with Ruby and Swift, so not su

[2020-11-09 17:05] depadiernos opened #493 "Provide a way to run code before build dependencies are installed."
Similar to https://github.com/netlify/build/issues/1149, as a node user, sometimes, I would need to run some command before `npm install` is run so that my build will not fail. One scenario where this will be useful is described here: https://community.netlify.com/t/common-issue-using-private-npm-modules-on-netlify/795/33

[2020-11-09 20:39] opdavies opened #494 "Specify the version of Composer"
The Netlify build is currently using version 2 of Composer, however not all plugins are yet Composer 2 compatible so it would be great if there was a way to specify the version of Composer (or at least 1 vs 2) that is installed.

[2020-11-09 22:33] naderman commented on #494
In general the installer script used [in your Dockerfile](https://github.com/netlify/build-image/blob/xenial/Dockerfile#L400) is also quite outdated ([see diff](https://github.com/composer/getcomposer.org/compare/72bb6f65aa902c76c7ca35514f58cf79a293657d...master#diff-9e7a2732fae54d9df81136bc22e10538cb307a1af3301b884f3e6327a282306b))

It seems like this was copied from the bottom suggestion at http

[2020-11-13 19:41] kaganjd opened #496 "NPM_FLAGS doesn't handle more than one flag"
[Someone in Community](https://community.netlify.com/t/how-to-set-npm-flags-environment-variable-properly/25552/) ran into an issue setting NPM_FLAGS to `--verbose --only=prod`. The deploy logs show this error:
[code]
which looks like what should have been `npm install --verbose --only=prod` became `npm install only="prod --verbose" `

When I made a repro, I found that setting NPM_FLAGS to either

[2020-11-13 22:59] kaganjd commented on #480
Netlify Support here 👋🏻  Exciting update: this has been fixed 🎉

Check out the community post for more details: https://community.netlify.com/t/build-cache-is-now-updated-in-deploy-preview-builds/26344

[2020-11-17 14:40] mcmxcdev opened #498 "Upgrade preinstalled Node version to 14.x.x LTS"
Node 14 is available since a couple of months and is now the new LTS version in place of Node 12.

It's useful to me to get rid of the Node experimental modules warning when building a project.

[2020-11-18 22:55] nolessafool commented on #496
While this may kinda be working as designed - the build-image shell script is full of interesting shell tricks that lead to situations like this -  I think we can all agree that it is not working as anyone would intend, so we called it a bug.  Feel free to disagree and change to type: feature and remove from your board.

[2020-11-22 21:18] yordis commented on #53
Any updates on respecting `engines.node`?

[2020-11-25 18:38] joshqn commented on #383
I'm experiencing the same issue. When I removed the "BUNDLED WITH" from the Gemfile.lock and deploy that it works. The bundle version used instead on my local 2.1.4 version is 2.0.1 on the Netlify server.

[2020-11-25 22:27] nolessafool commented on #492
Not certain you'd call this a bug - tis probably operating as designed - but, I think, not as intended and not as customers desire :)

[2020-11-30 23:57] #480 closed, assigned to erezrokah

[2020-12-02 05:25] vbrown608 opened #501 "Move Homebrew support out of alpha?"
On 11/10 we [added Homebrew to the build image](https://community.netlify.com/t/now-in-experimental-alpha-homebrew-access-in-the-build-image/26074) with the caveat that it's in alpha and subject to change. We should decide whether we're happy with the current configuration and we're ready to raise the visibility with more formal documentation.

[2020-12-02 21:03] calavera commented on #501
We've been using it to publish https://api.edge-handlers.dev/ for a few months and it works fine. I have not checked community.

[2020-12-02 21:35] calavera commented on #476
CI should be back to normal now that wasmer is not in the image anymore. Any other issue should be open separately.

[2020-12-02 21:35] #476 closed, assigned to nobody

[2020-12-03 13:10] micleners commented on #53
Pinging here again to see if this is moving to `package.json`.
I found this issue from this support forum: https://community.netlify.com/t/specifying-a-node-version/9701

[2020-12-03 18:19] calavera commented on #501
It looks like the install script has changed somehow and now it tries to install homebrew as if the buildbot user had sudo access:

https://github.com/Homebrew/install/blob/master/install.sh#L15-L20

We should probably pin the script url to something that's not `master` before we make it stable:

[code]

[2020-12-03 18:39] calavera commented on #501
This should fix the problem https://github.com/Homebrew/install/pull/366

[2020-12-06 07:05] jglovier commented on #383
I have the same issue, and found a workaround by downgrading my local bundler to `2.0.1` and generating a new lockfile. I then also had to add
[code]
to my `.travis.yml` file to get it to pass Travis with my `Gemfile.lock` generated by an older version of Bundler.

Wheeeeeee!!!

[2020-12-06 07:23] jglovier commented on #383
Update: I ran across a [similar thread](https://community.netlify.com/t/deployment-fails-for-latest-jekyll-4-0/4683) on the Netlify community site, which referenced [this article](https://www.netlify.com/blog/2019/03/14/a-more-flexible-build-architecture-with-updated-linux/) about an updated build image, and flipped it on for my Netlify site, reverted all these crazy changes, and it just works now

[2020-12-07 22:15] #293 closed, assigned to nobody

[2020-12-08 19:50] nolessafool commented on #53
thanks for the ping @micleners !  Any updates to this functionality will be posted in this thread :)  None are planned today as far as I know.  The workarounds listed here continue to be our best advice for today.

[2020-12-09 00:26] bdelamotte opened #503 "Request to add sasl package to default image"
Would it be possible to add the libsasl2-dev package into the default image? The Netlify data team is trying to build Netlify with Netlify by building our internal dbt docs site with Netlify Build. Our requirements file looks like this:
[code]
and our netlify.toml like this:
[code]
It appears that before the build command runs, the requirements.txt file is getting picked up and the requirements st

[2020-12-09 01:20] vbrown608 opened #504 "Document Rust support and move out of alpha"
Today we added `rustup` to our default build image (https://github.com/netlify/build-image/pull/477). Once we see that it's working well, we should promote the change.

[2020-12-09 23:47] davidbarsky opened #505 "#477 seems to have broken `cargo doc`-based documentation previews"
Hello! The (extremely welcome!) changes in #477 appears to have broken our (relatively niche) use-case where we generate documentation previews for each PR send to `tokio-rs/tracing`. I suspect that with the deployment of #447, the `target` directory that's generated by Cargo is no longer available to `publish` step. This is problematic for us as we use contents of `target/doc` as the deployable d

[2020-12-10 00:10] mraerino commented on #505
this is unfortunate, i'm sorry. we actually have a special flag enabled internally which moves caching after the upload step so we didn't see it for ourselves.

for now the workaround will be to manually copy the docs outside of `target`, but i'll try to get a fix in so that we don't move those files.

[2020-12-10 07:42] cecton commented on #505
If you are on a filesystem that supports it you can use CoW instead of move:

[code]

https://www.man7.org/linux/man-pages/man1/cp.1.html

It will be as fast as the move you do but it copies instead so both stay accessible.

cc @mraerino

[2020-12-13 02:49] ianstormtaylor commented on #398
+1 this is frustrating to not be able to disable installing dependencies just because Netlify happens to find them. It would be ideal to be able to have the simplest monorepo by having `./ui` and `./api` folders and have the UI deployed to Netlify and not the API.

[2020-12-15 16:49] bdelamotte commented on #503
@vbrown608 Do you think this is feasible to add this package?

[2020-12-15 23:12] olivier-lacroix opened #507 "Include PDF support (read)"
Hi there,

I am looking to create thumbnails for PDFs during the build process, and it appears current image has no support for this (unless I am missing something).

Would you be open to include PDF support by either
- enabling PDF support in libvips (preferred)
- enabling PDF support in imagemagick

This would require to include additional libs (poppler or ghostscript).

Thanks

[2020-12-16 21:44] vbrown608 commented on #503
Hi Brian! Looking at the logs, I don't see any demand for this package outside of internal use.

I tried pretty hard to get this working with [homebrew](https://community.netlify.com/t/now-in-experimental-alpha-homebrew-access-in-the-build-image/26074). I was moving the homebrew install step above `pip install`, which I think we should probably do anyway.

I was able to install https://formulae.br

[2020-12-17 08:18] franloza commented on #503
`sasl` module is used in the package `thrift-sasl` of `dbt-spark`. Currently, we are using `http` connector instead of `thrift` so I don’t think we need this package. I’ve tried to create a new environment, uninstall `sasl` and run` dbt compile` and it seems to work.

My suggestion is the following: Run the build pipeline with Pipenv.
If we create the dependencies with pipenv and we uninstall `sas

[2020-12-18 04:33] mainej opened #508 "Bug: 'target' can't be a deploy directory anymore"
I have a project that compiles into the `target` directory, a sub-directory of my repo. My site is configured to use `target` as the 'deploy' directory (aka the 'publish' directory, I think.) This was working until recently.

Recent changes to this `netlify/build-image` mean that it assumes every project is a rust project, regardless of whether the project uses rust, and that therefore `target` is

[2020-12-18 06:07] mainej commented on #508
Confirmed: after changing the build (aka publish) directory from `target` to `release`, my site deployed successfully.

[2020-12-18 16:15] plum-dawg commented on #479
Has there been any movement on this issue?

[2020-12-18 16:21] plum-dawg commented on #196
How were you able to cache properly via this action?

[2020-12-21 05:54] denis-sokolov commented on #113
This issue breaks security updates. “npm audit fix“ updates sub-dependencies. It does so by changing the lock file, not the package.json file. Netlify builds and deploys a new version of the website, but it silently uses old, cached versions.

This breaks the workflow with npm 7 workspaces. The top-level package.json seen almost no changes in that version. Dependencies are described in nested pack

[2020-12-21 06:51] denis-sokolov opened #512 "Keep npm dependencies if lock file did not change"
Today any time package.json changes, the npm dependency cache is cleared. But package.json has a lot of meta changes that are irrelevant to the dependency installations, most notably changes to script commands.

A package-lock.json file, on the other hand, contains exactly the information about dependency installation. Thus if package-lock.json is present it should be a good optimization to ignore

[2020-12-23 15:57] bdelamotte commented on #503
Fran has solved this with a different approach which seems to be working great. Closing the issue.

[2020-12-23 15:57] #503 closed, assigned to nobody

[2020-12-25 10:53] kalwalt commented on #504
Hi @vbrown608, there is a documentation or some example available? I'm a kind of novice with Rust and i'd like to try some little Rust project with Netlify.

[2021-01-04 12:56] changke commented on #508
Can confirm. The directory name "target" is kind of "reserved".

[2021-01-07 16:38] vbrown608 commented on #441
Closed by #516

[2021-01-11 19:32] nolessafool opened #517 "provide ruby 3.0.0 support"
Currently, using the latest Xenial build image, one is unable to use the released-christmas-day Ruby 3.0.0.  When trying to follow the documentation and setting a .ruby-version file with the string `3.0.0` in it, this is what occurs:

[code]

I believe an update to rvm has provided 3.0.0 support as I can run locally:

[code]

But in Xenial, an older version does not see that release:

[code]

Look

[2021-01-11 19:35] nolessafool commented on #517
First requested in community, here:  https://community.netlify.com/t/support-for-ruby-3-0/29400
I see about 20 separate attempts to use it since christmas day in our internal logs (cf [this internal slack thread](https://netlify.slack.com/archives/C012GT6MYKU/p1610393677132900) which has a link that you can use to assess for the most recent time window at a later point in time)

[2021-01-11 19:40] vbrown608 commented on #517
Rebuilding the base image will get us the latest `rvm` version (it's not pinned), so I suspect we'll get this for free with our next release.

[2021-01-11 22:11] MikeBeas opened #518 "Don't cache npm packages with version * or which are missing from package-lock"
Hi all, the community team sent me your way this suggestion.

One issue I’m running into a decent amount is related to the build cache. I maintain a private node package that contains a lot of core functionality shared between my sites, like UI components, a bit of shared logic, and an API service to talk to my backend. I mean, who wants to write that stuff more than once? Not me!

Because I fully

[2021-01-11 23:13] dmbaturin opened #519 "Allow installing packages with apt-get"
What's the reason not to allow users to install packages from the standard APT repos?

#411 adds homebrew, but it means everything will be rebuilt from source every time, even tools that are available as binary packages from the repos.

[2021-01-11 23:13] dmbaturin opened #520 "Allow installing packages with apt-get"
What's the reason not to allow users to install packages from the standard APT repos?

#411 adds homebrew, but it means everything will be rebuilt from source every time, even tools that are available as binary packages from the repos.

[2021-01-11 23:14] dmbaturin commented on #520
Sorry, duplicate issue due to some glitch.

[2021-01-11 23:14] #520 closed, assigned to nobody

[2021-01-12 18:02] mraerino commented on #504
i see these as things to fix before GA:
- https://github.com/netlify/build-image/issues/508
- https://github.com/netlify/build-image/issues/505

apart from these it's working fine for our team internally

[2021-01-12 18:17] vbrown608 opened #522 "Run homebrew install before other installs"
We can use Homebrew to install system libraries that may be required by Python/Ruby/Node packages. For that reason, we should run the Homebrew installation step before installing other languages' packages.

[2021-01-12 18:17] vbrown608 commented on #501
I suggest we do https://github.com/netlify/build-image/issues/522 before moving Homebrew out of alpha.

[2021-01-12 18:34] calavera commented on #504
I opened a PR to address both: https://github.com/netlify/build-image/pull/521

[2021-01-14 17:54] #505 closed, assigned to mraerino

[2021-01-14 17:54] #508 closed, assigned to nobody

[2021-01-15 15:35] rstavchansky commented on #504
@kalwalt We've added basic documentation for how to set up Rust with Netlify. You can find it it our technical docs under [Manage dependencies](https://docs.netlify.com/configure-builds/manage-dependencies/#rust).

[2021-01-15 18:14] mraerino commented on #504
a user encountered a problem with the caching when installting a rust crate without a Cargo.toml: https://github.com/netlify/binrc/pull/29#issuecomment-761044840

[2021-01-15 22:47] kalwalt commented on #504
@rstavchansky thank you very much! This is awesome!🙂👍🎉

[2021-01-18 20:18] SeanKilleen commented on #383
@jglovier I'd missed this comment back in December but just tried it and it works excellently! Thank you!

[2021-01-27 05:41] #441 closed, assigned to nobody

[2021-02-02 06:43] denis-sokolov opened #523 "npm preinstall and postinstall scripts are not run"
npm preinstall and postinstall scripts are not run, resulting in breaking builds that are valid outside of Netlify.

This is caused by our caching mechanism only restoring the `node_modules/` directory:

https://github.com/netlify/build-image/blob/d84c79427e8f83c1ba17bcdd7b3fe38059376b68/run-build-functions.sh#L478

And then running npm install conditionally:

https://github.com/netlify/build-imag

[2021-02-02 13:42] Stanzilla commented on #431
Any ETA?

[2021-02-04 02:40] vbrown608 opened #524 "Make cache logging quieter"
## Cache restore

* In most cases we conditionally restore the cache (and log about it), eg. Node and Ruby based on whether we think the cache is needed. In other cases we always restore the cache (even if it would be empty or unneeded), eg Go.
* We log both the start and finish of the restore, eg.
[code]

## Cache save

* When caching from the build directory, we only log if the directory we're t

[2021-02-04 13:19] ehmicky commented on #524
Yes! :100:

Related: https://github.com/netlify/buildbot/issues/682

[2021-02-07 23:53] nelson6e65 commented on #237
Also, an option to customize `composer` args.

[2021-02-11 13:26] JGAntunes commented on #433
👋 Hey folks, I'm trying to pinpoint some of the reported issues around `yarn` usage and caching problems. There seem to be two big groups of reports:
* Monorepo support (`yarn workspaces` and `lerna` repos) - the directory structure still poses a problem to the way we cache things.
* For a regular "non-monorepo" project, `yarn install` re-installs all the packages when no changes were performed.

[2021-02-11 17:38] JGAntunes opened #525 "Support for feature flags within build-image scripts"
Like other parts of our platform, where we support the launch of features and changes under specific feature flags, we would like to have that same kind of support for some of the scripts and features our `build-image` offers. This is key to address issues or trial out new things such as #510 #479 #196 #513 (and probably many others) where we need reassurance that we won't break the platform for m

[2021-02-11 17:42] vbrown608 commented on #525
For context, we've done this in the past by setting an environment variable in buildbot based on a launch darkly flag and checking that environment variable in the build script.

We do pass the full list of enabled flags for the account to the build script, but we probably don't want to put all of these on the environment by default as it might leak information about what feature we're working on

[2021-02-19 16:17] nolessafool commented on #469
Doing exactly what @ehmicky describes would have greatly reduced (perhaps to the extent that nobody noticed - us OR customers) the impact of our incident last night.  It exactly describes the root cause of the "outage" which paged several people and wasted a half hour of their night since it was neither caused by us nor actionable by us.

cf #incident-2021-02-19-high-percentage-of-build-failures a

[2021-02-19 17:29] ehmicky commented on #469
From discussing with @fool and @keiko713, we are proposing tweaking the solution above. Instead of always running the default Node.js version, we would instead try to run the same major Node.js version that users are choosing.

From [fairly recent data collection](https://github.com/netlify/engineering/issues/50#issuecomment-704451333), it appears that:
  - Almost all of our users are not specifyi

[2021-02-21 08:56] erezrokah commented on #469
Linking for context https://github.com/actions/setup-node#v2.
In v2 `setup-node`:
1. Keep images up to date with latest version of each LTS
2. Use their [own repository](https://github.com/actions/node-versions/releases) to fetch versions
3. Fallback to fetch from `https://nodejs.org/dist`
4. Cache versions locally too

So it seems the suggested solution is to do the same except `2.` which sounds

[2021-02-23 19:51] kwshi opened #527 "Add Tectonic (LaTeX engine, PDF typesetting)"
# Proposal
It would be nice if the Netlify build image included [Tectonic](https://tectonic-typesetting.github.io/en-US/).  Tectonic is a modern, well-behaved implementation of the LaTeX engine, which is universally regarded as the industry standard for typesetting publication-quality PDFs.  [Here is an example of such a document made with Tectonic, by one of my close friends](https://intuitiveexp

[2021-02-24 13:07] JGAntunes commented on #518
Hey @MikeBeas 👋 thank you for reporting this. I believe you're essentially being affected by the way we're currently caching the `node_modules`when using `npm`:
https://github.com/netlify/build-image/blob/d84c79427e8f83c1ba17bcdd7b3fe38059376b68/run-build-functions.sh#L149

So this is essentially related to #510.

We're in the process of revising the way we handle `npm install` and `node_modules`

[2021-02-24 13:36] JGAntunes commented on #399
Hey folks 👋

Seems like the original issue reported by @ehmicky has been fixed meanwhile, users can use the `NETLIFY_USE_YARN=true` environment variable to force `yarn` usage in the absence of a `yarn.lock` file in the base directory. For more information on this - https://docs.netlify.com/configure-builds/environment-variables/#netlify-configuration-variables.

Meanwhile, for the cache related is

[2021-02-24 13:36] #399 closed, assigned to nobody

[2021-02-24 13:40] JGAntunes commented on #433
I'm closing this in favour of #432 and #479 as I'm assuming this is a bug report about `yarn` usage with  `workspaces`. Again do let me know if that is not the case and we can re-open it  🙏

[2021-02-24 13:40] #433 closed, assigned to nobody

[2021-02-24 13:41] MikeBeas commented on #518
@JGAntunes Sounds good,thanks for the info! Looking forward to seeing what you guys are working on.

[2021-02-24 15:11] davidsneighbour opened #528 "Typo when cancelling"
I am not sure if this belongs here, please move around if this is related to something else.

I am pretty sure "Canceling" needs to be spellt (pun intended) "Cancelling"

![Selection_116](https://user-images.githubusercontent.com/83281/109021089-22e9b380-76ed-11eb-8734-833cd2ce95de.png)

[2021-02-24 15:13] JGAntunes commented on #196
Hey folks 👋

Since this ended up working as a "catch-all" issue for many different problems with monorepo support on our build system over time, I wanted to clarify what is supported already and what's missing.

**Supported**:
* Currently, you should be able to either rely on a root `netlify.toml` with a `base` directory config on your root project to deploy a single site from your monorepo, or ha

[2021-02-24 15:23] ehmicky commented on #528
Hi @davidsneighbour,

Thanks for reaching out.
Both spellings seem to be correct. This might be a US vs UK distinction.
https://en.wiktionary.org/wiki/cancelling

What are your thoughts on this @rstavchansky ?

[2021-02-24 15:54] davidsneighbour commented on #528
Wow, this is new to me :(

https://books.google.com/ngrams/graph?content=canceling%2C+cancelling&year_start=1800&year_end=2009&corpus=5&smoothing=3&direct_url=t1%3B%2Ccanceling%3B%2Cc0%3B.t1%3B%2Ccancelling%3B%2Cc0#t1%3B%2Ccanceling%3B%2Cc0%3B.t1%3B%2Ccancelling%3B%2Cc0

Looks like Canceling is quite ok. If all responses are AE ;) So no socialising, but always socializing. "it is what it is" ;(

[2021-02-24 16:42] kennyjwilli commented on #485
Are there any known workarounds for the time being?

[2021-02-24 17:20] rstavchansky commented on #528
We use Merriam Webster to confirm American English usage for spelling, and yes, they include both options. So, I agree that what we currently have is fine.
https://www.merriam-webster.com/dictionary/canceling

[2021-02-24 17:22] ehmicky commented on #528
Thanks @rstavchansky.
I am closing this issue, thanks for raising it @davidsneighbour :pray:

[2021-02-24 17:22] #528 closed, assigned to nobody

[2021-02-24 20:59] armincerf commented on #485
The only one I can think off is maintaining a project.clj as well, but that's a bit of a pain

[2021-02-24 21:03] armincerf commented on #485
Actually just looked at the code and seems like it doesn't actually matter what's in the project.clj file, just that it exists. I'll test with an empty project.clj to make sure tomorrow but if that works then it will be easy to check for project.clj or deps.edn as they will both be cached in the same way.

I will make a PR when I get around to it if that's the case.

[2021-02-24 22:35] kennyjwilli commented on #485
I think that will work well for most cases. Our build currently eats up ~2.5 mins of downloading deps on every build haha.

The one exception is that deps.edn allows for Git deps which are stored in `~/.gitlibs` (by default. [See docs](https://clojure.org/reference/deps_and_cli#_git)).

[2021-02-25 15:16] #196 closed

[2021-02-25 15:46] verythorough commented on #454
Closing because we're now handling this with the Essential Next.js plugin.

[2021-02-25 15:46] #454 closed, assigned to nobody

[2021-02-28 00:04] thexavismith commented on #383
@jglovier thank you for saving me so much time today!

[2021-03-02 00:16] anthonyquizon commented on #345
How do you set the `base` option when running build-image in a local docker instance?

[2021-03-02 17:01] AoDev commented on #196
@JGAntunes Is there currently a full guide about using monorepos with Netlify?

Our case is a bit extreme because we have dependencies that need to be compiled and it takes a lot of time. Each git push leads to recompiling the exact same dependencies 4 - 5 times (once per site) which is very slow and costly.

So we are not sure of what's the correct way to go about it with the current capabilities

[2021-03-02 20:50] tylerbrostrom commented on #196
@JGAntunes thank you for the clarification!

I need to test out the following (haven’t yet because I should be working). It could be a promising pattern (assuming it works) for deploying monorepo projects containing multiple Netlify sites with shared local dependencies. It assumes the use of npm v7 workspaces.

Say we have a monorepo project using npm v7 workspaces. It contains multiple Netlify si

[2021-03-03 11:43] JGAntunes commented on #196
@AoDev we've got some base documentation here - https://docs.netlify.com/configure-builds/common-configurations/#monorepos. We have something more thorough being worked on. Also, not sure if it helps, but while working on this I've setup a couple of example test cases in this repo - https://github.com/JGAntunes/gatsby-yarn-netlify-test/blob/multiple-netlify-sties/packages/blog-1/netlify.toml - und

[2021-03-03 12:53] denis-sokolov commented on #518
The proposal may conflict with other expected meanings of the same syntax. A dependency on `*` means “any version would do, and if there’s no specific version detailed in the lockfile, it can make sense to install an older available from the cache.

@MikeBeas, perhaps your use case can be alleviated by adding an explicit install command to your build commands. Where you currently have something li

[2021-03-03 15:16] MikeBeas commented on #518
@denis-sokolov I don't disagree with you that adding this to my build script might solve the problem (and thanks for that! I can't believe I hadn't thought of it). But if I'm not mistaken, many (most?) build systems don't use a build cache like Netlify does, so in a lot of cases, the expected (or at least assumed) behavior for "install any version" might actually be to install the latest, especial

[2021-03-03 16:26] denis-sokolov commented on #518
I am less convinced than you are about what most users would expect. For instance, off the top search result in Google, [Travis caches dependencies by default](https://docs.travis-ci.com/user/caching/#npm-cache). It seems like a natural optimization to make. It also matches the behavior for developers on their machines which re-use existing node_modules until package.json or lockfile are updated.

[2021-03-05 00:06] jglovier commented on #383
@SeanKilleen @smithtimmytim glad it was helpful! ✨🙌✨

[2021-03-05 01:59] SeanKilleen commented on #383
Given @jglovier's solution above, going to go ahead and close this issue.

[2021-03-05 01:59] #383 closed, assigned to nobody

[2021-03-06 13:48] ozum commented on #53
I had to spend a few hours understanding why my builds fail. Then later I saw, I had to set env variables for the node.js version. Although it is the only workaround currently available, it sure goes out of sync when we update "engines" in package.json and forget to update env in netlify.

EDIT: This is my first post, and I forgot to say thanks for providing such a good tool free for open source p

[2021-03-19 03:56] minikomi commented on #485
A completely empty (`touch project.clj`) project.clj causes lein to try and run it, which results in an error.

[2021-03-21 13:14] imauserbot opened #536 "Python 3"
Why can't we use python 3 in the runtime.txt ?
please help me.

[2021-03-24 12:07] paulkre commented on #371
I agree, while it should definitely still be possible to define a custom selection of LFS files, the default behaviour should be `GIT_LFS_FETCH_INCLUDE=*`. This is the way it works for `git clone` so why not on Netlify?

[2021-04-02 14:42] sztomi commented on #519
I'm running into a lot of trouble because of this as well. There is no reason to disallow package installation in a container.

This seems to be the official answer to this:

![image](https://user-images.githubusercontent.com/240594/113431339-e3913f80-93db-11eb-950f-32f169194853.png)

However, with the *newer* build image being so out of date (16.04 was released 5 years ago!), it's getting really

[2021-04-04 06:30] dmbaturin commented on #519
@sztomi Do you have a link to that thread?

Also, even if the image wasn't so old, there are still many reasons to install packages with APT.

* Many tools available from Ubuntu repos do not have readily available single binary or AppImage versions.
* Some packages require data (e.g. spell checker dictionaries). Installing with APT will usually give you a complete setup at once, without it you nee

[2021-04-04 12:50] sztomi commented on #519
@dmbaturin It's in this thread: https://answers.netlify.com/t/apt-get-install-build-dependency/3095

And I completely agree with your points. This is a baffling limitation.

[2021-04-05 22:26] ab opened #541 "Plan for Ubuntu 16.04 end of life at the end of this month?"
Ubuntu 16.04 (Xenial) reaches end of life at the end of this month, April 30 2021. At that time it will no longer receive free security or maintenance updates. Is there a transition plan for Netlify build images? It doesn't look like there is currently any Netlify image based on a newer Ubuntu release.

Thanks!

https://ubuntu.com/about/release-cycle
https://wiki.ubuntu.com/Releases

[2021-04-08 22:10] johncastorina commented on #196
@tylerbrostrom just tried a similar setup, although using yarn workspaces and no dice -

netlify build is throwing an error regarding the base directory -

[code]

still looking for a solution to this

[2021-04-09 09:43] quantuminformation commented on #53
Like this?

![image](https://user-images.githubusercontent.com/216566/114161825-c3f09e80-9928-11eb-818b-50ca042f10fa.png)

[2021-04-09 09:44] quantuminformation commented on #53
I get this:
![image](https://user-images.githubusercontent.com/216566/114161993-f4383d00-9928-11eb-94ff-99cf573d5ddc.png)

[2021-04-11 15:29] nandac commented on #536
Setting python version to 3.7 in runtime.txt works for me:
[code]

Let me know if that helps.

[2021-04-11 19:29] nandac opened #544 "Making a pull-request to netlify image"
Dear Folks,

I wish to make a pull-request that adds the latest version of python to the xenial image but need permission to push the branch.

Do you give this permission to new contributors or do you expect them to fork this repository and then make the changes.

Forgive me if there is documentation regarding this somewhere that I have not found.

Cheers.

[2021-04-17 18:17] kaganjd commented on #479
Exciting update about Yarn workspaces: we’ve made improvements to how we cache dependencies for these projects. You can try out our new caching by creating an environment variable called `NETLIFY_YARN_WORKSPACES` and setting it to `"true"`

We want your feedback before we roll this out more widely- please let us know here or [in the forum](https://answers.netlify.com/t/improved-caching-for-yarn-wo

[2021-04-17 18:18] kaganjd commented on #399
I know this is closed but wanted to share an exciting update about Yarn workspaces in case you're still tracking the issue @slorber: we’ve made improvements to how we cache dependencies for these projects. You can try out our new caching by creating an environment variable called `NETLIFY_YARN_WORKSPACES` and setting it to `"true"`

We want your feedback before we roll this out more widely- please

[2021-04-17 18:19] kaganjd commented on #196
Exciting update about Yarn workspaces: we’ve made improvements to how we cache dependencies for these projects. You can try out our new caching by creating an environment variable called `NETLIFY_YARN_WORKSPACES` and setting it to `"true"`

We want your feedback before we roll this out more widely- please let us know here or [in the forum](https://answers.netlify.com/t/improved-caching-for-yarn-wo

[2021-04-17 18:19] kaganjd commented on #432
Exciting update about Yarn workspaces: we’ve made improvements to how we cache dependencies for these projects. You can try out our new caching by creating an environment variable called `NETLIFY_YARN_WORKSPACES` and setting it to `"true"`

We want your feedback before we roll this out more widely- please let us know here or [in the forum](https://answers.netlify.com/t/improved-caching-for-yarn-wo

[2021-04-20 11:21] camjackson commented on #319
Looks like @ylemkimon has fixed this issue in #465. @rybit do you think it's likely to be merged?

[2021-04-26 15:14] mortenson commented on #541
It'd be great to get an image with 20.04 as well - right now Tome (a small static site generator I maintain) doesn't work on the 16.04 image when using Drupal 9 because of a new requirement for SQLite 3.26+. Getting a new version of SQLite working with 16.04 / 18.04 is pretty complex.

[2021-04-29 01:33] mainej commented on #485
I believe this would be fixed by #553.

[2021-04-29 11:47] JanSichula commented on #541
It looks like new version 4.0 will be based on Ubuntu 20.04 which is obvious from prerelease build.

[2021-04-29 11:55] JGAntunes opened #554 "Remove yarn workspaces cache feature flag"
With #526 rolled out to 100% of our builds we're now in place where we can remove the `NETLIFY_YARN_WORKSPACES` env var: https://github.com/netlify/build-image/blob/7b53c5fc4445e3ec99d3949e5d1174a8c5be4f16/run-build-functions.sh#L108

[2021-04-29 13:37] JGAntunes commented on #479
#526 is now running for all of our builds, closing this issue 👍

[2021-04-29 13:37] #479 closed, assigned to nobody

[2021-04-29 13:37] JGAntunes commented on #432
#526 is now running for all of our builds, closing this issue 👍

[2021-04-29 13:37] #432 closed, assigned to nobody

[2021-04-29 16:05] kennyjwilli commented on #485
Hi @mainej. Thanks for working on that PR. The Clojure CLI supports [Git Deps](https://clojure.org/reference/deps_and_cli#_git). I'd suggest adding the `~/.gitlibs` directory to the cached set of dirs ([see docs](https://clojure.org/reference/deps_and_cli#_configuration_and_debugging)).

[2021-04-29 16:57] mainej commented on #485
@kennyjwilli Good suggestion. 👍 I've added caching of `~/.gitlibs` to the PR and verified that it works by using the [instructions for testing builds with the cache](https://github.com/netlify/build-image#testing-locally-with-cache).

[2021-04-29 20:34] gigamesh commented on #196
@kaganjd Hello :)

I'm trying to use `NETLIFY_YARN_WORKSPACES` but its not showing up in the build logs even when I try the `clear cache & deploy` option. The build fails because I'm using a sibling package as a dependency, but netlify is trying to find it on NPM. 🤔

[2021-04-29 21:37] kaganjd commented on #196
Hey @gigamesh,
Could you share your site name and link to a deploy log so we can take a look?

[2021-05-04 12:14] Brett-Best commented on #196
@johncastorina were you able to get it working? I’m facing the same error as you

[2021-05-04 18:05] kaganjd commented on #196
Update: the caching improvements we shipped for Yarn workspaces have rolled out to all users, so the environment variable `NETLIFY_YARN_WORKSPACES` is no longer necessary. We've updated our announcement too: https://answers.netlify.com/t/improved-caching-for-yarn-workspaces/36066

Adding a suggestion from that thread for folks who are running into issues: try adding `NETLIFY_USE_YARN=true` so our

[2021-05-07 15:06] JGAntunes commented on #554
Closed via #561 and #568

[2021-05-07 15:06] #554 closed, assigned to JGAntunes

[2021-05-07 22:22] elwayman02 commented on #53
Is there any movement on this feature request? `engines` is absolutely the standard way to define what node versions your project can be built with, so I'm not sure why we would want to manage it separately in Netlify. Not everyone uses NVM (some of us manage our node versions with `volta`, for example), so there won't always be a `.nvm` file to read the version from, but there will always be `pac

[2021-05-11 18:53] wlach commented on #431
The Ubuntu 20.04 beta image includes Python 3.8 🎉 https://github.com/netlify/build-image/blob/focal/CHANGELOG.md#400-2021-04-29

[2021-05-25 15:26] ingride commented on #431
As @wlach mentioned, our newest release V4.0.0 has Python 3.8. At this time, we want to encourage you to upgrade to it if you require 3.8.

Let us know if you encounter any issues and we will be happy to help.

[2021-05-25 15:26] #431 closed, assigned to nobody

[2021-05-28 16:34] #385 closed, assigned to nobody

[2021-05-31 09:16] #544 closed, assigned to nobody

[2021-06-01 15:49] cole-wilson commented on #527
I would also like to see this natively added!

[2021-06-02 14:30] rstavchansky commented on #196
Chiming in here for future reference: Our docs now have a more complete section on monorepos and the ignore command for controlling site builds:
https://docs.netlify.com/configure-builds/common-configurations/monorepos/
https://docs.netlify.com/configure-builds/common-configurations/ignore-builds/

[2021-06-02 21:24] ehmicky opened #575 "Print a warning message when `NODE_ENV` is `production`"
When `NODE_ENV` is `production`, `devDependencies` are not installed.
This can lead to situations where the build fails due to missing dependencies, which results in bug reports and support tickets.

Conceptually, it seems to me builds should never use `NODE_ENV="production"`. Are there any legitimate use cases for this? It seems like most builds would need development dependencies and are technic

[2021-06-03 13:59] ehmicky commented on #575
Some good points made by @erquhart:

[2021-06-03 15:48] kaganjd commented on #575
This would be awesome- has definitely been a source of confusion for customers. Let me know if there's anything I can help with.

Also linking some related issues:
- https://github.com/netlify/cli/issues/473#issuecomment-832848253 (NODE_ENV default in functions is undefined if I'm reading this correctly)
- https://answers.netlify.com/t/support-guide-using-environment-variables-on-netlify-correctly

[2021-06-06 01:20] adamreisnz commented on #53
Yeah it would be really good if Netlify would just respect the semver Node version in the package.json engines definition instead of having to specify the version in two different places.

I don't see the fact that this version can be a range as a problem. You can simply apply the same version resolution algorithm as npm/yarn apply.

Meaning, if I specify Node version as "16.3.0" it will give me 1

[2021-06-08 07:15] verythorough opened #577 "Use current supported language versions by default in Focal branch"
I noticed that some of the default language versions in Focal's [included software list](https://github.com/netlify/build-image/blob/focal/included_software.md) are EOL. I think it's great to provide ways for users to run/install older versions to help ease migration from Trusty and Xenial, but it would be great to get new sites started with current supported versions.

Here are a few that I've no

[2021-06-10 11:15] ingride commented on #577
Imma reassign this to myself when i actually start working on it, just in case someone else might wanna do it

[2021-06-14 23:26] cesarvarela commented on #53
I'm surprised that some are asking if this is standard.

Anyway, yes it is.

edit. just realized that the `.node-version` file doesn't support semver, come on guys.

[2021-06-15 17:42] Benaiah commented on #577
@ingride @verythorough how do you feel about splitting this into separate issues, one for each of the dependencies?

[2021-06-15 19:47] ingride commented on #577
I don't mind, you might wanna do them all at once tho because the build image takes so long to build, test, and release that multiple PRs are actually a disadvantage here.

[2021-06-15 19:58] ingride commented on #577
In the Dockerfile we specify that we kept 2.6.2 because many customers are pinned to it. We should check this is still true. But for the purpose of this, which is new sites before defaulting for everyone, we can prolly move to a patch, and it should be ok for people to move from 2.6.2 to this version by changing their env vars. But we might wanna keep a 2.6.x along with 2.7.x rather than removing

[2021-06-15 20:53] verythorough commented on #577
To be clear, my priority with this issue is for the _defaults_, which only apply to new sites, and can be overridden with env vars, etc. if other versions are available.

As for whether we keep older versions available for easier migration of existing sites, I'm cool with y'all making the cost-benefit analysis of weighing that against the risk of a sudden upstream support change upending our abili

[2021-06-15 22:22] Benaiah commented on #577
@ingride are you suggesting we install all of 2.6.2, 2.6.x, and 2.7.x in the Dockerfile? This makes sense to me because of the number of sites pinned to 2.6.2 which would get an upgrade path to 2.6.x that won't slow down their builds. What do you think about also installing 3.0.x? That seems unnecessary to me but perhaps we'd want it preinstalled to encourage people to use it if they can.

For som

[2021-06-17 05:57] ontoneio commented on #53
Can we please please please get this implemented?! It's so trivial and yet this issue has been open 4 years!
This aspect of explicitly setting node versioning for Netlify still trips me up on new projects and it's becoming a nuisance at this point. Why is Netlify being so stubborn about this?

[2021-06-24 21:57] verythorough commented on #577
We pinned/installed Node at the major level for most of Netlify's history, only switching to a specific patch version [14 months ago](https://github.com/netlify/build-image/pull/418). I can't find the reasoning for switching to a specific patch version, but it seems that based on our previous history, the failure risk is low? Curious what folks like @ehmicky think about this.

That would be cool i

[2021-06-24 22:14] ehmicky commented on #577
Yes, I think the risk of not pinning the minor version is very low compared to the benefits of it. Node.js is pretty good about semver. Also, bug fixes and security fixes might come in a later minor version of the current major release, so pinning the minor version might prevent from getting those. Based on this, in my opinion, we might prefer defaulting to `14.x.x` instead of `14.17.x`.

[2021-06-25 14:38] ingride commented on #577
@Benaiah, by 2.6.x I meant only having one 2.6 version, not all of them, but definitely at least one, along with the 2.7 versions. I think 3.0 could be nice to have, but could also be done at a later stage.

No strong opinion on 2.6.6 vs 2.6.7, theoretically rvm knows how to install from source even if the binary is not available - I did that locally, but it's probably too slow to consider, so 2.6

[2021-07-02 14:30] mikejurka commented on #317
Going back to the original request, is there a way to specify a shallow clone of the repo?

[2021-07-05 03:29] overlordofmu commented on #317
It is not possible, @mikejurka.

If there was a workaround we _normally_ would mention it in the feature request but no one is perfect and it never hurts to ask. In this case, though, the answer is "no". There is no workaround.

Now, that being said, it does appear for certain workflows there can be workarounds. See @orf's [comment above](https://github.com/netlify/build-image/issues/317#issuecomm

[2021-07-06 08:19] labkode commented on #317
@mikejurka @overlordofmu the workaround from @orf has been working for more than one year in two of our production setups: https://reva.link and https://sciencemesh.io

@overlordofmu I think this "workaround" worths to be documented.

[2021-07-06 08:42] orf commented on #317
It’s bonkers to me that this feature isn’t trivial to add. A short comment with some technical details why would be much appreciated, as this significantly reduces build times for projects with large submodules.

[2021-07-06 14:55] ingride commented on #577
@Benaiah is there a draft PR for the changes?

[2021-07-06 20:11] Benaiah commented on #577
@ingride I'll have one up later today.

[2021-07-06 22:03] Benaiah commented on #577
I have a draft PR up at https://github.com/netlify/build-image/pull/588 now. To summarize the changes:

- Python 3: updates default from 3.8 (which is the default present in the system before installing packages) to 3.9, and uses 3.9 to install `pipenv` (instead of 2.7).
- Ruby: updates default from 2.6 to 2.7, and additionally installs 3.0.
- Go: updates default from 1.12 to 1.16.
- Node: updates

[2021-07-06 22:09] Benaiah commented on #577
I'm going to investigate what will happen if we specify some of these versions at a level higher than the patch version. The existing PR pins to the current patches for each version instead of not specifying them - I don't think we reached a conclusion on which we want to do moving forward.

[2021-07-13 11:19] mikejurka commented on #317
@labkode Unfortunately workaround isn't for shallow cloning of the repo, but only for recursive cloning of submodules. I don't have submodules, and I'm primarily interested in a shallow clone of my main repo to make deploys faster.

[2021-07-14 10:31] #496 closed, assigned to nobody

[2021-07-14 15:23] woodhull commented on #517
I do not need ruby 3.0.0 support, but it would be very nice if netlify updated the latest pre-installed ruby versions, or cached ruby installs between runs.

We're currently experience very slow builds because netlify needs to build ruby 2.7.4 (latest patch level on offer, our corporate standard) on each and every deployment.

[2021-07-14 15:25] woodhull commented on #517
Here's an example re: how long this takes / how much it is slowing down deployments for us.

[code]

[2021-07-15 14:55] JGAntunes opened #593 "`.yarn/cache` is never persisted between runs"
Within `build-image` we rely on a specifc dir `.yarn_cache` which we create, pass to the `yarn install` command via the `--cache-folder` flag and then move to our caching directory (see - https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh#L149)

We do however use `$NETLIFY_BUILD_BASE/.yarn_cache` and cache `$HOME/.yarn_cache` (see - https://github.com/netlify/build-image/blo

[2021-07-15 15:35] JGAntunes opened #594 "`yarn-path` configuration property forces needless yarn binary installs"
Within our build system we rely on `yarn --version` to detect a mismatch between the default/configured yarn version and what we currently have installed in our build context. Defining a [`yarn-path` in your `.yarnrc`](https://classic.yarnpkg.com/en/docs/yarnrc#toc-yarn-path) sets a local yarn binary to execute within the context of that project. This means that the following scenario is possible:

[2021-07-16 14:42] JGAntunes commented on #496
Hey folks 👋

FYI, thanks to @celinepelletier's awesome contribution this has been fixed and rolled out to both our `xenial` and `focal` releases. (An example log of the `NPM_FLAGS` correctly applied - https://app.netlify.com/sites/ntfy-init-test/deploys/60f19800d603753ea8b6a6a6#L10780)

[2021-07-20 11:49] peaceiris opened #599 "Ubuntu Focal 20.04 beta: gem command not found"
To new visitors, here is a workaround. https://github.com/netlify/build-image/issues/599#issuecomment-922429047

---

The build image Ubuntu Focal 20.04 (Beta) fails in initialization with the error `gem: command not found`.

Log: https://app.netlify.com/sites/mkdocs-material/deploys/60f6b61ec8f08bcff3aab104

[code]

[2021-07-21 14:12] JGAntunes commented on #593
Closed via:
- https://github.com/netlify/build-image/pull/598
- https://github.com/netlify/build-image/pull/596

And released to prod 👍

[2021-07-21 14:12] #593 closed, assigned to JGAntunes

[2021-07-23 12:13] aaronadamsCA opened #600 "Yarn fetches all packages on every build (cache issue)"
Despite a 289 MB cache being restored at the start of each build, Yarn v2 fetches all but 4 packages during every build.

Build directory: `packages/studio`

`packages/studio/netlify.toml`:

[code]

Log:

[code]

IMO the "right" way to handle Yarn caching is to cache `.yarn/cache` (or wherever your `yarn config get cacheFolder` is), and let Yarn rebuild `node_modules/` on each build. You want to c

[2021-07-26 01:51] danielcompton opened #601 "Make default Ruby version match installed Ruby version"
I'm not quite sure how this is happening, but I've observed that Ruby 2.7.1 is the default ruby, but it's not installed in the environment. For example:

[code]

Running a second time restores the cached Ruby which is better but not ideal.

[code]

This seems to happen with both 16.04 and 20.04.

I would expect that the default RUBY_VERSION is installed in the build image. It appears like it shoul

[2021-07-26 13:56] julienw commented on #599
~~I've encountered this as well. The weird thing is that running the build locally works fine.~~
~~Locally I used the xenial image actually :man_facepalming: ~~
I tried again locally, this time with the focal image, and this error doesn't appear locally. Was that fixed recently but not deployed yet?

[2021-07-26 14:00] julienw commented on #600
I believe that the problem is that `.yarn/cache` only grows, so if they were caching it the cache would only grow.

[2021-07-26 15:04] julienw commented on #600
Actually this may have been done some days ago in https://github.com/netlify/build-image/pull/595.

[2021-08-02 19:25] Benaiah opened #603 "Reduce build image size by retiring old software versions"
The PR updating software versions in focal (#588) increases the build image size by ~4.5%. We may want to consider dropping old software versions such as Python 2 or Ruby 2.6 to reduce the size of the build image. Ideally, these would still be installable at build time for customers who require them, just not included by default in the build image.

[2021-08-02 23:57] tsongas commented on #53
So, somebody at Netlify didn't know about `engines` however many years ago so now all your customers are stuck with failing builds and workarounds? I don't get it, especially with the momentum toward TypeScript where your @types/node version is in `package.json`.

[2021-08-05 23:58] verythorough commented on #603
I can see the motivation to remove older software versions, but Ruby 2.6 and Python 2.7 are the defaults in Trusty and Xenial, which means that nearly all existing sites are pinned to those versions, including, of course, sites that don't even use Ruby or Python. We don't have a way to install Python versions on demand, so if we removed 2.7, we would basically guarantee that nearly every upgrade t

[2021-08-07 17:08] arecker opened #606 "Latest python version"
Hello!  The python versions available on the netlify build image could use some love.  The current [stable version is 3.9.6](https://www.python.org/downloads/), but the highest netlify goes is 3.7.  Any chance you could update it?

[2021-08-09 06:38] airtonix commented on #263
you can just start supporting this by looking for `.tool-versions` and then not setting up any other language version manager (rvm or nvm, etc) when it does exist.

[2021-08-09 11:43] #318 closed, assigned to nobody

[2021-08-09 14:44] verythorough commented on #603
Hm, perhaps there's one other alternative to reduce the image size without breaking so many builds. We could remove Python 3.9 and Ruby 2.7. The next highest versions on the image (Python 3.8 and Ruby 2.6) are supported, so it still meets the goal of defaulting to supported versions, while reducing the number of installed versions.

If the changes in https://github.com/netlify/build-image/pull/588

[2021-08-10 13:59] ingride commented on #603
@verythorough I don't think we should remove ruby 2.7 because we don't have a recent 2.x alternative that is not too old  so we would pay the install penalty for those sites on first run (2.6.7 is for supporting some customers that still need this version and can't update to 2.7). 3.x is still new enough, we don't even use it.  if we wanna remove something, I vote for ruby 3.x and adding it at a l

[2021-08-10 23:35] Benaiah commented on #603
I don't love the idea of removing ruby 3 and python 3.9, but I think it's the best opportunity for reducing the image size that we have available at the moment. I'll get a new PR up removing those two from the image, since I already merged the existing PR upgrading software versions

I also discussed with @ingride this morning the possibility of not preinstalling any version of node, because the l

[2021-08-13 11:48] JGAntunes opened #612 "Improve Yarn berry support"
This is a cover issue to track problems our build system has with Yarn 2/3. Specifically:

- Inability to retain Yarn's own cache - https://github.com/netlify/build-image/issues/319, https://github.com/netlify/build-image/pull/465 and https://github.com/netlify/build-image/issues/600
- Pointless installs of yarn are always triggered due to the mismatch caused by the `yarn-path` configuration prope

[2021-08-13 11:52] ehmicky commented on #612
Note: related issue on `netlify/build`: https://github.com/netlify/build/issues/1535

[2021-08-13 11:58] JGAntunes commented on #600
Hey @aaronadamsCA 👋 thanks for raising this issue.

The problem is actually a Yarn 2 support issue, related with https://github.com/netlify/build-image/issues/319. The custom cache directory we rely on for yarn (and configure via the `cache-folder` property) does not work when using yarn 2.

I've created #612 and linked your issue to it. If it's alright with you I'm going to close this issue and w

[2021-08-13 11:58] #600 closed, assigned to nobody

[2021-08-16 07:24] sambacha commented on #606
Edit: default branch of `xenial` confused me, as `focal` is what all buildimages use, and if you check the supported software, python 3.8 is listed.
https://github.com/netlify/build-image/blob/focal/included_software.md

[2021-08-17 16:05] #577 closed, assigned to Benaiah

[2021-08-22 13:42] valentine commented on #599
I'm having the same problem on a deploy that I've switched from 14.04. 16.04 works for now.

[2021-08-23 02:16] peaceiris commented on #599
This error still exists today. To use Python 3.8, I am using the Ubuntu Focal 20.04 beta.

cf. https://github.com/netlify/build-image/issues/431#issuecomment-838996967

[2021-08-25 14:39] marcofugaro opened #615 "Yarn 3 workspaces are not cached at all"
Related: #612 #432 #319

We are using yarn workspaces with yarn's latest version (`3.0.1`) and yarn is not cached at all, it takes `1m 54s` in best cases and `3m 17s` in worst cases, including the cache restore phase.

On the contrary, on GitHub actions with the [yarn cache action](https://github.com/c-hive/gha-yarn-cache), the Fetch phase is completely skipped, and it just runs the linking phase.

[2021-08-30 14:59] JGAntunes commented on #615
Thanks for raising this @marcofugaro. This is definitely related with #612 and #319 and our usage of the `--cache-folder` property 👍 however it isn't particular to your `workspace` settings I believe, just the yarn version used.

[2021-09-02 04:20] qixiaobo commented on #479
So sad to see this after 2 hours waste~

[2021-09-04 15:52] lambdadog opened #617 "Add Nix support"
Essentially a follow-up on #187.

To reiterate the reasoning there (and shared in #251 when the Nix PR came up), Nix would be able to "wear several hats" for Netlify's build image.

It allows essentially infinite flexibility in builds, although it would largely be a power-user build tool in comparison to most of Netlify's other offerings. On the other hand, a well-designed Nix build would be able

[2021-09-13 23:27] ukd1 commented on #317
I'm still having this issue - I have a repo that grows by a few commits every 20-30 minutes, and deploys. They're getting progressively slower, and it's not cost effective - I will have to move off Netlify if there is no solution.

![image](https://user-images.githubusercontent.com/44345/133169866-9ade0727-7f6e-4764-815e-884042cfce51.png)

Repo is ~600mb, and 65k commits.

[2021-09-14 04:14] overlordofmu commented on #317
@ukd1, I would normally expect successive build to start from the build image's cached version of the repo and therefore preventing the steady growth of the build time. On the other hand, if the repo and site are growing and more and more pages/assets are being deployed then it would name sense for the build time to increase linearly with these increased page/asset count.

Now, I do believe it cou

[2021-09-15 08:34] domenkozar commented on #599
Doesn't this mean that 20.04 never works?

[2021-09-15 09:23] peaceiris commented on #599
Ubuntu Focal 20.04 never works.

[2021-09-15 13:52] JGAntunes commented on #599
Hey folks 👋

Thanks for raising this and apologies for taking a while to come back to you. The problem at hand is related with the way old sites have some of their language and runtime versions pinned by default, resulting in a sub-optimal experience when the underlying image is changed, given these runtimes/language versions are no longer supported in that new environment. We're working on addres

[2021-09-15 23:03] cmdlinebeep commented on #141
Did this ever get anywhere?  I'm in the same boat where my repo has components on Netlify and others on Heroku.

Can one or both please be fixed to be a little more tolerant?

"Be liberal in what you accept" and all that...

Thanks!  :-)

[2021-09-15 23:38] mikejurka commented on #317
Any estimated timeline for this, or is it going to remain in the backlog for the timebeing?
Similar to ukd1, although we like Netlify we might have to switch to a competitor for this one simple feature.

[2021-09-16 06:57] memocenose opened #626 "build of dependencies fails on ruby"
im trying to migrate from old image switching to focal image for my Hugo based site.
So far it fails on some ruby dependencies. Is it possible to disable installation of javascript and ruby in netlify.toml ?

[2021-09-16 07:06] memocenose commented on #626
8:51:16 AM: Build ready to start
8:51:17 AM: build-image version: fa439ad1ab9393b2c0d449d8d7c033927683f4b0
8:51:17 AM: build-image tag: v4.3.0
8:51:17 AM: buildbot version: e99637385725adf30662bad8cf7d70d9f3623653
8:51:17 AM: Building without cache
8:51:17 AM: Starting to prepare the repo for build
8:51:18 AM: No cached dependencies found. Cloning fresh repo
8:51:18 AM: git clone https://github.co

[2021-09-16 12:28] agostbiro opened #629 "Missing shared lib for Cypress on Ubuntu 20.04"
Hi,

Builds using `"cypress": "^8.4.0"` and `"netlify-plugin-cypress": "^2.2.0"` fail with the following error using the `focal` build image:

[code]

netlify.toml:

[code]

The same build succeeds when using the `xenial` image.

[2021-09-16 15:18] ehmicky commented on #629
Thanks for raising this issue @abiro. This should now be fixed :+1:

[2021-09-16 15:18] #629 closed, assigned to ehmicky

[2021-09-16 17:58] JGAntunes commented on #626
Hey @memocenose 👋 thanks for raising this. From what you've just described seems like this is a duplicate of #599.

As described in https://github.com/netlify/build-image/issues/599#issuecomment-920038722 we're currently working on a fix to address the `Ruby 2.3.6` compatibility issues for anyone upgrading to Focal. Meanwhile though, if you want to upgrade you can either re-link your repo or set a

[2021-09-16 17:58] #626 closed, assigned to nobody

[2021-09-17 14:49] agostbiro commented on #523
What's the status on this? I'm running into this on the `focal` image.

[2021-09-17 20:22] cmdlinebeep commented on #141
@edmorley Hi Ed, are you still in a position at Heroku to fix this?  I know it's been over three years since you opened this, but it's still causing issues for folks today (like me!)

In lieu of some complicated change to the way we specify our runtime versions, it seems like it should be straightforward to make the parser support either:
[code]
patterns in the runtime.txt without breaking any exi

[2021-09-18 19:20] krzychukula commented on #245
I'm not sure why but I got caught by this. My build was failing and I wasn't using under in the first place.
Switching to Ubuntu 16 resolves it.

[2021-09-19 01:44] danielcompton commented on #599
@JGAntunes where can we see the version pinning for our builds? I don’t have any environment variables set apart from the Hugo version and would have expected to get the latest version in the image?

[2021-09-19 07:29] peaceiris commented on #599
I have pinned the `RUBY_VERSION` in the `netlify.toml`. It works well now. Thanks @JGAntunes

[code]

https://github.com/peaceiris/mkdocs-material-boilerplate/commit/50380194209ca3054db7b19edd7e54b72d6f0c0f

[2021-09-20 21:54] mauriciabad commented on #612
Is there any progress on this? 😊 I'm also having this issue.

[2021-09-21 17:01] kaganjd commented on #599
Howdy from Netlify Support 👋 To mitigate this issue for folks going forward, we've shipped an update to automatically set the RUBY_VERSION to 2.7.2 when you upgrade to Focal and we detect that an old version of Ruby is pinned (lower than 2.4)

[2021-09-22 10:27] danielcompton commented on #599
@kaganjd how would we know if an old version of Ruby is pinned? Where do we see that in our Netlify config?

[2021-09-22 22:00] jasikpark commented on #612
I'd love to see this fixed to reduce build times for my sites!

[2021-09-22 22:00] kaganjd commented on #599
@danielcompton it'll be in the deploy logs of the site. This would have been the default version in the build image when you first built the site, so if your site first built from Trusty, that version would be listed here: https://github.com/netlify/build-image/blob/trusty/included_software.md. We're working on surfacing more helpful build log messages when a language version is selected due to ou

[2021-09-23 03:19] MikeBeas commented on #53
Adding my support for this. I use this on Heroku and I don't use nvm at all because I don't need to manage multiple node versions on my laptop. All my projects are built with the latest versions. Netlify has been building my sites with the wrong npm and node versions (6.x and 12.x instead of 7.x and 16.x, respectively) and I only just now noticed.

This seems like a really obvious thing to support

[2021-09-23 12:41] rmcfadzean commented on #612
I'm not sure where I saw it on github and it isn't my favourite way but this works in a pinch until it's better supported out of the box:

[code]

Add that to your `netlify.toml`.

[code]

Became:

[code]

[2021-09-28 14:33] ukd1 commented on #317
@overlordofmu it's pre-built, the problem is _just_ that @netlify is pulling the whole repo, not a shallow clone. This ended up costing me ~$30 a month of "build time" which was 99.9% cloning. My last build log:

[code]

Between:
[code]
is nearly a full minute of "git stuff" just hanging there, and that specifically is costing me >$40 a month. Here is a partial month:

![Screen Shot 2021-09-28 at

[2021-09-28 15:29] jonsherrard commented on #523
Is it possible to add other folders to be cache in netlify.toml at all?

I haven't seen anything outside the docs though.

Currently breaks builds that use playwright because the browser images are cached outside node_modules.

[2021-09-28 15:39] jonsherrard commented on #523
OK idea for peeps out there stuck wthith is issue: I'm just running my "postinstall" command before the npm build command in Netlify config now.

`npx [my postinstalll]] && npm run build`

[2021-09-29 05:04] overlordofmu commented on #317
I do encourage people to +1 in the comments here if you want to see this changed as people showing interest directly impacts the likelihood of the feature request become a reality.

Sorry to learn you have moved to a competitor and thank you for explaining your workflow, @ukd1. I only wish you would have given us a chance to assist you. If you would have explained your workflow earlier we could ha

[2021-09-29 05:51] mikejurka commented on #317
+1'd the feature request and signaling support for an _optional_ shallow clone feature. Similar to ukd1 we like Netlify but are having long builds (and have similarly seen much better performance on other services).

[2021-09-29 06:50] szamanr commented on #53
bumping this, it's pretty ridiculous that this has not been implemented yet.

[2021-09-29 12:36] marcofugaro commented on #612
We are wasting precious netlify build minutes.
Would love to see some progress on this as well.

[2021-09-29 16:00] marcofugaro commented on #612
Thanks @rmcfadzean, your solution works wonderfully for now!

[2021-09-30 05:48] ukd1 commented on #317
@overlordofmu I get it - we have many features in the same boat, and have to prioritize. It also sucks to loose a customer.

Also, yes I wish I'd known about your idea/fix sooner; I didn't know that was even an option. I'm not super deep in vercel, but the amount of time to switch was minimal. I'll check it out at some point.

Best of luck.

[2021-09-30 10:44] edmorley commented on #141
@cmdlinebeep Hi! I replied over in https://github.com/heroku/heroku-buildpack-python/issues/1243#issuecomment-931205180 but to summarise here...

Given the filename is called `runtime.txt` (ie: it is not language specific), it feels wrong to put version numbers in there without the name of the language runtime.

I think a better change would be to update this line:
https://github.com/netlify/build

[2021-09-30 10:46] edmorley commented on #141
Also, I think it would be worth splitting the `runtime.txt` parsing issue into its own GitHub issue in this repo, as this issue as filed is about something slightly different (and harder to attain).

[2021-09-30 11:14] JGAntunes commented on #599
Apologies @danielcompton, I've been off for a while. As @kaganjd mentioned we're working on making it clearer when a default language version is selected for you. As of right now the only way of knowing which version you're using is via the build logs (something [like this example](https://app.netlify.com/sites/monorepo-blog-1-yarn/deploys/6138d67af13c8c12908c0a88#L44)).

I'm gonna go ahead and cl

[2021-09-30 11:14] #599 closed, assigned to nobody

[2021-09-30 15:59] ehmicky opened #638 "Yarn fails to install on Xenial"
Yarn can be installed on Focal ([example logs](https://app.netlify.com/sites/mick/deploys/6155dd214998c900081eaf85#L36)).
But it fails on Xenial ([example logs](https://app.netlify.com/sites/mick/deploys/6155dd54d85e8642b8590448#L70)).

[code]

This started about one hour ago.

Potentially related issues:
  - https://github.com/yarnpkg/yarn/issues/7866
  - https://github.com/yarnpkg/yarn/issues/86

[2021-09-30 16:02] ehmicky commented on #638
Closing in favor of https://github.com/netlify/pod-workflow/issues/303

[2021-09-30 16:02] #638 closed, assigned to nobody

[2021-09-30 20:59] jesse-holden commented on #612
Can confirm solution provided by @rmcfadzean also works for monorepos that use a custom base directory, am now saving an average of 2 minutes on each build since using this fix

[2021-10-01 13:55] JGAntunes opened #640 "Yarn default binary not added to the user's $PATH"
The yarn binary installed by default within the build image (see [here](https://github.com/netlify/build-image/blob/focal/Dockerfile#L263)) isn't part of the users `$PATH` by default. This means that for builds which don't have a cached version of yarn, there will always be a download of the default version of yarn for that site (which takes care of correctly setting the user's `$PATH` - see [here

[2021-10-11 10:08] ascorbic commented on #640
We hit this with the default Nuxt 3 starter, because it uses yarn in the build command but doesn't commit the `yarn.lock`

[2021-10-12 19:58] #498 closed, assigned to nobody

[2021-10-13 12:06] queensferryme commented on #221
The `restore_home_cache` and `restore_cwd_cache` not no longer working. Here is my alternative approach, in case anyone is interested:

[code]

[2021-10-18 17:23] robations commented on #612
I don't know if this needs a separate issue but I get the following error with "@netlify/plugin-functions-install-core" (yarn 3.0.2):

[code]

I was thinking PnP would be a good solution to speed up build/deploy but seems like there's a bit of work to do. I was also weighing up pnpm, but seems like support would be patchy. Are there any sane workarounds for disabling npm/yarn and manually packagin

[2021-10-25 10:33] tools-netlify opened #657 "[security] Enforce Branch Protections"
This is an issue generated by (for-internal-use-only)[github-tools](https://github.com/netlify/github-tools/)
### Description
This repository has exceeded the development grace period, and the repo owner must decide if branch protections should be enforced.
If this repository houses code used in production in any capacity, branch protections must be enforced. Read (for-internal-use-only)[here](htt

[2021-10-25 22:45] kcgthb opened #667 "Python 3.7 deployment errors?"
Deployment failed today with:
[code]
My `runtime.txt` contains:
[code]
Is this expected?

The  https://github.com/netlify/build-image/#included-software doesn't seem to exist either :\

[2021-10-27 13:22] #657 closed, assigned to nobody

[2021-10-27 18:35] edrex commented on #617
Specifically, nix's new flakes support. Look for flake.nix which specifies all dependencies and how to build. See https://github.com/numtide/nix-unstable-installer#github-actions

I see flake.nix emerging as an alternative to docker for repeatable builds across languages.

[2021-10-30 20:22] borispov commented on #393
Installing libpq via ```Brewfile``` didn't solve the problem for me as it required libpq to exist inside node_modules.

I ended up using this [postgres](https://github.com/porsager/postgres) postgres driver that has 0 dependencies and builds on netlify without issues (so far).

[2021-11-04 04:37] jonioni commented on #612
Thanks @rmcfadzean for the solution! But with the latest build-image release it seems the `/opt/buildhome/.yarn_cache` path has been changed and it's no longer working. Currently encountering the exact same issue as mentioned in #615.

Is there a new (and relatively stable) `YARN_GLOBAL_FOLDER` path that can be used?

[2021-11-04 04:39] jonioni commented on #615
The recent releases seem to have updated the `/opt/buildhome/.yarn_cache` path and the solution mentioned in #319 and #612 is not working anymore. Currently encountering the exact same error.

[2021-11-04 20:10] SebouChu opened #681 "Add Vips CLI tools (libvips-tools)"
Currently, the Focal image installs libvips-dev but not libvips-tools, which prevents Jekyll plugins like [Jekyll Picture Tag](https://github.com/rbuchberger/jekyll_picture_tag) to work properly.

It seems to be a regression from the Xenial image, which installed Vips [from source](https://github.com/netlify/build-image/blob/649f3866bbbdb310033ee494eb7123b5b6df2d0b/Dockerfile#L202) and so, had the

[2021-11-05 06:20] #536 closed

[2021-11-05 13:54] JGAntunes commented on #667
Hey @kcgthb 👋

Could you share which build-image version you're using? It should be logged at the beggining of your deployment logs.

- Focal (v3) supports `3.8` and `2.7` - https://github.com/netlify/build-image/blob/focal/included_software.md
- Xenial (v4) supports `2.7`, `3.5` and `3.7` - https://github.com/netlify/build-image/blob/xenial/included_software.md

💯. We're working on improving thos

[2021-11-05 14:04] JGAntunes commented on #681
Hey @SebouChu 👋 thanks for raising this. Yeah a PR would be awesome 👍

[2021-11-05 15:07] #640 closed, assigned to nobody

[2021-11-05 15:28] jonioni commented on #612
The solution above https://github.com/netlify/build-image/issues/612#issuecomment-925772672 doesn't seem to work anymore. Currently we are on yarn v2 with `nodeLinker: node-modules`. Neither "/opt/buildhome/.yarn_cache" nor "/opt/buildhome/cache/.yarn_cache" works. Netlify build always refetches most packages which is costly.

Is there an updated solution?

[2021-11-05 16:43] kcgthb commented on #667
Hi @JGAntunes, thanks for getting back to me!

I think the default, I wasn't specifying any particular version, my only config file was the `runtime.txt` file:
[code]
I managed to solve the issue by replacing `3.7` with `3.8` in `runtime.txt`, I guess that the default image changed at some point and Python 3.7 was dropped.

Anyway, problem solved now, thanks!

[2021-11-05 16:43] #667 closed, assigned to nobody

[2021-11-08 17:11] JGAntunes commented on #681
Reopening this issue while we don't fully ship it to prod. Will keep you updated 👍

[2021-11-09 15:54] jonioni commented on #612
The solution mentioned above https://github.com/netlify/build-image/issues/612#issuecomment-925772672 doesn't seem to work anymore with Yarn v3 (#615). Is there an updated fix?

[2021-11-09 19:09] JGAntunes commented on #640
This has now been shipped 👍

[2021-11-10 23:09] jonioni opened #688 "Focal Failed to Fetch Dependencies Cache for Existing Project"
We recently updated the build image from Xenial to Focal in the dashboard for an old project. However the deployment log always shows "Failed to fetch cache, continuing with build", no matter it's directly deploy or "clear cache and deploy" and even if all previous deploys with the new build image have succeeded:

[code]

It's exceedingly time consuming to refetch all dependencies at each deploy.

[2021-11-11 17:28] JGAntunes commented on #681
Hey @SebouChu sorry for the delay. We've just released this to production this afternoon so it should be fixed on the latest `focal` builds 👍 Let us know if that didn't cut it and thanks once again for your contribution! 🎉

[2021-11-11 17:28] #681 closed, assigned to nobody

[2021-11-12 16:16] nolessafool commented on #688
Heya @jonioni , our Support team can help debug - that seems specific to your build and I bet we can solve it without code change.  Mind posting your question in the helpdesk if you're a Pro or higher customer (email support@netlify.com from your netlify login email as shown at https://app.netlify.com/user/settings) or in the forums otherwise (https://answers.netlify.com)?  There our Support engin

[2021-11-12 16:16] #688 closed, assigned to nobody

[2021-11-12 18:54] swrobel opened #693 "Focal image installs Node 12.18.0 instead of 16 specified in docs"
The [Focal image docs](https://github.com/netlify/build-image/blob/focal/included_software.md) specify Node 16 by default. Without any sort of config specifying a node version, I would then expect Node 16 to be installed. However, I get 12.18.0 instead:

[code]

[2021-11-12 19:26] JGAntunes commented on #693
Hey @swrobel 👋

By default, your site should also have a pinned Node.js version that overrides the one installed by default in the `build-image`, you can read more about that behaviour in the following community post - https://answers.netlify.com/t/please-read-end-of-support-for-trusty-build-image-everything-you-need-to-know/39004#how-can-i-make-my-site-work-with-the-new-image-6 (quoting below but

[2021-11-12 19:26] #693 closed, assigned to nobody

[2021-11-12 19:38] swrobel commented on #693
For anyone else who just wants latest LTS on the Focal image, this trick worked for me and didn't require manually specifying a node version: https://answers.netlify.com/t/please-read-end-of-support-for-trusty-build-image-everything-you-need-to-know/39004/23

[2021-11-14 16:09] lucaswalter opened #694 "Add Support for .NET 6"
We use Netlify to build and deploy our Blazor site (which runs on .NET). Microsoft just released and published the GA version of .NET 6 which we would like to use:

https://devblogs.microsoft.com/dotnet/announcing-net-6/

[2021-11-15 11:48] JGAntunes opened #695 "Setup an issue template"
Setup an issue template which, besides the regular docs/contributing.md/test checks, adds specific guidelines that point user's facing particular build issues to create support tickets/forum posts. For background https://netlify.slack.com/archives/C012GT6MYKU/p1636722675451400.

CC @erezrokah @fool

[2021-11-15 21:11] JoaoAlmeida11 commented on #612
Using yarn v3 with PnP. Had the issue of not being able to run netlify deploy on the ci (netlify-cli).
Fixed by adding on the same job (gitlab) yarn install

Command: `yarn install && yarn netlify deploy`

[2021-11-15 21:24] marcofugaro commented on #612
@JoaoAlmeida11 interesting.. what is the `yarn netlify deploy` command? is it netlify-cli?

[2021-11-16 14:37] atheken commented on #694
Based on the source code in this repo, I did the following and was able to get .net6 builds working. It adds about 1m to the build time, but is a temporary fix until a new image is released by Netlify:

[code]

Hope that gets you going. Should be temporary.

[2021-11-19 22:05] mwood23 commented on #523
Just got bit by this breaking our environments because `patch-package` wasn't run. 😬

[2021-11-20 11:07] revolter opened #696 "Find out Pipenv version"
How do I find out what version of Pipenv is used? Because "latest" is not a version, and I'm pretty sure that it's not using the latest latest version.

[2021-11-20 11:32] revolter commented on #696
Also, I think that a new release should be made as soon as possible, so it includes the Pipenv version `v2021.11.15`, that fixes https://github.com/pypa/pipenv/issues/4829.

[2021-11-25 19:44] Maximvdw commented on #327
Did you manage to solve this issue on Netlify? - I am having the same issue for generating a PDF version of a documentation page.

[2021-11-26 14:46] devm33 commented on #327
Hi there, thanks for asking. I ended up just setting netlify to manual build (unlinking the git repo) and switching to building on travis-ci where I could install the fonts I needed: https://github.com/devm33/devm33.com/blob/master/.travis.yml and deploy to netlify where their cli https://docs.netlify.com/cli/get-started/ authorized with an environment variable set in travis. Cheers!

[2021-11-27 01:27] Maximvdw commented on #327
Hey, thanks for the tip. I used a similar concept now. For anyone interested - this is the github actions equivalent:
https://github.com/OpenHPS/openhps.org/blob/master/.github/workflows/main.yml

[2021-12-01 06:32] krompaco commented on #694
@atheken Interesting! Where do I put those commands?

Also... Is this normal time before someone picks up an issue?

Would also be nice to add dotnet and which versions are in there etc to the documentation here for example: https://github.com/netlify/build-image/blob/focal/included_software.md

Just the output of `dotnet --list-sdks` would do.

I think it would be great to have both a 5.0 and 6.0

[2021-12-01 14:06] hrishikesh-k opened #699 "Investigate yarn flag `--ignore-optional` behaviour"
Hi!

There seems to be an issue with installing optional dependencies when using Yarn.

The [Netlify documentation](https://docs.netlify.com/configure-builds/manage-dependencies/#yarn) mentions that when using Yarn, `--ignore-optional` flag is passed by default.

While going through the [default build script](https://github.com/netlify/build-image/blob/focal/run-build-functions.sh#L152), this does

[2021-12-01 16:07] atheken commented on #694
I don’t actually work at Netlify, I just wanted to get my build working.

To answer your questions: I include a single bash script in my repo, something like “./scripts/build.sh” and then configure Netlify to run that script, that’s where the snippet above goes.

//Andrew

[2021-12-02 12:15] JGAntunes commented on #699
@Hrishikesh-K I've hit this myself in the past too. The problem is that the answer is not really in `build-image` but actually coming from `bitballoon`. Background:
- https://github.com/netlify/build-image/issues/128
- https://github.com/netlify/buildbot/issues/268

Seems like this flag was once applied by default but since then we only apply it to a specific yarn version (`0.18.1`). The code:
- h

[2021-12-03 11:16] Relequestual commented on #696
This is a real problem. Also captured here: https://answers.netlify.com/t/issues-with-netlify-python-requests/48018/4?u=relequestual

[2021-12-03 11:17] Relequestual commented on #696
@revolter  Can you change the title of this issue to something more fitting please? =]

[2021-12-03 13:10] revolter commented on #696
Why? The issue is about offering the possibility for users to find out the version of Pipenv that is used in the specified build.

[2021-12-05 12:43] wkaluza opened #700 "Cache default ELM_HOME location"
Netlify provides an Elm compiler installation, but does not cache the Elm modules which are downloaded during deploys. This leads to unnecessary repeated downloads which could be cached.

There have been several attempts by members of the Elm community to enable caching in order to improve build performance. The solutions tend to be brittle and rely on build script implementation details like cert

[2021-12-05 14:17] hrishikesh-k opened #704 "Python and Pip giving unexpected errors in build"
**Describe the bug:**

Reported by user [on the forums](https://answers.netlify.com/t/python-build-is-not-working-anymore/47343/8).

When using `pipfile`, the build appears to fail (in installing Python dependencies phase) with the following error on `focal`:

[code]

and on `xenial`:

[code]

Both are using Python 2.7, but the error occurs when trying to use Python 3.8 on `focal` too. Since it fa

[2021-12-05 17:51] Hrishikesh-K opened #701 "Consider exposing environment variables before build phase"
A user recently reported an error in their builds. (internal only: https://netlify.zendesk.com/agent/tickets/73555). They had some scripts to run during `git checkout` stage and didn't wish to run those in CI or when building on Netlify. So, they tried to access `CI` or `NETLIFY` environment variables, but could not as we don't seem to make them available before the build phase. They ended up usin

[2021-12-09 00:28] liamgold commented on #694
Pretty sure this is done now, I had to upgrade my website from .NET 5 to .NET 6 as the build agent no longer supported .NET 5:

[code]

[2021-12-09 12:04] atheken commented on #694
Yeah, it looks like Netlify did a [release of the image 2 days ago](https://github.com/netlify/build-image/commit/a6bb34428a07e7de82f4df5dfe1843fbde91f670), and like I said based on the scripts, the build pulls the latest SDK for .net. I ran my build and now am seeing:

[code]

[2021-12-12 21:26] ryantownsend commented on #522
+1 for this, can't install `pg` Rubygem because it needs `libpq`, but the Brewfile is executed AFTER bundling Rubygems, so this fails.

[2021-12-12 21:36] ryantownsend commented on #522
I've created a PR to address this: https://github.com/netlify/build-image/pull/705

[2021-12-12 21:48] ryantownsend commented on #501
@vbrown608 @calavera I've created a PR to address #522: see #705

[2021-12-13 16:55] JGAntunes opened #706 "Lock the `.NET` version installed"
As per - https://github.com/netlify/build-image/issues/694 - we default to installing the latest LTS `.NET` version available through the official script. As per the remaining of our tooling we should lock this version, to avoid potentially breaking builds in between releases with unrelated changes.

[2021-12-13 17:04] JGAntunes commented on #694
Hey folks 👋 thanks for raising this. As @atheken mentioned seems like the latest release has shipped an unintended update to the `.NET` version installed. Created #706 to track a fix for it.

As for supporting multiple versions we currently have no plans to tackle that straight away, however if that is work you would be interested in seeing done feel free to open an issue or a PR to add support fo

[2021-12-13 17:04] #694 closed, assigned to nobody

[2021-12-13 17:20] #706 closed, assigned to JGAntunes

[2021-12-17 12:05] JGAntunes commented on #699
@Hrishikesh-K did we get any feedback from the customer? Else, are we good to close this?

[2021-12-17 12:08] hrishikesh-k commented on #699
Yeah they never came back. I think we can close this and re-open it later if needed. Thanks.

[2021-12-17 12:08] #699 closed, assigned to nobody

[2021-12-17 15:24] Relequestual commented on #696
OK, in which case I misunderstood.

[2021-12-20 09:08] bennypowers opened #714 "Allow cache file glob customization"
Hello! Netlify is the 🐝 's 🧎‍♂️ s. Thanks for maintaining it.

This issue relates to a chronic problem I encounter maintaining **NodeJS builds** using `npm` (or `yarn`), for example, an app might specify `npm run build` as it's build command for the netlify runner.

The problem occurs when I use [patch-package](https://npm.im/patch-package) to maintain patches against my `node_modules` dependencie

[2021-12-20 11:33] wkaluza commented on #700
[ping] Would there be any interest in this? Shall I just submit the PR?

[2021-12-21 06:40] overlordofmu commented on #714
I want to clarify a nuance here. Technically speaking, the issue isn't the cached `node_modules` directory itself. The issue is that, when a `node_modules` directory is cached, we only run `npm install` again if at least one of the following is true:

*  There is a node version change since the cached build.
*  The `package.json` file changed from the cached build.

These changes are detected with

[2022-01-04 19:07] akahn opened #715 "Can't build image on Apple Silicon"
[Some](https://github.com/netlify/build-image/blob/focal/Dockerfile#L303-L305) [places](https://github.com/netlify/build-image/blob/focal/Dockerfile#L194-L203) in the `Dockerfile` hard-code the architecture of installed packages as `amd64`. On an Apple computer with M1 (arm64) architecture, this produces the following error:

[code]

We should update these install commands to use one of the [Docke

[2022-01-04 20:52] akahn commented on #715
In addition to the above issue, there is an issue with `segmentation fault`s with curl/libssl on Ubuntu 20.04. The [Docker for Mac release notes](https://docs.docker.com/desktop/mac/release-notes/3.x/#known-issues) advise upgrading to Ubuntu 21.04. There is no other fix or workaround suggested.

[2022-01-06 11:45] aduh95 commented on #612
Could we add to the list:

- Adding support for [`"packageManager"`](https://nodejs.org/api/packages.html#packagemanager) field in the `package.json`?
- Adding support for interacting with Yarn using Corepack (`corepack yarn` handles the download of the correct version instead of having to specify a version from the env variable)?

Corepack is listed as the preferred install method for Yarn accord

[2022-01-07 09:23] mcmxcdev opened #716 "Yarn is installed twice when using Yarn Berry"
We are in the process of migrating from Yarn v1 to Yarn v3 and I noticed this in the logs:

[code]

`NETLIFY_USE_YARN = "true"` -> set as env var
`YARN_VERSION` -> NOT set as env var

What are the necessary steps to make the Netlify image install Yarn Berry only?

[2022-01-07 16:15] JGAntunes commented on #716
Hey @mhatvan, thanks for opening this issue.

This is actually a duplicate of https://github.com/netlify/build-image/issues/594 and related with https://github.com/netlify/build-image/issues/612. The problem is related with the way we rely on `yarn --version` to detect a mismatch between the default/configured yarn version and the way `yarn-path` works within the `.yarnrc`. tl;dr the right binary

[2022-01-07 16:15] #716 closed, assigned to nobody

[2022-01-18 13:49] #695 closed, assigned to erezrokah

[2022-01-19 11:26] JGAntunes commented on #714
Thanks for opening this issue @bennypowers

As @overlordofmu perfectly described I think that's the exact problem here, which we're tracking via #523 (for reference we also have an internal issue over at https://github.com/netlify/pillar-workflow/issues/138), so I'm going to close it as a duplicate of such (let us know if you think that's not the case though 👍)

[2022-01-19 11:27] #714 closed, assigned to nobody

[2022-01-20 08:50] overlordofmu opened #727 "`GIT_LFS_FETCH_INCLUDE` environment variable is not applied to clones of LFS files in submodules"
**Describe the bug**

If a submodule uses Git LFS, the `GIT_LFS_ENABLED` environment variable is used for the submodule clone. However, the `GIT_LFS_FETCH_INCLUDE` environment variable which determines the filetypes that will download the actual file instead of the Git LFS pointer is ignored for the submodule.

**To Reproduce**

Steps to reproduce the behavior:

1. Fork the repository at https://g

[2022-01-20 12:06] #575 closed, assigned to aitkenster

[2022-01-20 16:11] erezrokah opened #731 "chore(ci): Xenial CircleCI pipeline is broken"
See PRs:
https://github.com/netlify/build-image/pull/726
https://github.com/netlify/build-image/pull/730

and failures:
https://app.circleci.com/pipelines/github/netlify/build-image/234/workflows/cd621357-e89e-429a-bb76-185f3fc4348b/jobs/641
https://github.com/netlify/build-image/runs/4883672971?check_suite_focus=true

[2022-01-20 16:54] aitkenster opened #732 "Improve build-image release instructions"
Slack thread with more details: https://netlify.slack.com/archives/C02T8ASK2E9/p1642679884060100

[2022-01-23 03:23] MadMaxMcKinney commented on #53
Once again sending this to the top. Got here after struggling to get the node version updated in an older project that got resurrected and spend a while figuring out why Netlify was failing to build. Is it still expected that we updated the node version via the environment var in the Netlify UI when needing to do so?

[2022-01-24 16:17] aitkenster commented on #731
Pretty sure this is the root cause: [No more support for Ubuntu 16.04 Xenial](https://github.com/deadsnakes/issues/issues/195)

[2022-01-24 16:33] #732 closed, assigned to aitkenster

[2022-01-24 17:35] JGAntunes opened #735 "Schedule periodical CI executions"
Schedule periodical CI executions (daily?) to help us detect problems like https://github.com/netlify/build-image/issues/731 sooner instead of spotting it during a particular release or fix.

[2022-01-25 23:59] kachkaev commented on #615
This issue is five months old today and there is still no solution for Yarn 3 in the public. I tried finding a workaround today but gave up: https://github.com/netlify/build/issues/1535#issuecomment-1021720396 HALP! 🙏

**UPD:** Workaround: https://github.com/netlify/build/issues/1535#issuecomment-1022988981

[2022-01-26 00:24] kachkaev commented on #612
Seems like there is still no solution for Yarn 3 caching. I tried finding a workaround today but gave up: https://github.com/netlify/build/issues/1535#issuecomment-1021720396 HALP! 🙏

[2022-01-27 23:43] hayden2114 commented on #727
Friendly +1 on this bug. Would be awesome to get this submodule + gitLFS implementation working correctly

[2022-01-28 18:13] erezrokah commented on #731
Can we close this as resolved? Not sure why merging https://github.com/netlify/build-image/pull/736 didn't close it.

[2022-01-31 13:43] erezrokah commented on #731
Closing, please re-open if needed

[2022-01-31 13:43] #731 closed, assigned to aitkenster

[2022-02-03 20:19] braco commented on #53
Ah, the old spending 4 hours in Netlify build hell because of some weird unsupported thing again. Oof. Can anyone from Netlify take ownership of this problem? @erezrokah?

5 year old issue!

[2022-02-03 23:44] juanpprieto commented on #715
+1

[2022-02-07 09:51] Stanzilla commented on #606
Any plans to add 3.10?

[2022-02-08 12:34] sagikazarmark commented on #617
I'd also love to see this. Flakes make portable build environments so much easier.

[2022-02-09 06:53] verythorough opened #739 "Can't find Python 3.7 on Xenial when specified via Pipfile"
**Is your build failing?**

If a site includes a `Pipfile` requiring Python 3.7, yes, the build fails.

**Describe the bug**

On Zenial, Python is available in version 2.7 (default), 3.5, and 3.7. There are [three methods](https://docs.netlify.com/configure-builds/manage-dependencies/#python) for choosing the version: `PYTHON_VERSION`, `runtime.txt`, and `Pipfile`. All three methods work to specif

[2022-02-11 19:53] bep opened #740 "Add the Dart Sass Embedded binary"
See https://discourse.gohugo.io/t/using-dart-sass-hugo-and-netlify/37099/2 for some context.

I'm the lead maintainer of Hugo. We integrate with both LibSASS (now deprecated) and Dart SASS via the embedded protocol. This all works great, but the latter requires a binary to be present in the `PATH`. I have looked, and I think even the Node library requires an extra download step by the end user.

A

[2022-02-14 17:44] nomeata commented on #617
Until there is official support, are there workarounds? Can I install `nix` as part of the netlify build command?

[2022-02-15 14:14] jpreynat commented on #519
Agreed. This is a **huge** limitation.
We have a specific Node module that requires preinstalled binaries (`krb5-config`) to compile through node-gyp, and there's nothing we can do about it because of this limitation.

Using a custom Docker image would also work, but `apt-get` seems the most decent solution for 99% of use-cases.

[2022-02-15 14:36] hayden2114 commented on #727
Any update on when this bug might be fixed or investigated?

[2022-02-15 18:07] krompaco opened #742 "Add information about .NET"
Would be nice to add dotnet and which versions are included to this documentation file: https://github.com/netlify/build-image/blob/focal/included_software.md

Just the output of dotnet --list-sdks would do I suppose.

I'm successfully running builds with 6.0 so I can confirm it is in there and works perfectly 😅

Thanks for all your great work!

[2022-02-15 23:54] justinas commented on #617
See [nix-netlify-poc](https://github.com/justinas/nix-netlify-poc) for a workaround using `nix-portable`. @nomeata

[2022-02-16 00:05] edrex commented on #617
@justinas 404 priv?

[2022-02-16 00:06] justinas commented on #617
Sorry! Yup, just made the repo public.

[2022-02-16 05:51] overlordofmu commented on #727
Hi, @hayden2114. The investigation phase is complete as the issue is well understood and the responsible code is known. I don't have an official ETA for a fix, though.

I want to be transparent as I can. I can give a best guess about a timeline and, before I do so, I want to be clear I'm not trying to dismiss you. I only want to be clear about the timeline for a fix so you don't delay a decision f

[2022-02-16 09:47] nomeata commented on #617
Neat! I guess the next step might be to add the nix store directory to what's cached by netlify somehow?

[2022-02-16 15:29] hayden2114 commented on #727
@overlordofmu thank you for the reply. That timeline is obviously way longer than I was expecting, which is disappointing, but I do greatly appreciate your honesty as it helps me plan the best course of action for my companies current and future projects.

[2022-02-16 15:52] hayden2114 commented on #727
@overlordofmu One thought I just had was that it may take 6 months for Netlify devs to get around to fixing the bug in the code but a temporary and much simpler fix to the problem would be to extend the default GIT_LFS_FETCH_INCLUDE statement to `GIT_LFS_FETCH_INCLUDE=*.jpg,*.png,*.jpeg,*.svg,*.gif,*.pdf,*.mp4,*.bmp,*.webp,*.glb,*.gltf,*.basis,*.ktx2` so the submodule picks up on those additional

[2022-02-16 17:56] edrex commented on #617
Maybe via a [JS build plugin](https://docs.netlify.com/configure-builds/build-plugins/create-plugins/) wrapper? Also, it [looks like](https://github.com/netlify/build/blob/main/packages/cache-utils/src/dir.js#L8) the cache dir is `.netlify/cache/`.

[2022-02-16 20:16] nomeata commented on #617
Playing with the `nix-portable` work-around, and it’s neat that it works! With my page’s build dependencies, I spend 6min downloading stuff every time, that’s not great. Now hooking it up to a remote builder (nixbuild.net) to see if that gets it into a better shape, although I still observe a 4min delay where it presumably downloads `nixpks` and evaluates my build.

[2022-02-16 21:13] nomeata commented on #617
Maybe simply `export NP_LOCATION="$PWD/.netlify/cache"` is enough? Trying that right now.

Or maybe not. Trying to use https://github.com/jakejarvis/netlify-plugin-cache. This requires me to add a `packages.json` file to the repo, really?

[2022-02-16 22:25] nomeata commented on #617
Sigh, that doesn't work neither, it seems. I have
[code]
and
[code]
but I get
[code]
without further indication what went wrong.

[2022-02-16 22:40] edrex commented on #617
maybe it's too big or something along those lines.

[2022-02-16 22:50] nomeata commented on #617
It’s not thaaat big in my small test. Maybe dead symlinks are an issue, or stuff like that.

It’s probably too much of an hack anyways, even if it worked. If only using a remote builder would work without downloading all build dependencies first…

[2022-02-17 14:30] ehmicky commented on #469
Another option could also be to use the `NVM_NODEJS_ORG_MIRROR` environment variable which allows adding mirrors.
This would remove any need to cache the Node.js binaries ourselves, by relying on mirrors instead.

[2022-02-18 10:06] barrelltech commented on #485
~What is the status of this? I would like to use netlify but am building a project with the clojure cli~

Nevermind, it's been merged, there was just an issue in my build script 😂  I reckon this issue can be closed! :)

[2022-02-18 21:12] ehmicky commented on #469
Note: this problem also happens ~20 times per day due to transient network errors when `nvm` is fetching https://nodejs.org/dist/index.json, which would also be solved by this issue.

[2022-02-21 11:17] ingride commented on #740
hi @bep! Thank you for the suggestion and all the details. You can open a PR and make this change following the [contribution guildelines ](https://github.com/netlify/build-image/blob/focal/CONTRIBUTING.md), and we are here to support if you run into any issues.

[2022-02-22 03:30] mainej commented on #485
@bbarrell this issue shouldn't be closed. It isn't fixed.

As I believe you discovered, Netlify does install the `clojure` cli for building deps.edn based projects (though see caveats below).

However, 485 was opened to address a different problem—build times of Clojure projects are unnecessarily slow, because `~/.m2` and other directories aren't cached at the end of a build.

(Note... what follow

[2022-02-28 16:03] ehmicky opened #745 "Speed up CI"
Our CI pipeline is too slow.

@erezrokah just improved it by using stronger machines (https://github.com/netlify/build-image/pull/743 and https://github.com/netlify/build-image/pull/744). However, this is still lasting more than 20 minutes.

We should see what can be done to reduce this. This is especially important when there is an incident and we need a quick bug fix in the `build-image`.

[2022-02-28 16:56] ehmicky opened #746 "Improve resilience during npmjs.org outages"
When [npmjs.com has an outage](https://status.npmjs.org/), most builds on Netlify are impacted, which creates an outage for us. While this does not happen very often, it does happen from time to time.

We cache npm dependencies, which reduces the impact of this. However, there is still a significant impact and we should improve our resilience when this happens.

Possible improvements could include

[2022-02-28 17:00] ehmicky opened #747 "Improve our resilience to third-party outages for `build-image` dependencies"
This repository downloads and installs lots of files from third-party dependencies. When one of them has an outage, so do we. We should increase our resilience in such situation.

## Dependency types

This repository has two types of dependencies:
  - Docker build dependencies, i.e. installed [from the `Dockerfile`](https://github.com/netlify/build-image/blob/focal/Dockerfile)
  - Runtime dependen

[2022-03-01 15:27] ehmicky opened #748 "Warn against specifying minor/patch version numbers in custom Node.js versions."
## Background

Sites can specify a custom Node.js version by using a `.nvmrc` file, `.node_version` file or `NODE_VERSION` environment variable.

## Problem

Specifying the minor/patch version number for Node.js is a bad pattern since:
  - It prevents sites from receiving security fixes
  - Node.js respects semantic versioning faithfully, i.e. never introduces breaking changes in minor/patch relea

[2022-03-01 16:18] ehmicky opened #749 "Warn against using vulnerable Node.js versions"
## Background

### Custom Node.js version

Sites can specify a custom Node.js version by using a `.nvmrc` file, `.node_version` file or `NODE_VERSION` environment variable.

### Node.js versioning

Node.js maintains [a list of supported major releases](https://github.com/nodejs/Release). Unsupported major releases do not receive security fixes anymore.

Node.js also alternates between odd and even

[2022-03-02 08:06] MikeBeas commented on #53
I just ran into an issue where my builds were failing because I guess webpack requires something newer than Node 12, but that's what netlify was trying to build with despite my `engines` section specifying it should use Node ^17.0.0. This really needs to be addressed.

[2022-03-02 13:00] KockaAdmiralac commented on #727
Can #371 be considered while this bug is being resolved?

[2022-03-03 12:24] nde-agridea commented on #694
How do you do that (configure Netlify to run that script) ? Nowhere could I find an option in the UI to run a custom script. Thanks.

[2022-03-03 17:40] ehmicky commented on #469
Draft PR at https://github.com/netlify/build-image/pull/750 for adding a mirror.

[2022-03-04 20:08] zackerydev opened #751 "Improve caching for NPM Workspaces"
**Is your feature request related to a problem? Please describe.**

NPM Workspaces as of version 8 are now context aware.

This means that when using npm 8 in a mono repo and Netlify you can safely run `npm i` from with a folder and it will respect the workspace and install properly.

The Netlify build image however doesn't support this as it does not cache the root level node modules and on subse

[2022-03-08 16:12] ehmicky commented on #748
First part at https://github.com/netlify/build-image/pull/757

[2022-03-09 08:22] bep commented on #740
I spent 2 hours this morning trying to add the Dart Sass Embedded binary to https://github.com/netlify/binrc -- and failed miserably; I'm sure that's on me, just wanted to chime in and say that I currently don't have more time to contribute to this, if others want to try :-) I may pick up the ball later.

[2022-03-16 07:30] MikeBeas commented on #53
Since there hasn't been any movement on this I went hunting to see how Heroku and others do it. Heroku is using a custom binary that checks their installable inventory on an S3 bucket and figures out what version matches the specified range, so that was kind of a non-starter, but there are other ways to get at this info.

`npm view node@^17.0.0 version | tail -n 1 | cut -d "'" -f2`

This will outp

[2022-03-16 15:04] #751 closed, assigned to nobody

[2022-03-16 20:46] zackerydev commented on #196
For others finding this issue in the future:
https://github.com/netlify/build-image/pull/752

This PR just landed adding caching for npm workspaces (I think this would work with Lerna bootstrap too YMMV) if you enable the `EXPERIMENTAL_NPM_WORKSPACES_CACHING` environment variable in your build settings.

[2022-03-24 15:43] ehmicky commented on #469
#750 was closed due to security concerns with using external mirrors.
This means we should instead go with caching the binaries, as explained in the above comments.

[2022-03-28 07:46] fulopkovacs opened #762 "Builds for public project that use yarn 2 (or above) with workspaces are failing"
**Is your build failing?**

Our builds our failing. We use `yarn 3.2.0` with workspaces in a public repo.

This is the step where yarn fails:
[code]

**Describe the bug**

A bit of context: in yarn 1.x only private repos can have workspaces, but this limitation was removed in yarn 2:

The problem is in the [`run-build-functions.sh` file](https://github.com/netlify/build-image/blob/7335e6b6aefc133b

[2022-03-31 04:41] noisy commented on #53
And looks like, that without this implemented, **I cannot deploy a new project after an update** to Netlify. This should be addressed ASAP. Everyday people have more and more reason to upgrade to newer version of node.

[2022-04-01 00:49] nolessafool commented on #53
that's not true, @noisy .  You can use any node version you want; you need to set a node version in our way, which is use `$NODE_VERSION` and put whatever version you want in it, in the way we have documented here: https://docs.netlify.com/configure-builds/environment-variables/#netlify-configuration-variables

[2022-04-01 01:06] MikeBeas commented on #53
@fool I mean, as demonstrated by that comment from @noisy, the fact that folks know about `engines` but not the Netlify-specific way to do this, and the fact that people even believe the only way to do this is `engines` should lend some credence to the idea that `engines` is the right way to do it and should be supported. 🤷🏻‍♂️ Just my take.

[2022-04-01 03:24] adamreisnz commented on #53
I too, would appreciate it if support for `engines` is added, as it's extra work and easy to forget to update the Node version in Netlify config.

[2022-04-01 08:54] chris-hailstorm commented on #53
Netlify people. Can you please explain why you aren’t fulfilling this
request? Using the engines key is the one, correct, completely obvious way
to implement this. The fact that this request has been open for years and
your customers are still asking you to do it should be concerning to you.
You are asking us to use a dumb, Netlify-specific approach.

Why?

On Thu, Mar 31, 2022 at 11:24 PM Adam Re

[2022-04-01 16:28] erezrokah commented on #53
Hi everyone and sorry for the slow responses on the issue. We are discussing internally the best way to approach it.

As mentioned the current workaround is to specify a custom Node.js version in order to opt out of the default one. We understand this is not ideal, and would like to suggest another possible solution.
Our default build image for new sites `focal`  includes Node.js version 16 which

[2022-04-01 22:23] MikeBeas commented on #53
@erezrokah Howdy, thanks for the info. Glad to hear this is being discussed! Here's my input on those questions:

1. I'm on `focal`
2. My engines field is included below, used on two different Netlify sites
3. For this I would generally prefer the latest version of v17 available, but I would anticipate the possibility that it could be something as low as 17.0. If I wanted 17.8 or higher specifical

[2022-04-02 17:06] FunctionDJ opened #776 "buildbot shell errors with "/bin/bash^M: bad interpreter: No such file or directory""
**Describe the bug**

I've followed the instructions from the README using WSL 2 to install Docker in Ubuntu.
I cloned this repository (build-image) from within WSL, not through Windows.
The target project directory however is a mount in Ubuntu that points to the Windows filesystem.
I already had to use dos2unix to be able to run the `./test-tools/start-image.sh` which otherwise showed me the same

[2022-04-04 12:20] erezrokah commented on #53
Thanks for the info @MikeBeas, quick follow up - do you mind sharing the reason Node.js 17 is required? What's missing from Node.js 16 that you need? I'm trying to figure out if 17 is a better default than 16

[2022-04-04 13:36] MikeBeas commented on #53
@erezrokah I actually would recommend 16 as the default since that's the current LTS release. I only use 17 because I keep my personal installation up to date. I don't think I'm using anything specific from 17, it's just what I have installed so I use it on deployments as well to be safe.

[2022-04-12 21:16] adamreisnz commented on #53
@fool @erezrokah here is another use case in favour of respecting the Node version in package.json rather than having to configure this through the dashboard.

We have a separate branch in our repositories called `maintenance`. We put this up when, as the name implies, we need to put our app in maintenance mode.

This branch however is severely outdated compared to the rest of the app. It's packag

[2022-04-13 09:28] erezrokah commented on #53
Thanks for the additional use case @adamreisnz 👍

So updating to a newer Node.js runtime version (from 12 to 16) causes the build to fail? Can you share a bit more information on the failure, for example the error you're getting when the build fail? The reason I'm asking is that we encourage people to upgrade to `focal` and if that can cause failures, it would be great to provide a migration guide

[2022-04-13 09:53] adamreisnz commented on #53
Yes, it does, it was a `gyp` related build failure. I don't have the exact logs, but can dig them up for you.
Fact of the matter is, as web developers can attest to, this happens more often than we'd like.

One node version up is usually not a problem, but as things progress, and you go up 2 or 3 node versions, and don't update packages or maintain a specific branch, chances are getting quite high

[2022-04-14 19:46] mansona opened #777 "Webm files don't work by default with git LFS"
**Describe the bug**

I enabled LFS for my repo and for some reason **most** of my files were working, but the `webm` files just didn't work

**To Reproduce**

1. Fork the repository at https://github.com/mansona/emberconf-lint-to-the-future
2. Create a Netlify site and link it to the forked repository
3. Make sure to enable LFS by setting the GIT_LFS_ENABLED environment variable to `true`
4. The

[2022-04-15 22:32] markkasaboski commented on #172
The only way `npm install` makes sense to use within an automated build is if we (the developers of the application) edit our package.json files removing all `^, ~, >, >=, <, <= ...` that prefix the versions and get them all to match exactly the version that we want. https://docs.npmjs.com/cli/v8/configuring-npm/package-json#dependencies

Currently, Netlify runs `npm install` very early in the bui

[2022-04-29 01:13] dioptre opened #779 "Adding Yarn Berry (v2/2.0.0/v3/3.0.0/3.1.1) to netlify.toml doesn't work"
**Describe the bug**
All new versions of yarn don't seem to work out of the box, I've tried 2/3/berry and fails:
[code]

**To Reproduce**

Steps to reproduce the behavior:
I just use the following in the netlify.toml:
[code]

and get the error above.

Thanks

[2022-05-04 13:45] kitop commented on #735
@JGAntunes with CircleCI this is quite easy to do with triggers. We'd probably want to avoid the push to registry step though, right?
If so, we can add some [conditionals](https://support.circleci.com/hc/en-us/articles/360043638052-Conditional-steps-in-jobs-and-conditional-workflows) to just run the test parts.

If you confirm, I'm happy to look into it.

[2022-05-04 13:53] JGAntunes commented on #735
Yep exactly @kitop. We can run the test and build phase only, daily (setup with triggers). We should also setup notifications for CCI to our slack channels so that we can track possible pipeline failures.

[2022-05-04 14:03] kitop commented on #735
Thanks! I'll start looking into this

[2022-05-16 11:33] #735 closed, assigned to kitop

[2022-05-19 16:53] DeveloperC286 opened #781 "Globally installed NPM packages missing."
**Describe the bug**

Packages such as Elm globally installed via NPM are not accessible within the build image.

https://github.com/netlify/build-image/blob/focal/Dockerfile#L230

E.g.

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Use the build image `Ubuntu Focal 20.04 (default)` on netlify.com.

**Expected behavior**

That Elm and other globally installed NPM packages can be u

[2022-05-24 15:07] lovebes commented on #232
Is this still an issue or resolved? Asking because issue is still open. I'd love to use elixir too :)

[2022-05-27 14:01] piecyk commented on #615
Hi, manage to create a workaround for yarn3 using a custom plugin, till #612

First in `netlify.toml` use `NPM_FLAGS` hack to disable default npm install, here we cannot use `NETLIFY_USE_YARN` becase of #779
[code]

then create `.netlify/netlify-plugin-yarn` folder with files
* manifest.yml
* index.js

manifest.yml is just
[code]
and index.js is responsible for moving cache folder, setting `YARN_C

[2022-05-30 13:18] kaushalmodi opened #782 "Update the default Emacs version to 28.1"
**Is your feature request related to a problem? Please describe.**

Emacs is used as a static site generator by many people. It could be used to convert Org mode content directly to HTML using the built-in ox-html exporter. It can also be used to first convert to Markdown and then run regular static site generators like Hugo to convert that to HTML.

I am the maintainer of one such Org to Markdown

[2022-06-04 13:30] notghettolenny opened #783 "update ruby version"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is.
the version of ruby being used is ruby 2.7 : ${RUBY_VERSION="2.7.2"}

**Describe the solution you'd like**
update to latest ruby version 3.1

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise descript

[2022-06-10 03:22] airtonix opened #787 "Support ASDF"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when i realise you don't support ASDF

**Describe the solution you'd like**

support asdf

**Describe alternatives you've considered**

... -_-

**Additional context**

asdf is the version manager to rule them all

**Can you submit a pull request?**

Yes

[2022-06-15 00:09] kennyjwilli opened #788 "Customizable Java version"
**Is your feature request related to a problem? Please describe.**

Some build tools require a particular version of Java  (e.g., [Google Closure Compiler](https://github.com/google/closure-compiler)). The current version of the build-image requires Java 8 and does not appear customizable. The Google Closure Compiler, for example, [requires Java 11](https://github.com/google/closure-compiler/wiki/

[2022-06-15 17:19] aitkenster opened #789 "Latest NPM versions throw an error when workspaces are configured"
**Describe the bug**

Versions of NPM greater than 8.4 throw an error if the build is using NPM workspaces. It seems like the reason is workspaces aren't compatible with  [npm set](https://github.com/netlify/build-image/blob/a49edbc55fc722f80f6b85963a5060f8d043a844/run-build-functions.sh#L183) so we might need to rethink this
command

**To Reproduce**

Steps to reproduce the behavior:

1. Create a

[2022-06-19 05:10] Luckyazimie391 opened #791 "Please replace with a clear and descriptive title"
**Is your build failing?**

Before submitting an issue, please reach out to our support team via the helpdesk if you're a Pro or higher customer (email support@netlify.com from your netlify login email as shown at https://app.netlify.com/user/settings) or in the forums otherwise (https://answers.netlify.com)? Our Support engineers should be able to help you get things rolling smoother.

Once you'v

[2022-06-19 08:11] Luckyazimie391 opened #792 "Building kabunet enjin and level up for CPU_GPU upgrade high level. "RAM 6+2GB up to RAM 8GB or RAM 12GB" ROM 128 GB upgrade to ROM 256 GB Issue in progres <"Hello World "> ***#"C++_ _""C+__ _** "C"...√%¥ ,🐳🐉🪙🥑🐱🪙💴💶💵💰🧲🔥👌👍👍😉"
https://github.com/kubernetes/test-infra/blob/master/prow/.prow-images.yaml

[2022-06-20 22:19] lvwvm opened #794 "Missing workdir "/opt/build" in build container."
Running `test-build.sh` returns

`Error: workdir "/opt/build" does not exist`

This is due to the `--workdir` option passed to docker.
The [option either needs to be removed](https://github.com/netlify/build-image/blob/a49edbc55fc722f80f6b85963a5060f8d043a844/test-tools/test-build.sh#L61) or the directory created in the build-image.

**To Reproduce**

Steps to reproduce the behavior:

First checko

[2022-06-21 15:20] Luckyazimie391 opened #796 "Image update versi binaan"
https://github.com/ibm-datapower/datapower-configuration-manager/issues/124

[2022-06-23 10:58] #715 closed, assigned to nobody

[2022-06-27 11:24] lukasholzer opened #799 "Change the way how the elm compiler is installed as it is not compatible with arm64"
**Is your build failing?**

when running `docker build --build-arg TARGETARCH=arm64 --target build-image .` it is failing with the following issue:

(basic `make build-base`)

![image](https://user-images.githubusercontent.com/11156362/175930321-2a62e67c-3bae-400d-994c-dec4e192c1b4.png)

[2022-06-27 12:57] lukasholzer commented on #787
@airtonix thanks for opening the issue this looks really awesome! Was not aware of it :) Already brought this up for discussion in our internal channel.

Would you be so kind to explain how your PR would look like? Replace all the existing installs inside the docker file with asdf?

[2022-06-27 14:34] lukasholzer commented on #799
Seems to look like that the way to get it working is to build it from source: https://github.com/elm/compiler/issues/2117#issuecomment-751428345

[2022-06-28 18:36] hwittenborn opened #801 "Why is the Hugo version out of date so much?"
Why is the Hugo version set all the way back to 0.85? I'm wanting to avoid having to pin a version in my config because then I have to keep that manually up to date, so I'm wondering why it isn't just the latest here.

[2022-06-29 14:30] kitop commented on #783
@notghettolenny you can set the ruby version of your build in Netlify by setting a `RUBY_VERSION` environment variable or  having a `.ruby-version` file. More details in docs: https://docs.netlify.com/configure-builds/manage-dependencies/#ruby

Closing this as that should solve the issue for a site. Please reopen with more details if this doesn't solve it.

[2022-06-29 14:30] #783 closed, assigned to nobody

[2022-06-29 14:33] kitop commented on #601
This is now matching
https://github.com/netlify/build-image/blob/7f982ee89631b4cd9ccab6cfd948ec9a7fb242cf/run-build.sh#L22
https://github.com/netlify/build-image/blob/7f982ee89631b4cd9ccab6cfd948ec9a7fb242cf/Dockerfile#L230-L236

[2022-06-29 14:33] #601 closed, assigned to nobody

[2022-06-29 14:37] kitop commented on #541
Late update here, but Ubuntu Focal (20.04) has been released! https://answers.netlify.com/t/new-ubuntu-20-04-focal-fossa-build-image/37095

You should be able to update the image in your site settings page, in the "Build & Deploy" section.

We will be fully deprecating Xenial image soon, but want to give time for people to update. Please follow the ["Updates" section of the forums](https://answers

[2022-06-29 14:37] #541 closed, assigned to nobody

[2022-06-29 14:44] kitop commented on #232
This is supported now, Elixir 1.9.1 is installed in Focal: https://github.com/netlify/build-image/blob/7f982ee89631b4cd9ccab6cfd948ec9a7fb242cf/Dockerfile#L44

https://github.com/netlify/build-image/blob/focal/included_software.md#languages

[2022-06-29 14:44] #232 closed

[2022-07-12 09:01] lukasholzer opened #815 "Add Haldo linting to build image dockerfile"
To ensure the quality of our Dockerfile a static code analysis is a must.

For this there is [Haldolint](https://github.com/hadolint/hadolint) (a docker linting tool that uses shellcheck under the hood to check if everything is right)

Currently running `docker run --rm -i hadolint/hadolint < Dockerfile` inside the build image results in a lot of errors that we should tackle!

It follows the docke

[2022-07-15 09:48] lukasholzer commented on #815
Already done in #818

[2022-07-15 09:48] #815 closed, assigned to nobody

[2022-07-15 09:53] lukasholzer opened #820 "Run the docker image size inside CircleCI instead of github actions"
Currently the GitHub actions for checking the image size are building the docker image again so we are building the image twice (waste of resources) furthermore does it take way longer than the circleci building.

So just run the manifest check on circleci (maybe build a orb for it and sync with @netlify/infrastructure-pod-release-eng about that.

https://github.com/netlify/whalescale/blob/main/in

[2022-07-15 10:03] danez opened #821 "Container-structure-tests fail for arm64"
When building the new Dockerfile on Apple Silicon for arm64 (with the changes from @lukasholzer), the container-structure-tests are failing now:

[code]

[2022-07-15 10:31] lukasholzer commented on #821
they are only failing if you build the image locally with arm and then run the tests against them. When the image is built with `amd64` they are passing.

in general we need to think about maybe having 2 separate `yaml` files for each architecture one as some expectations like the `TARGETARCH` can never pass otherwise.

For now I'm totally ok with they can just run on the CI (or against a pulled i

[2022-07-15 10:41] lukasholzer commented on #799
Fixed this in #818

[2022-07-15 10:41] #799 closed, assigned to nobody

[2022-07-15 10:59] lukasholzer opened #822 "Create multiarch images and push them to the dockerhub"
As in #818 we introduced the arm64 compatibility for the image now we need to create a multi arch image and push it:

we need to change our pipeline to run with buildx

As far as I've seen the regular docker orb does not provide a way for it. Basically we need to do this:

[code]

This should then cross compile the image in parallel and build for both platforms once this is pushed.

<img width="62

[2022-07-23 02:03] hwittenborn commented on #519
I'm feeling that too - a project I work on needs `libapt-pkg-dev` installed so that it can properly build some development documentation, and that's currently impossible. The package can't even be manually downloaded with `apt download libapt-pkg-dev` as the cache appears to be being cleared before the image is built or something.

[2022-07-27 08:02] Rarst opened #826 "Cache Playwright browser dependencies"
**Is your feature request related to a problem? Please describe.**

The build image doesn't seem to come with browser binaries, which could be used by [Playwright](https://playwright.dev) for testing.

They need to be explicitly installed, however their target location `.cache/ms-playwright` is not cached by Netlify and the dependencies are re-downloaded in every build.

**Describe the solution yo

[2022-07-31 09:27] coldino commented on #53
I don't want to be rude, but shouldn't this discussion stay on topic?

Talking about particular fail cases at one particular point in time may help one or a few people right now, but it does not help move towards a future-proof solution which matches developer expectations - something that supporting the `engine` field correctly would do.

I'm a big fan of the principle of least surprise. Having t

[2022-08-09 14:35] lukasholzer commented on #822
Currently hitting a wall with cross compilation issues and some of our binaries like wkhtml and erlang.

Currently questioning if it is worth the effort on trying to do so @kitop and digging more into the rabbit hole or waiting for jammy where we could drop support for a lot of binaries that are old (maybe they are not needed anymore)

Not sure if I find a way around that:

[code]

https://app.cir

[2022-08-09 18:53] kitop commented on #822
Mhmm... would love to have a full list of the dependencies and evaluate based on that. But current hunch is that we might better wait if this is not being a big blocker (ie: we have a workaround) at the moment. What do you think?

[2022-08-11 09:25] lukasholzer commented on #822
So the full list would be:
- homebrew (not working on arm in the current image as well, excluded via an if)
- wkhtmltopdf (which throws this weird architecture issues)
- Pandoc (which throws this weird architecture issues)

Seems like the issue is on the side of the packages:
https://github.com/mavlink/MAVSDK/issues/1673 (different package but same issue)

So why we need the multi arch image is to

[2022-08-11 09:45] lukasholzer commented on #822
@kitop I've created a test image without them and pushed it so here it is: https://hub.docker.com/r/lukasholzer/build-image/tags

It's the build image excluding the 2 things from the top:
<img width="1302" alt="CleanShot 2022-08-11 at 11 46 01@2x" src="https://user-images.githubusercontent.com/11156362/184107341-e5d22d67-570d-4593-81f6-5cc2c9d4c5ee.png">

[2022-08-18 09:33] lukasholzer commented on #822
Current status (Pipeline for building the image on circleci is working and already pushing it to hub.docker.com)

`netlfiy/build:chore-build-multiarch-image`

![CleanShot 2022-08-18 at 11 33 37](https://user-images.githubusercontent.com/11156362/185362698-98674152-02a7-4597-9d62-602251522a2d.png)

![CleanShot 2022-08-18 at 13 11 42](https://user-images.githubusercontent.com/11156362/185381515-8503

[2022-08-23 15:54] kitop commented on #478
Related: https://github.com/netlify/build-image/issues/524

[2022-08-24 11:07] kitop commented on #739
Closing this as the Xenial image is going to be deprecated: https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-you-need-to-know/68239
We're unlikely to investigate this. If it happens against focal, please re-open and provide an updated description.

[2022-08-24 11:07] #739 closed, assigned to nobody

[2022-08-24 11:09] kitop commented on #606
Are you able to install newer versions by using the `PYTHON_VERSION` environment variable or one of the other options? https://docs.netlify.com/configure-builds/manage-dependencies/#python

[2022-08-24 11:13] kitop commented on #464
We're now installing 0.19.1 by default (in focal): https://github.com/netlify/build-image/blob/0f09b1e57bb09d602fa316a80cc642fc8245329b/Dockerfile#L222-L230

I believe this should fix the issue. Please reopen if not fixed.

[2022-08-24 11:13] #464 closed, assigned to nobody

[2022-08-24 11:14] kitop commented on #358
Closing this as it depends on the Xenial image and it is going to be deprecated: https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-you-need-to-know/68239
We're unlikely to investigate this. If it happens against focal, please re-open and provide an updated description.

[2022-08-24 11:14] #358 closed, assigned to nobody

[2022-08-24 11:19] kitop commented on #240
Closing this as it hasn't had any updates in a while. In the focal image, we now support newer python versions and those can be set in a few ways. Docs: https://docs.netlify.com/configure-builds/manage-dependencies/#python

[2022-08-24 11:19] #240 closed

[2022-08-24 14:20] merwok commented on #606
That envvar does not install arbitrary version, it only selects one of the available options.

[2022-08-26 03:03] mainej commented on #485
The caching fix in #553 was closed because it wasn't for `focal`, the current version of Ubuntu targeted by Netlify. I've re-opened a simplified version of #553 as #831, based off the `focal` branch.

#484 has also been closed, for the same reason. It could technically be re-opened against `focal`, but the [workaround](https://github.com/netlify/build-image/pull/484#issuecomment-1227940204) is ano

[2022-08-26 12:29] lukasholzer commented on #821
This should be fixed in #828

[2022-08-31 13:33] regoawt commented on #776
@FunctionDJ did you manage to resolve this issue? Similarly stuck - tried to use `sed` to remove the carriage returns but got a permission denied.

[2022-08-31 14:33] regoawt commented on #776
Had to manually change the EOL encoding of `run_build.sh` and `run_build_functions.sh` to Unix in notepad++ which did the trick.

[2022-09-04 15:40] pois0 opened #832 "`target` directory for Rust is not stored"
**Is your build failing?**

No.

**Describe the bug**

As I reported in [this topic](https://answers.netlify.com/t/target-directory-for-rust-is-not-stored/74736), copying the `target` directory is always failed. It seems the copy command defined in `fast_copy_cache` ([here](https://github.com/netlify/build-image/blob/focal/run-build-functions.sh#L789)) lacks a `-r` option.

**To Reproduce**

Steps

[2022-09-07 12:00] #822 closed, assigned to lukasholzer

[2022-09-07 12:00] #821 closed, assigned to nobody

[2022-09-14 20:06] MentalGear commented on #53
I'm also requiring node 18 for the fetch API. (Ubuntu)
It would be great if we could use the standard-compliant "engines" property to set the node version to avoid having to setup yet another 3rd party file config.

[2022-09-19 15:51] kristofer-lp8f opened #834 "Local build test fails with podman"
**Describe the bug**
Building with `podman` on my machine (linux) is failing.

**To Reproduce**

Steps to reproduce the behavior:

1. `ln -s /usr/bin/podman ~/.local/bin/docker`
2. `./test-tools/start-build.sh path/to/my/repo`
3. Can't run build :point_down:
[code]

**Configuration**

- N/A

**Expected behavior**
Build to run

[2022-10-06 05:59] architchandra commented on #237
Agree with @nelson6e65 here. I'm trying to use the `--no-dev` argument with Netlify but can't figure out how to set it up.

[2022-10-07 11:10] kaushalmodi commented on #782
Hello, can someone please look into this?

I want an Emacs package dependency for building a site on Netlify, but it needs at least Emacs 27. Its compilation fails on Emacs 26.3.

I'll really appreciate if the Emacs version can be updated on the Netlify image.

[2022-10-07 15:36] kaushalmodi commented on #782
Pinging @ingride as the last emacs update was done in https://github.com/netlify/build-image/commit/73e5c47916249a6e3b59f67e344b8eb675120525 .

Is it possible to update `emacs-nox` to `emacs28-nox` here:

https://github.com/netlify/build-image/blob/9289b698a503f132b265bd089ab40ce1d6f9e65e/Dockerfile#L50

---

Alternatively, can Netlify allow users to specify the Emacs version just as we can specif

[2022-10-10 13:22] tay1orjones opened #844 "Builds fail when using `yarn@3.2.4`"
**Describe the bug**

Builds are working using `yarn@3.2.1`, but when attempting to upgrade to `yarn@3.2.4` builds begin to fail. The logs state it installs `yarn@1.13.0` for some reason, I'm not sure why. There is no config present on our site stating to use `yarn@1.13.0`

**To Reproduce**

Steps to reproduce the behavior:

* https://github.com/carbon-design-system/carbon/pull/12266
* https://app

[2022-10-12 08:59] lukasholzer commented on #844
@tay1orjones currently we dont support yarn berry (so just Version 1) But we are currently working on it to get it working. Sorry for the inconvenience, maybe you can work with version 1 for now.

[2022-10-12 13:00] lukasholzer commented on #789
This one is tackled in  https://github.com/netlify/build-image/pull/845 as npm set is outdated an not used anymore by npm as they are now using cacache

[2022-10-17 15:03] #789 closed, assigned to lukasholzer

[2022-10-18 00:36] caiquecamargo opened #852 "Same codebase stopped compiling in version 4.13"
**Is your build failing?**

yes

**Describe the bug**

Same codebase stopped compiling in version 4.13. Noticed that the monorepo workspace in not detected.

**To Reproduce**

1. https://app.netlify.com/sites/numpro-app/deploys/634b59c19d66df0008cad31f
2. https://app.netlify.com/sites/numpro-app/deploys/634dee6bf947e352ee2d46dc

Two differents builds to the same codebase (i have to force the re-bu

[2022-10-19 11:47] kitop commented on #852
@caiquecamargo there were some changes to the build image to add native support for pnpm. This might have affected your build, since it changed to use corepack for yarn when available, and it seems like it affected the version and workspace detection.

We're looking at it!

[2022-10-19 12:29] jacobemcken commented on #788
I found this issue when I realized my ClojureScript builds with Shadow-Cljs were failing.

The easiest temporary workaround for me was to downgrade `shadow-cljs` to version `2.19.6`. Version `2.19.7` introduces the dependency to Java 11+ (indirectly through a newer version of the Google Closure Compiler).

[2022-10-19 14:08] lukasholzer commented on #844
Related with https://github.com/netlify/build-image/issues/779

[2022-10-19 15:37] lukasholzer commented on #852
@caiquecamargo the issue is, that previously we where ignoring the `packageManager` field in the `package.json` (which I guess you have configured)

Now with the newly introduced feature of adding PNPM + node corepack see: https://www.netlify.com/blog/how-to-use-pnpm-with-netlify-build/

node corepack respects the `packageManager` field where I guess you have configured it to have `yarn@3.2.2` and

[2022-10-19 16:13] jacobemcken commented on #788
I've looked further into this issue, because I wanted to see how hard it would be to create a PR.

DISCLAIMER: I am not Docker or Java or Linux expert, so read the following with that in mind.

According to http://packages.ubuntu.com the Debian (amd64) packages will take up the following space once installed:
- [openjdk-8-jdk-headless][1] 39Mb
- [openjdk-11-jdk-headless][2] 228 Mb
- [openjdk-17-jd

[2022-10-20 04:35] Dunqing opened #855 "Monorepo project cannot found pnpm"
**Describe the bug**

In the `monorepo` project, the `netlify` configuration files are distributed in different directories, it will not be able to find `pnpm`, if there is `pnpm-lock.yaml` in the `base` directory of that configuration, it will work.

Like the following
[code]

[2022-10-20 08:53] lukasholzer commented on #852
@caiquecamargo As a workaround to get it working setting the environment variable for your builds `NETLIFY_USE_YARN=true` should do a fix

[2022-10-20 09:15] lukasholzer commented on #855
as a workaround you can use the envrionment variable `NETLIFY_USE_PNPM=true` in your envrionment variable settings in the UI. This will force the build to use pnpm.

Already working on this issue

[2022-10-20 11:48] lukasholzer commented on #779
If you are using yarn berry you can now just specify the `packageManager` field inside the package.json and you will get exactly this version

[2022-10-20 16:59] dioptre commented on #779
Amazing will test this. Tried it last week and it wasn’t working. Thanks!

[2022-10-21 03:51] Dunqing commented on #855
Thank you, the workaround is good for me

[2022-10-21 07:50] #855 closed, assigned to lukasholzer

[2022-10-21 18:56] caiquecamargo commented on #852
Yes, I was using yarn '3.2.2' before, but I had some problems using it with Netlify and I rollback to yarn '1.22.19'.

The `packageManager` entry in package.json was pointing to yarn in version `3` and that ended up causing the issue. I removed the entry and the build started working again.

I didn't get to set the environment variable `NETLIFY_USE_YARN=true`, so I don't know if it would work.

Wi

[2022-10-21 18:56] #852 closed, assigned to lukasholzer

[2022-10-24 13:46] #523 closed, assigned to jobala

[2022-10-24 14:21] pimlie commented on #523
@jobala Thanks for the PR, a quick review seems to indicate this issue is only fixed for `npm` users but not for `yarn` users? Is that correct?

[2022-10-26 05:43] pencilcheck commented on #196
Looks like manually call "yarn cache clear" in the build script in netlify.toml seems to work for me now in monorepo with local netlify.toml to each site and a global node_module folder at project root without needing a empty local yarn.lock file

[2022-10-30 06:38] pravinfullstack opened #864 "Failed to debug netlify locally"
I am trying to debug Vue app on my local machine and following the steps mentioned in the README file.
My docker is using winpty to run on windows, and when I run the following. I recieve an error.

``` ./test-tools/start-image.sh ../my-vue-app```

**Error**
[code]
What am I doing wrong ?

[2022-10-30 08:45] pravinfullstack commented on #864
Worked with WSL on Windows in combination with converting sh files for Unix.

[2022-10-30 08:45] #864 closed, assigned to nobody

[2022-11-02 05:15] Stanzilla commented on #606
3.11 would be nice!

[2022-11-03 11:32] lukasholzer commented on #844
@tay1orjones does it work now for you or still fail?

[2022-11-03 13:07] tay1orjones commented on #844
@lukasholzer Yep, we can close this one out. In our PR updating the version I missed updating the `.yarnrc` 🤦

So the full list of where the version needs to be specified to get this working is:
- `.yarnrc`
- `.yarnrc.yml`
- `package.json`

[2022-11-03 13:07] #844 closed, assigned to lukasholzer

[2022-11-03 13:16] lukasholzer commented on #844
Glad this is resolved 🥳

[2022-11-06 15:10] ar1ja commented on #606
Python 3.10 and/or python3.11 would be nice
https://answers.netlify.com/t/python-3-10-3-11-or-newer-in-netlify-ci/78648

[2022-11-07 10:40] kitop commented on #606
We're looking into improving version support in general, but don't have any ETA for it.

Have you tried using Homebrew to install these newer versions?

[2022-11-07 14:03] ar1ja commented on #606
don't ya think it's gonna waste a lot of build minutes though

[2022-11-07 22:55] Stanzilla commented on #606
I don't think that works well on Linux right now and also what ^ they said.

[2022-11-08 12:52] ar1ja commented on #606
Yeah, homebrew is meant of mac and it works kinda garbo on Linux, especially a distro like Ubuntu, I think the devs should just supply the latest image(s) (potentially even automating this updating process ?), or even let users to set an arbitrary python version (maybe it could be like:

[code]
)

[2022-11-15 12:55] kitop commented on #517
We now support ruby 3.0.0 and newer ones. We're not provided them pre-installed, but that'd be another issue. Closing this one as done.

[2022-11-15 12:55] #517 closed, assigned to nobody

[2022-11-18 10:26] lukasholzer commented on #779
This issue should be fixed now. There is still one with yarn plug n play for our plugins but this is handled in a separate issue: https://github.com/netlify/build/issues/1535

[2022-11-18 10:26] #779 closed, assigned to lukasholzer

[2022-11-21 03:52] Xorcist77 opened #877 "Add Support for .NET 7"
**Is your feature request related to a problem? Please describe.**

Presently unable to build .NET 7 projects with the current build image (though .NET 6 projects build fine). There is a specific need for the .NET 7 build support, so that latest features available to Blazor WASM can be taken advantage of (this will most likely be the same case for future .NET revisions, which are released yearly).

[2022-11-25 20:32] System-Crash commented on #877
I have presently worked around this issue/limitation by running a BASH script as my build command (i.e. **./netlify.build.sh**) which I have marked as executable in Git via using:

`git update-index --chmod=+x netlify.build.sh`

Internally the script downloads and installs .NET 7.0 using Microsoft's publicly available [.NET Script Installer for Linux](https://dotnet.microsoft.com/en-us/download/do

[2022-11-26 21:35] TejpallPathak commented on #877
waiting for the automated build for .net7. please can someone. help?
how to use the above workaround in netlify?

[2022-11-27 05:05] System-Crash commented on #877
Step 1 - Modify the site's Netlify Build Settings to run a script as your build command (**using my own as an example**)
![Build Settings](https://user-images.githubusercontent.com/49410304/204119678-93905f7d-4c7a-4707-95bb-cc5bbe3a98f1.png)

Step 2 - Create the BASH script file to be run
(_I placed mine in the Blazor WASM client project folder, which is also the Netlify base directory_)
`/src/cod