[2015-11-03 09:43] gurdotan opened #2 "Permissions problem inside Docker machine"
Inside a local docker machine, I do `cd /opt/repo` and then run my site's build script (using Grunt: `grunt build`).  But is seems that the first build task, that tries to a temporary folder, fails on insufficient permissions:

[code]

I see that the user inside the machine is called `buildbot`, and all files in the repo have these permissions:
[code]

Any ideas?

[2015-11-03 10:07] biilmann commented on #2
Make sure to run the special build command on the build image. So instead
of running `grunt build` you should run `build grunt build`.

This will stimulate the build process on netlify's build machines by
checking out a clone of your repo to ~/repo and installing all dependencies
before running your command.
On Nov 3, 2015 1:45 AM, "Gur Dotan" <notifications@github.com> wrote:

[2015-11-03 15:10] gurdotan commented on #2
Works like a charm, my bad for not sticking to the docs word by word.

[2015-11-03 15:10] #2 closed

[2016-04-28 01:51] argyleink opened #4 "Testing commands with `&&` fail"
The website interface supports the command `grunt fetchJson && grunt compile` but this local Docker instance doesn't. The `run-build.sh` echoes the command, here's a screen shot of me using the build function, and the echo is missing the command following `&&`:

![screen shot 2016-04-27 at 6 48 40 pm](https://cloud.githubusercontent.com/assets/1134620/14873195/ce2e9774-0ca8-11e6-82b8-06699d80a678.

[2016-05-02 14:29] fazibear opened #5 "Listen gem support."
Can we add any ruby version that `listen` gem supports ?
Right now, I can't bundle any project with this gem.

Here is gem informations: https://rubygems.org/gems/listen

Thanks.

[2016-07-08 10:05] fazibear commented on #5
fixed with https://github.com/netlify/build-image/pull/6

[2016-07-08 10:05] #5 closed

[2016-07-27 09:17] grifotv opened #8 "Node versions"
Is there a reason for Netlify to have a limited amount of Node versions available?
https://github.com/netlify/build-image/blob/54bc484b98e83e16ac905764b98379bceeda46ae/Dockerfile#L96-L141

It would be great if it would be in sync with all releases, just like NVM
https://nodejs.org/en/download/releases/

Thanks!

[2016-08-09 21:40] hhsnopek commented on #8
@grifotv in the future there will be this ability to just specify the version of node you'd like to use... but for now there's a limited amount until #15 is added in so you may use any lts version or the latest

[2016-09-12 03:42] lnhrdt opened #19 "can't run any command due to nvm error"
My node netlify build is hanging so I thought I'd try to run it in the docker image:

[code]

and trying something simpler:

[code]

Any ideas what's going on?

[2016-09-12 17:03] rybit commented on #19
The issue is that the .nvm is in the home directory. We run `source $HOME/.nvm/nvm.sh` and that should set this up right.

[2016-09-14 02:06] lnhrdt commented on #19
I've tried your suggestion but am getting the same result. Am I missing something?

[code]

[2016-09-14 18:26] rybit commented on #19
I am seeing this:

[code]

[2016-10-10 17:04] fool opened #22 "add Go 1.7 to build image this week"
cc @biilmann and @rybit

Matt signed us up for this: https://app.intercom.io/a/apps/q245f50x/inbox/unassigned/conversations/6268411915

[2016-10-17 17:18] fool opened #24 "add Hugo 1.7 to build-image"
https://github.com/spf13/hugo/releases/tag/v0.17

[2016-10-17 17:20] fool opened #25 "add Yarn to build-image"
https://github.com/yarnpkg/yarn

[2016-10-17 17:21] fool commented on #25
while you're in there, it would be awesome to get #24 and #22 handled as well @rybit  :)

[2016-10-17 17:26] fool commented on #24
https://app.intercom.io/a/apps/q245f50x/inbox/unassigned/conversations/6356558232

[2016-10-21 03:30] t-richards commented on #25
Arguably, the most important feature of `yarn` is that it installs dependencies over 9000% faster than `npm`. Unfortunately, due to the fact that `npm install` is run automatically by `run-build.sh`, it kind of defeats the purpose of having `yarn` available in the first place, IMO.

It would be nice to have some way to opt-out of this default behavior. Maybe an environment variable `SKIP_NPM=true`

[2016-10-21 04:50] biilmann commented on #25
Our plan with YARN is to use it instead of npm install whenever we detect a `yarn.lock` file

[2016-11-01 18:38] hhsnopek opened #31 "editorconfig"
This repo is currently missing an editorconfig and thus has two tabs and spaces. Looking to get some discussion or push for an `.editorconfig` file to be added so that we're not mixing tabs/spaces 😄

[2016-11-01 18:56] hhsnopek commented on #25
Ayye! This added a couple days ago in 449895f9ca2de55a0babd03bd6617a3a55840fc1 😄

[2016-11-16 13:47] fool opened #33 "Add message to END OF build log in case someone builds a site with a proxy in redirects for an nf_pages account"
Trying to cut down on support requests "why doesn't proxying work?" "because your account level doesn't support it".

I get that this is hairy to implement, but it would be a help.

Low priority, though, compared to saving the world.

[2016-11-16 13:51] fool commented on #33
moved to buildbot, which is the only place we'd know about account levels

[2016-11-16 13:51] #33 closed

[2016-12-02 04:30] fool commented on #22
this one be done.

[2016-12-02 04:30] #22 closed

[2016-12-02 04:31] fool commented on #24
this was done a fair while ago.

[2016-12-02 04:31] #24 closed

[2016-12-02 04:31] #25 closed

[2016-12-02 04:33] fool commented on #19
I saw this too for awhile, but we did get it fixed up.  @lnhrdt can you ping again if you are still seeing it with the latest netlify/build docker image?

[2016-12-02 04:33] #19 closed

[2016-12-02 04:34] fool commented on #8
I think you can now nvm use any version and we will pull it down.  If someone has evidence to the contrary, please reopen!

[2016-12-02 04:34] #8 closed

[2016-12-31 21:50] abitrolly opened #40 "Unable to run bundler command"
Build command `bundle install --without production` fails to run, because Netlify uses its [own variant](https://github.com/netlify/build-image/blob/master/run-build.sh#L42). Build fails, because our `production` setup relies on `pg` gem, which is impossible to skip with Netlify.

[2017-01-02 22:04] calavera commented on #40
can you post the error here? is it because the bundler version is too old? we should be able to fix that.

[2017-01-11 08:39] abitrolly commented on #40
Full log is in [buildlog.txt](https://github.com/netlify/build-image/files/698295/buildlog.txt). Specific error:
[code]

`gem install pg` should never be executed, because it is only present in `production` section of our Gemfile:
[code]

And all that happens, because Netlify executes `bundler` itself and fails before custom script even has chance to start https://github.com/netlify/build-image/bl

[2017-01-11 17:20] calavera commented on #40
yes, we run bundler to install dependencies directly before running any build script, that's a behavior that we're not going to change, but we can probably change the the script to take additional flags from an env variable, so you could set something like `BUNDLER_FLAGS="--without production"` in your site settings.

[2017-01-11 17:26] abitrolly commented on #40
Either that, or flag that disables automatic ruby step will help.

[2017-01-11 18:00] calavera commented on #40
can you give me the name of your site in Netlify, I'd like to look at the problem further.

[2017-01-13 18:20] KyleAMathews opened #42 "Update libvips?"
Any reason you're using such an old (2 years) version?

[2017-01-16 11:17] abitrolly commented on #40
yes, it is `hackerspace-by`

[2017-01-25 01:41] hwhelchel opened #45 "Ruby 2.3.3 / 2.4.0"
Could you please add ruby 2.3.3 and 2.4.0 to the build image? Thanks!

[2017-01-25 01:43] rybit commented on #45
The best way to get support for a particular version of ruby is to add a `.ruby_version` to your repo. We will then install (and cache) that one reliably.

https://github.com/netlify/build-image/blob/master/run-build.sh#L46

[2017-02-10 17:36] rybit commented on #45
I misspoke! We only support a few versions. We will revisit this when we look at updating the build script to actually do what I claimed it does.

[2017-02-10 18:54] hwhelchel commented on #45
Thank you

[2017-03-06 21:48] rybit commented on #42
We don't have a reason, but we don't have a site or anything using it so I am hesitant to update without this. Happy to push it once we do have one though. 8.4.2 work?

[2017-03-06 21:48] fool commented on #4
Hi there and sorry to respond almost a year late!   You can use the traditional escaping/quoting to get the build command to be parsed correctly no matter what is in it, eg:

```build grunt compile \&\& grunt stylus```

or

```build "grunt complile ; grunt stylus"```

[2017-03-06 21:48] #4 closed

[2017-03-06 21:50] KyleAMathews commented on #42
Yeah anything newer would be nice. My main user of it, Sharp, downloads a pre-compiled binary so it's not pressing for me. http://sharp.dimens.io/en/stable/install/

[2017-03-07 18:49] Narno opened #48 "PHP 5.6?"
Hello,

According to the Docker file, PHP 5.6 is installed through phpbrew:
https://github.com/netlify/build-image/blob/master/Dockerfile#L227

But when I run `php -v` it return `PHP 5.5.9-1ubuntu4.20 (cli)`: what is the right wait to use PHP 5.6?

Thanks a lot!

[2017-03-09 17:39] rybit commented on #48
We do install it, you just need to set it to be the version used:

[code]

[2017-03-09 17:39] #48 closed

[2017-03-09 17:44] rybit commented on #45
fixed by #47
[code]

[2017-03-09 17:44] #45 closed

[2017-03-09 21:49] Narno commented on #48
Thank you Ryan!

[2017-03-10 10:32] Narno commented on #48
I paste the content of my terminal to help other PHP's people:
[code]

[2017-03-24 18:57] fool opened #50 "Add other locales to build environment so that system messages + number/date formatting can reflect different settings"
Currently we only have a few locales, none non-US-english, installed in the build environment:

[code]

We have a request for French, but should probably just include all of the ones we can think of, since it's useful to people who aren't US-English speakers to be able to use the build environment in their native language and format things (like dates on blog posts) using system utilities.

[2017-03-24 20:32] rybit commented on #50
Soooooo there are 152 packages available in apt. Should we just add them all?

[code]

[2017-03-24 20:49] fool commented on #50
that is alot! (http://hyperboleandahalf.blogspot.com/2010/04/alot-is-better-than-you-at-everything.html)

Maybe just use the more popular ones for now and add others ad-hoc based on requests?  Based on the customers I've spoken with, these seem like the most useful:

language-pack-ar - translation updates for language Arabic
language-pack-cs - translation updates for language Czech
language-pack-d

[2017-03-27 17:19] #50 closed

[2017-04-05 18:25] fool opened #53 "Attempt to use 'Engines' section of package.json to set node version"
Not sure if this makes sense since the field can contain a range of versions rather than specifying an exact version, but maybe we could limit it to supporting only a definition for node that is a single version #?

This would be in addition to setting NODE_VERSION or .nvmrc since we obviously can't deprecate the existing methods without breaking a lot of builds.

what do you think @rybit ?

[2017-04-05 20:26] rybit commented on #53
I am unfamiliar with that section of the package.json, but you're saying we could parse out a specific node version and try to set it via nvm?

If this is the 'standard' (as much as anything in JS is standardized) then yes, but personally, I don't see this as being a great way. We'd have to use `jq` which isn't bad, but the range vs exact could be more confusing to end uses.

Not against it though

[2017-04-05 21:12] oskarrough commented on #53
Hi, I do believe `engines` in `package.json` is a kind of standard. In any case, it would be nice to avoid the extra nvm file if there's already a package.json.

https://yarnpkg.com/lang/en/docs/package-json/#toc-engines
https://docs.npmjs.com/files/package.json#engines
https://zeit.co/now#which-version-of-node.js-do-you-run

[2017-04-26 23:13] fool opened #57 "currently cannot use build image"
`build X` does not work in the build-image:

[code]

And, one cannot fix it:

[code]

speaking of this image:

`netlify/build                   latest              525b8d552832        25 hours ago        3.27 GB`

[2017-04-26 23:29] fool opened #59 "document preferred build strategy in README.md"
I've successfully used plain 'docker build' against the dockerfile in this repo in the past, but not sure if that is all you do to create the real build-image.

Could we get a line in README.md to explain how to do this?

[2017-04-27 14:41] fool commented on #57
need to inform https://app.intercom.io/a/apps/q245f50x/respond/inbox/unassigned/conversations/9462202232 of any fix

[2017-04-27 21:13] calavera commented on #57
fixed in #60

[2017-04-30 17:28] fool commented on #57
@calavera @rybit I can't get this to work.  Please advise ASAP as customers also cannot get it to work:

[code]

[2017-05-01 16:15] rybit commented on #57
I think this might be related to a `readlink` issue - osx and linux have different flags

[2017-05-04 02:02] fool commented on #59
addressing in https://github.com/netlify/build-image/pull/64

[2017-05-04 17:41] KyleAMathews commented on #57
This may or may not be a related issue but I just pulled the latest version from Docker and ran it on my Mac. It boots just fine but Node.js and Yarn aren't installed.

[2017-05-19 21:09] mvanlonden opened #66 "Script cannot find node"
https://github.com/graphcool/prep/issues/9

[2017-06-08 19:59] fool commented on #57
fixed some time ago, and finally there are new installation instructions so it should be a-ok, closing

[2017-06-08 19:59] #57 closed

[2017-06-08 20:00] fool commented on #59
this is fine, now, so closing

[2017-06-08 20:00] #59 closed

[2017-06-08 20:04] verythorough opened #68 "[feature] Add ability to set $NPM_VERSION"
Similar to existing $YARN_VERSION functionality.

[2017-06-09 07:45] moimael commented on #68
How about using the standard `engines { node: 'version', npm: 'version' }` field in package.json like heroku does ?

[2017-07-12 08:11] Bouncey opened #72 "Command PWD not found"
### Issue
`PWD` command not found on Ubuntu 16.04

### Where
[this line](https://github.com/netlify/build-image/blob/master/test-tools/start-image.sh#L3)

### Workaround
I changed this to be lowercase `pwd`

Not sure what the implications are for other OS's, but I can raise a PR if required

[2017-08-02 21:12] #66 closed

[2017-08-08 17:47] #68 closed

[2017-08-21 18:40] pakokrew opened #78 "Reset cache"
Hello,

Could you add to the readme how to clear build cache, as in your application.

Thanks

EDIT: I see that when we start again `start-image.sh`, the cache is cleared. How to keep it ? 💇‍♂️

[2017-09-01 23:21] fool opened #79 "respect .node-version if .nvmrc isn't there."
@biilmann suggested this was reasonable

I suggest something like `if [ ! .nvmrc ] ; then if [ .node-version ] use .node-version` type processing, so we don't make a breaking change to anyone using nvmrc and happening to have a conflicting .node-version file

[2017-09-17 23:16] r1b opened #81 "Support code in subdirectory of repo"
I have a gatsby app - it lives in the `site/` directory of my repo. When I attempt to build the app with netlify I get:

`/opt/build/build.sh: line 427: gatsby: command not found`

I believe this is because `npm install` is never successfully run - when it runs it finds no `package.json` in the repo root.

Is it currently possible to build a subdirectory of the repo?

[2017-09-17 23:35] r1b commented on #81
CircleCI has an option called `build_dir` for this use case:

https://circleci.com/docs/1.0/configuration/#build-dir

[2017-09-19 00:54] fool commented on #81
There is a configuration option for this already in our netlify.toml file:

https://www.netlify.com/docs/continuous-deployment/#deploy-contexts

Specifically the "base" setting is a "cd here and then run my build command".  As a bonus it also makes dependency caching work right ;)

[2017-09-19 00:54] #81 closed

[2017-09-25 18:38] fortes opened #84 "Install `exiftool`?"
I've got a project that depends on [`exiftool`](https://www.sno.phy.queensu.ca/~phil/exiftool/), would love to know if it's possible to install. It's available via `apt` as `libimage-exiftool-perl`

Thanks!

[2017-09-29 16:39] fool commented on #84
pull requests welcome :) What you'd need to do is:

- change Dockerfile to include that in an apt-get install step
- verify that the file then builds and your tool is inside
- submit a PR on this repo

[2017-09-29 16:47] fool commented on #78
The README describes how to use the cache, at the bottom of this section:

https://github.com/netlify/build-image#testing-locally

You have to use the other command we provide :)

[2017-09-29 16:47] #78 closed

[2017-09-29 16:50] fool opened #85 "accept BUNDLER_FLAGS like NPM_FLAGS and YARN_FLAGS"
this would solve issues like https://github.com/netlify/build-image/issues/40

[2017-09-29 16:51] fool commented on #40
I realize this issue is long-fallow, but I think two things are going on here:

1) we aren't going to install the libraries necessary to build the pg gem which is the proximate cause of our automatic bundler command fail.  I understand this is not what you requested, but it would "work" for some version of work if they were there :)
2) we need to allow you to set flags to `bundle install`, so I ha

[2017-09-29 16:51] #40 closed

[2017-09-29 16:55] fool opened #86 "node version can get set to none by our scripts, which breaks any npm-based build."
When:

- you use .nvmrc to set node version and have 6.11.1 in it
- and we save your dependencies
- future builds using those dependencies SOMETIMES fail with these errors:

[code]

This is a link to a message in our (private) slack with a link to a customer's failed deploy example (customer's site name and URL's  includes their business name so not publishing it here)

https://netlify.slack.com/a

[2017-09-29 17:02] fortes commented on #84
Created a pull request! #87

[2017-10-09 21:20] Aleksion opened #89 "Building a Gatsby site with Yarn 1.0 results in ton of importing errors"
Hi,

I've been fighting a bit with getting GatsbyJS working on Netlify. The root issues is in gatsby: https://github.com/gatsbyjs/gatsby/issues/2001#issuecomment-334796101
Which is caused due to GatsbyJS using a global graphql. Meaning this isn't an error on your end.

As can be seen in the issue, the suggested solution is to use Yarn resolutions and force every yarn dependency to resolve to the s

[2017-10-09 21:41] fool commented on #89
for our troubleshooting: similar report from another customer: https://app.intercom.io/a/apps/q245f50x/respond/inbox/1479299/conversations/12192293322

[2017-10-12 20:25] fool commented on #89
Netlify Support todo:

- get a simpler reproduction case by:
  - create a site using workspaces with 1 dependency
  - add a second dependency in a subdir/package.json and confirm fail
  - build with a cleared cache and confirm success
  - update this bug

[2017-10-16 09:52] pixelastic opened #91 "No $EDITOR defined"
Hello,

I'm using the image to debug a deploy that is not working as expected (some of my dependencies are not correctly loaded, but this is irrelevant to this issue). Instead of pushing every test commit to Netlify, I'm running the docker image to see where it fails.

In my debugging process, I would also like to edit my scripts to pinpoint where the issue might lie. But I can't find any editor (

[2017-10-16 16:39] pixelastic opened #92 "Can't download vips 7.42.3 when building the image"
Hello,

When trying to build the image, I'm greeted with the following error:

[code]

By replacing the ENV variables, I tried to manually download the file (http://www.vips.ecs.soton.ac.uk/supported/7.42/vips-7.42.3.tar.gz), and ended up with a 404.

By checking the github, it also seems this version is not available anymore and I'm quite blocked on how to move forward.

Thanks

[2017-10-16 16:43] rybit commented on #91
Good to know that you're using it to debug. We probably wouldn't take a PR with vim on it. Vim shouldn't really be used during an actual build, and would just be bloat on the image.

I'd recommend either modifying the image and build/test with it locally or do a shared volume mount where you can modify that file on your local system and it will be reflected in the image.

[2017-10-16 16:43] #91 closed

[2017-10-16 16:49] pixelastic commented on #91
Thanks, I cannot currently build the image because of #62, but I think I'll go with the shared volume once that's fixed. Thanks for the info.

[2017-10-17 20:34] fool commented on #89
We were unable to get a simpler example that we could try debugging, @Aleksion - if you come up with a repro case that is less involved, let us know and we'll reopen this.

[2017-10-17 20:36] fool commented on #92
Hmm, this isn't a problem with our build image, is it?  This sounds like you're trying to download a file from some external host that is not there - which isn't really something we can fix :)

If you can curl from your own machine but not from our build image that would be a different story - but I just tested curling a known-good path and it worked, so we'll need to see a repro case like that "t

[2017-10-18 09:24] Aleksion commented on #89
Sounds good. I'll dive into it the next time I hit it!

[2017-10-18 18:48] pixelastic commented on #92
Hmm, there is something in the reasoning I'm not following here. Maybe here is not the correct place to report the issue, so I apologize in advance if that's the case, but I still think there is an issue with the build image.

What I did was clone the repo and try to build your image locally. The image build could not complete because of the error I reported above. Specifically, those lines in the

[2017-10-19 21:41] fool commented on #92
OH!  I apologize @pixelastic - I thought you were saying "I can't use that command in a build of a netlify site" and I was thinking "ok, so change the command/path?"

That does seem to be a bug - we'll get a patch in place for it when we next rebuild the docker image.  In the meantime - you could chop the whole section out of the Dockerfile to get things to build (unless you need libvips yourself?

[2017-10-19 21:44] fool commented on #92
(Additional detail:

- libvips moved their downloads to GH pages, new URL to download from, but...
- ...that release does not seem to be available for download anymore. )

[2017-10-19 22:11] fool opened #93 "Upgrade default version of hugo"
Our current default version of hugo is quite old - almost halfway back in the version history (v0.17 vs current v0.30.2).

Could we do the thing we've done with node wherein we pin the old version for old sites and install a newer version to use by default when someone uses a build command `hugo` on a new site?

It would be a better user experience as very few new customers showing up today use ol

[2017-10-19 22:33] pixelastic commented on #92
Oh I don't need `libvips`. Well, actually I don't even know what it's used for :) but I thought it would be a dependency for something else. If it's not needed, I'll remove it from the Dockerfile for my tests then.

Thank you :)

[2017-10-20 00:18] fool commented on #92
Some people need it - but you probably don't :)

On Thu, Oct 19, 2017 at 3:33 PM, <notifications@github.com> wrote:

[2017-10-26 15:21] pixelastic opened #95 "phpbrew install error when building the image"
This issue is pretty similar to #92, as I can't build the image using the `Dockerfile` in the repo. It is failing at the end of the file, when initiating `phpbrew`.

I have an error about `curl` not being available:
[code]
The full log (of the relevant part) is:
[code]

Also note that following #92, I've also commented the whole `libvips` part of the Dockerfile. It shouldn't have any impact on thi

[2017-10-27 09:47] pixelastic opened #97 "Upgrade default version of yarn"
Hello,

The current image uses the yarn v0.18.1, while the current stable version is v1.2.1. This specific old yarn version has an issue with the dependency tree (just like old npm versions) where some dependencies are not installed when doing a `yarn install` in specific configurations.

I'm experiencing this issue in my Netlify build (both on the hosted version and by running the image myself) t

[2017-10-27 16:45] fool commented on #97
We know our default yarn is old and we'll probably get it updated soon - but that will only automatically take effect for sites created after the change (older sites will stay "pinned" to that old version so we don't surprise people who rely on it in their working builds).

So - you've guessed right that you'll want to specify and that is the best way, to set YARN_VERSION.  Check out https://www.n

[2017-10-27 16:45] #97 closed

[2017-10-28 23:10] pixelastic commented on #97
Thanks for the update,

I had read the linked page already, as well as many other pages of the documentation, and even if it could tell me that the option I needed was `YARN_VERSION`, I could not find what the section name in the `netlify.toml` file was supposed to be. Maybe that's something that should be added to this documentation page.

My build is still not working (still an issue with depend

[2017-10-31 07:03] veganstraightedge opened #98 "Add support for ruby version in Gemfile"
Hi! I would prefer to have fewer configuration files when possible. In the case of a Ruby / Jekyll site that already has a `Gemfile`, I'd rather not also add a `.ruby-version` to specify my desired Ruby version.

**Heroku** supports a declaration in the `Gemfile` that's similar to the `gem …` syntax.

[code]

I _believe_ **Travis CI** also supports discovering this ruby version declaration in addi

[2017-10-31 19:43] jquense commented on #89
arg this is a really magical bug :/ I can't manage to put a simpler repro together but this fails consistency on every gatsby netlify deploy when we try with workspaces. Myself and @KyleAMathews independently confirm it does not occur running the docker image locally, or in any other context _except_ for an actual deploy. We've tried changing the versions of node and yarn to no effect and i see no

[2017-10-31 21:48] fool commented on #89
when you run the docker image locally, do you follow the steps to run with
cache just about the 'Contributing' section in README.md?  If not - and if
you don't also set all your environment variables like this:

[code]

(and then run it again with the `export T=tmp/tmp.XXXXX` in there as well
to get the cache setup)

On Tue, Oct 31, 2017 at 12:43 PM, Jason Quense <notifications@github.com>
wrote:

[2017-11-01 01:20] jquense commented on #89
As is usually the case, just after posting I figures it out. The problem is that the default YARN_FLAGS ignores optional deps which for some reason doesn't play nice with workspaces with some packages with post install scripts. Still not sure why I can't reproduce the issue with docker locally tho

[2017-11-01 15:24] fool commented on #89
so - what YARN_FLAGS do work?  We'll want to write some documentation
around that once we understand your solution :)

On Tue, Oct 31, 2017 at 6:20 PM, Jason Quense <notifications@github.com>
wrote:

[2017-11-01 15:29] jquense commented on #89
I am not sure why `--ignore-optional` doesn't work in some cases, but it doesn't seem safe as a default. Clearing that, fixed the problem.

As an aside I do think better defaults for YARN_FLAGS should include `--pure-lockfile` or `--frozen-lockfile` Yarn recommends `--frozen-lockfile` for CI builds but it's a bit opinionated

[2017-11-03 22:09] #84 closed

[2017-11-04 12:40] kthjm opened #101 "Imcomplete with .nvmrc"
I intended to use Node.js version 8.0.0 so added `.nvmrc` with 8.0.0 but build was failed.

capture:
![](https://i.gyazo.com/94fea7e538faaed82f1a351196d5e77b.png)

It look like to me that `$(cat .nvmrc)` has broken a line.

https://github.com/netlify/build-image/blob/eb122464de8ef5b97c8d2e4c93833c9e601d68a6/run-build-functions.sh#L161-L165

After that I had set `NODE_VERSION` via Web GUI then buil

[2017-11-04 17:08] dubcanada commented on #42
Gatsby & node sharp use 8.5.5 at least.

[2017-11-05 22:07] kthjm commented on #101
[Atom adds new line on save. #3725](https://github.com/atom/atom/issues/3725)

The cause is that Atom adds a new line character at the end of a file by default.
To avoid that failure is to invalidate its features or generate files directly from github and so on.

[2017-11-05 22:07] #101 closed

[2017-11-13 17:55] brycekahle commented on #92
Fixed in cd9bbfa4c3013a3f59598c9bba820f5ab4056351

[2017-11-13 17:55] #92 closed

[2017-11-13 17:57] brycekahle commented on #31
Fixed in #70

[2017-11-13 17:57] #31 closed

[2017-11-13 17:58] brycekahle commented on #95
Fixed in cd9bbfa4c3013a3f59598c9bba820f5ab4056351

[2017-11-13 17:58] #95 closed

[2017-11-18 05:52] jayvdb opened #103 "Copy master image for preview deploys"
Preview deploys can take a long time to build during the "Deploying to CDN" phase, as they start from an empty site.  In my case there are ~2500 files, and it takes >5mins even if only a few files are modified.

The image use for the build could be master image (or another one from a more recent commit on the build's branch), needing fewer files to be uploaded.

Also potentially, for some builds t

[2017-11-20 17:33] rybit commented on #103
Interesting! The deploy process has little to do with the image we use. This just serves as the basis for what we build in.

Deploying a lot of files (I know, 2500 isn't that many) is a pain point we are trying to address. The process is cumbersome because we send a list of SHAs of all the files in the deploy (sooo ~2500 for you) and then we have to sort and figure what ones actually need to be up

[2017-11-20 17:33] #103 closed

[2017-11-30 09:08] davidpelayo commented on #93
I agree this must be updated asap. I was about to use netlify in my personal site to automate the process and simplify it, but since the version is tool old, [I'll hold this for now](https://github.com/davidpelayo/www/issues/5).

[2017-11-30 23:23] fool opened #108 "accept BOWER_FLAGS like NPM_FLAGS and YARN_FLAGS"
since there is no way to NOT run bower install if there is a /bower.json - we should allow users to pass flags like we do for NPM and YARN

[2017-12-04 20:37] fool opened #111 "add cmake to build image"
This will allow projects using the recent github-pages gem to build without adjustment.

https://github.com/netlify/build-image/pull/110

[2017-12-08 16:58] fool opened #113 "treat package-lock.json the same way we treat package.json if checksum changes"
currently we re-run `npm install` in case the checksum of package.json changes:

https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L114

We should do the same if package-lock.json exists and is changed, and someone who knows what they heck they're doing should decide if the presence of package-lock.json means that we don't even worry about changes to package.json at that po

[2017-12-08 23:16] fool commented on #111
Bryce did it, my hero

[2017-12-08 23:16] #111 closed

[2017-12-14 18:47] GeorgeTaveras1231 opened #116 "run-build-functions.sh Any reason it is not included in the docker image?"
I feel like it would be simpler for me to do a test run by simply pulling the image:

[code]

Run a container, mounting my repo, and running the command I want to test:

[code]

Currently, when I try to run this, I get the error:

[code]

I feel like this would be easily fixed by adding the following line [here](https://github.com/netlify/build-image/blob/master/Dockerfile#L315) to the Dockerfile.

[2017-12-15 15:45] gitleet opened #118 "How to duplicate the exact command used"
Hello,
What is the exact command that will be used on netlify when there is a git webhook?

I want to ensure my build that I am testing will be done the same way on your end.

[2017-12-17 17:04] fool opened #119 "cache python dependencies correctly"
This doesn't happen at present (as it does for Ruby, Node, and soon to be clojure)

[2017-12-24 18:17] mikestopcontinues commented on #42
I would really appreciate the upgrade. Sharp does install a local version, but when you have multiple packages that require sharp, it seems to only install the first version's libvips, so it was causing problems anyway.

I'm opening an issue with sharp and with the dep in question in any case.

[2017-12-27 00:37] fool opened #121 "update git to a version higher than 2.7"
...to support this pattern as used in bugsnag's webpack plugin:

https://github.com/jmshal/webpack-bugsnag-plugin/blob/245f0380b7c98275072a93a3a5a9b6e06e5fdbb5/src/helpers/git.js#L25

[2017-12-27 09:24] c0b41 commented on #108
Bower deprecation soon also yarn support bower installing https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2017-12-27 12:20] nicooprat opened #122 "Update yarn"
I'm seeing this message in deploy details: `Installing NPM modules using Yarn version 0.18.1`. Is there any reason to use an old yarn version? Latest is [1.3.2](https://github.com/yarnpkg/yarn/releases/tag/v1.3.2).

[2017-12-27 17:49] rybit commented on #122
Hi - that is just the default that is pinned in the image (legacy thing). You can set the `YARN_VERSION` in your project to keep up with the latest yarn. If you get stuck ping support and we can help you along.

[2017-12-27 17:49] #122 closed

[2017-12-28 14:18] fool opened #123 "add ruby 2.5.0"
Released on 🎄 day:  https://www.ruby-lang.org/en/news/2017/12/25/ruby-2-5-0-released/

[2018-01-10 22:57] fool opened #124 "better php support in build image"
Ported from the feature requests listing, seems to belong here instead:

## Summary
We should support more php version the way we support node versions (with an easy config flag) and probably also some PHP dependency manager.

## Details

We currently support an ancient (but stock for our ubuntu release) php version, 5.5. Via phpbrew we kiiind of support php 5.6. It's not something anyone would fi

[2018-01-12 08:47] minthemiddle commented on #124
Just a question: How do you know you have few PHP users?

There are many static page generators (and some even somewhat influential, like Sculpin and Jigsaw), and people have to build locally and will only deploy static pages. I use [Jigsaw](jigsaw.tighten.co) which is popular in the Laravel world, and though it might be possible to use continuous deployment with php5.5 it would be so much easier

[2018-01-12 11:03] sugizo commented on #124
did you manage to make it work for jigsaw? several days ago tested it, recevie an error in build log, send an email to netlify support, they just told that the composer installed in their dockerfile, but can't be used
the build script that i've tested:
**netlify.toml**
[build]
command = "composer require tightenco/jigsaw && ./vendor/bin/jigsaw build"
publish = "/build_local"

**return an error in

[2018-01-12 14:26] fool commented on #124
@minthemiddle  this thread will be a great way to tell if I'm wrong :)  I am already surprised by the amount of engagement!

However I have done some formal surveys of build commands our customers use and the php-based frameworks and commands are very rare, is why I made the statement - it is objectively true.

Do I want to support php less?  absolutely not!  Will there be substantial engineering

[2018-01-12 14:29] fool commented on #124
@sugizo what you reported is not what our team said in that support ticket - they just said you can't use sudo, and composer is already *supposed* to be there - but I am not sure it is.  I've reopened your case and we'll take another shot.

Since you didn't respond to our last suggestion in that thread, we assumed you got something working.  A "try this to see if you can figure it out" is always o

[2018-01-12 14:29] minthemiddle commented on #124
@fool Thanks for clarification. Will look into how to possibly tweak the build image and might be able to contribute…

[2018-01-12 21:48] sugizo commented on #124
pardon, forgot to replied gerald's advice last time, the status of jigsaw's built is published right now, after follow chris advice with:
**netlify.toml**
[build]
command = "source /opt/buildhome/.phpbrew/bashrc && phpbrew switch 5.6.32 && /opt/buildhome/.phpbrew/bin/composer require tightenco/jigsaw && ./vendor/bin/jigsaw build"
publish = "/build_local"

the different with my previous posted is,

[2018-01-12 23:41] fool commented on #124
@depadiernos could you write this up as a FAQ?  It's not really but I'd like to get it doc'd somewhere and we talked through this together.  Issue will stay open until we improve support but right now it's impossible for someone who doesn't find this thread or ask support how to get composer or php version selection working

[2018-01-13 08:58] nickmccurdy commented on #98
Also note that `Gemfile.lock` files have Ruby versions (if they're committed), though I'm not sure if relying on that is standard.

[2018-01-14 18:44] minthemiddle commented on #124
Here is my write-up of how to use continuous deployment with Jigsaw (Laravel based):

https://github.com/minthemiddle/netlify-php-cdci-jigsaw

Studying the build image, I really wonder why Netlify installs `PHP5` via `apt`:

[code]
(Source: https://www.colinodell.com/blog/201711/installing-php-72)

`PHP7` is largely [downward compatible](http://php.net/manual/en/migration70.php) and a lot safer an

[2018-01-16 11:35] oskarrough commented on #89
Can confirm that setting `YARN_FLAGS='--no-ignore-optional` solves it.

I get the error when `YARN_VERSION` is set and `node-sass` is used. I assume it's something with node-sass's postinstall hook + optional dependencies?

Can we change the defaults ala what @jquense suggests and maybe finally update the default Yarn version as well? :) https://github.com/netlify/build-image/issues/122

[2018-02-02 16:04] arekkas opened #127 "Builds fail with "fork/exec /usr/local/bin/build: no such file or directory""
I can not execute builds on the netlify platform, I receive the following error:

[code]

I ran a debug build based on [this guide](https://www.netlify.com/docs/build-gotchas/) which worked without any issues.

[2018-02-02 16:45] brycekahle commented on #127
@arekkas Can you contact support? They can help you solve your build problems.

[2018-02-02 16:48] arekkas commented on #127
Ok! By the way, I was able to resolve it - seems that build images don't get booted when master branch doesn't use a build pipeline. In my case, I was using a branch and introduced a build pipeline to it.

[2018-02-02 16:49] brycekahle commented on #127
@arekkas That is curious. Can you provide more details to make sure that isn't a problem on our end?

[2018-02-02 17:26] arekkas commented on #127
Hm, I'm not entirely sure. I have a `netlify.toml` file in the project root:

[code]

With that file, the build fails. If I remove the file and set those settings in the Netlify UI then the build succeeds. If I remove those settings from the Netlify UI then the build succeeds as well, but is obviously not built.

I have two branches:

* `master`: Does not use build process (just some static html f

[2018-02-02 18:31] brycekahle commented on #127
@arekkas Are you sure you want the `base` to be `public`? Normally `public` is an output directory, and not where you want to issue build commands.

[2018-02-02 18:35] #116 closed

[2018-02-02 18:36] brycekahle commented on #86
This has been fixed by making cache operations atomic.

[2018-02-02 18:36] #86 closed

[2018-02-02 19:35] arekkas commented on #127
Oh, removing base resolves the error! The error message is quite misleading, maybe this could be improved?

[2018-02-02 19:50] brycekahle commented on #127
We can look into it, but at that point it is in a bash script so it isn't trivial.

[2018-02-02 19:50] #127 closed

[2018-02-03 00:52] fool commented on #42
@brycekahle can we get that PR from @patrick91 merged the during the next roll-out please?

[2018-02-04 00:46] fool opened #128 "Upgrade to recent yarn by default"
right now you can set YARN_VERSION as desired but then you will almost certainly clash with the `--ignore-optional` we have as default to cope with problems in our current version.

When updating, make sure we do something conditional to preserve the behavior of older builds pinned at yarn 0.18.1

[2018-02-04 20:29] fool commented on #128
wow, this happened a couple days ago almost by accident.  There's some additional work to do around here:  https://www.netlify.com/docs/build-gotchas/#yarn - we need to not set --ignore-optional by default for yarn >1.3.2 (Support has seen dozens of cases of this breaking builds - some new, some upgraded from our old default).  But that work needs to be in a different repo, so closing and moving t

[2018-02-04 20:45] brycekahle commented on #128
I think there is still work to be done here: https://github.com/netlify/build-image/blob/master/Dockerfile#L163

[2018-02-05 20:20] brycekahle commented on #123
It looks like `rvm` hasn't released their version that supports 2.5.0: https://github.com/rvm/rvm/blob/master/CHANGELOG.md

[2018-02-05 22:27] #128 closed

[2018-02-06 00:06] brycekahle commented on #89
Yarn finally updated in #130. I'll close this issue when the new image has been deployed.

[2018-02-06 00:17] #42 closed

[2018-02-06 00:49] brycekahle commented on #108
Bower is actively encouraging folks to migrate to yarn. I do not think we should add new features for it.

[2018-02-06 00:49] #108 closed

[2018-02-06 00:56] brycekahle commented on #119
We are caching the pip `.cache` directory. Is there something more needed?

[2018-02-06 02:28] #79 closed

[2018-02-06 02:28] #85 closed

[2018-02-06 02:28] #121 closed

[2018-02-06 03:55] fool commented on #119
It didn't seem to work last time we tested it.  I don't know what else is needed but I do trust the handful of reports we got to this effect.  I'll get a repro case before bringing it back to you.

Customers who use python in their builds please let me know if you have one!

[2018-02-06 16:38] brycekahle commented on #119
@fool why did you reopen this? I actually found a code fix, hence why the commit closed it.

[2018-02-06 17:01] fool commented on #119
Sorry - what I read in your comment is that "we are already doing this" which customers said was not the case, so I assigned it to myself to find a repro case that I could present you with rather than "asserting it to be so" which is what the initial filing was about!

Sorry - I now see that you closed it via code change, re-closing until we get some other report of misbehavior

[2018-02-06 17:01] #119 closed

[2018-02-06 22:11] #124 closed

[2018-02-09 19:31] fool opened #138 "Could we respect NPM_VERSION for customer use of NPM?"
At present it appears that we only "respect" NPM version in case:

- there is a package.json in the base dir (https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L323)
- and don't run yarn (https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L330)

Some customers would like to specify an NPM_VERSION flag and have it work when for instance they have a mon

[2018-02-09 19:35] brycekahle commented on #138
If they use `base`, then our current behavior will work correctly.

[2018-02-09 19:36] brycekahle commented on #138
If they manually `cd` to another directory, a lot of our automatic Node behavior will not work, such as caching `node_modules`.

[2018-02-09 20:07] fool commented on #138
Indeed.  But in a monorepo, you cannot set base if you want to build two or more separate code bases.  I am aware it is a heavy lift and that's why I said we're just using this to track demand, not ask for change yet

[2018-02-09 20:25] brycekahle commented on #138
Can't you use contexts?

[2018-02-09 21:03] fool commented on #118
You can walk through exactly what happens here:

https://github.com/netlify/build-image/blob/master/run-build-functions.sh

The only piece that happens "outside that" is the initial git clone which creates the repository directory and happens using the deploy key that is installed in your repository settings.  That looks like this:

`git clone <your project> ; cd <project checkout> && git submodul

[2018-02-09 21:03] fool commented on #118
If you want more information, please write into support@netlify.com -these are intended to be bug reports and feature requests :)

[2018-02-09 21:03] #118 closed

[2018-02-09 21:19] brycekahle commented on #138
Ah, it was unclear they wanted to run commands in two different folders during the same build. I think the "workaround" you posted is the best solution at the moment.

[2018-02-09 22:04] brycekahle commented on #98
The trick with this issue and #53 is that the versions are not exact, but can be ranges. Parsing and enforcing the ranges from `bash` is non-trivial.

[2018-02-11 17:21] inwardmovement commented on #93
I'm not sure to understand: it's possible to force Netlify to use the latest Hugo version even if it's not an available version in the [Netlify’s Docker file](https://github.com/netlify/build-image/blob/master/Dockerfile#L287), simply by writing the version in `netlify.toml` ?

[2018-02-11 17:23] bep commented on #93
@inwardmovement yes, see https://github.com/gohugoio/hugoDocs/blob/master/netlify.toml#L6

[2018-02-11 17:29] inwardmovement commented on #93
Yes that is what raised my question, because in Hugo docs it's said:

which made me think we are bound to Netlify's Hugo version. This was preventing me from using Netlify as I would like to benefit the latest Hugo versions, but it's awesome that we can use whatever version we want, thanks :)

Maybe the Hugo docs should be clarified in regard to this, I can try a PR if you want @gohugoio

[2018-02-11 17:34] bep commented on #93
That would be most welcome.

[2018-02-11 17:48] fool commented on #93
@inwardmovement I'd suggest referring to this blog post that describes in depth what hugo versions are available on netlify and the two ways you can configure one:

https://www.netlify.com/blog/2017/04/11/netlify-plus-hugo-0.20-and-beyond/

[2018-02-11 17:53] inwardmovement commented on #93
Thanks @fool I added the reference in my [PR](https://github.com/gohugoio/hugoDocs/pull/349)

[2018-02-14 23:24] Bouncey commented on #89
I'm guessing the new image was deployed within the last 24 hours? Our CSS just broke on a gatsby site

[2018-02-14 23:27] brycekahle commented on #89
Yes, my apologies. We deployed yesterday afternoon. @Bouncey if you reach out to support, they can help solve your problem.

[2018-02-14 23:27] #89 closed

[2018-02-16 02:15] fool opened #139 "broken pkg-config prevents recompilation (at least) of node-gyp using libvips"
Builds that need to compile node-gyp will all struggle with this bug, no matter what version of yarn they use:

https://github.com/lovell/sharp/issues/614

The "fix" is updating pkg-config, which I understand may be problematic.  But this package is not particularly rare and everyone trying to use it will suffer.  In particular a very dear well-paying customer is impacted  (see https://app.interco

[2018-02-16 14:01] dmgawel opened #140 "Add nasm"
Newest version of https://www.npmjs.com/package/mozjpeg which is a dependent of many loaders and tasks related to image compression requires Netwide Assembler. As far as I'm concerned nasm is not included in your build-image (we've encountered some broken builds on Netlify). It could be useful :-)

See: https://github.com/imagemin/mozjpeg-bin/issues/35

[2018-02-16 17:02] brycekahle commented on #139
@fool Do you know which version of pkg-config is broken, and which version fixes it?

[2018-02-16 17:06] fool commented on #139
from my reading of the linked issue on sharp, 0.26 is broken as it ships with ubuntu 14.04, and 0.29 fixes it.  Look at the [very bottom of the conversation there](https://github.com/lovell/sharp/issues/614#issuecomment-256979355) for my source of info

[2018-02-16 17:08] brycekahle commented on #139
So that thread indicates `sharp` is handling the broken pkg-config in v0.17.0. Has that been tried?

[2018-02-16 19:53] fool commented on #139
That will be our fix and our suggestion to future customers experiencing it.  Thanks for the investigation!

[2018-02-16 19:53] #139 closed

[2018-02-18 00:24] jayvdb commented on #98
Well, why not support when it isnt a range, and error when it cant be parsed and there isnt an override?
Then the surface area of the enhancement is smaller.

[2018-02-18 20:16] edmorley opened #141 "Support specifying which languages to install/skip"
Hi!

We have an app that is comprised of a webpack-built SPA and a django-rest-framework powered backend - with both parts existing in the same repository (monorepos have [many advantages](https://danluu.com/monorepo/)):
https://github.com/mozilla/treeherder

We would only want the SPA to be built by Netlify (so only want the nodejs env setup + `yarn install` steps to be run), however `run-build-f

[2018-02-19 16:50] brycekahle commented on #141
@edmorley I agree that specifying the desired language would be a good optimization to make. It would allow us to skip other language version switches/installs and caching of language-specific dependencies. It would definitely need to be an opt-in behavior, because we strive to make our build-image mostly automatic out-of-the-box.

Since most of that behavior is contained in the `run-build-functio

[2018-02-19 16:52] brycekahle commented on #98
@jayvdb Unfortunately, to even know that the version is a range or a specific version, requires parsing it correctly.

[2018-02-19 16:53] veganstraightedge commented on #98
@brycekahle Could this project reuse some of the prior art from Bundler / RVM / etc?

[2018-02-19 16:59] brycekahle commented on #98
@veganstraightedge Potentially. I'm not a Ruby dev, so I don't know the extent to which those tools parse different files. Do you know more?

[2018-02-19 17:09] veganstraightedge commented on #98
I know that they both support specifying a version or range of versions in the Gemfile. I'm *pretty* sure that Bundler is in Ruby. Not sure about RVM's internals. I vaguely remember it being a lot of bash. Between those two, you might could find what you're looking for.

[2018-02-19 17:41] edmorley commented on #141
Thank you for the reply :-)

I agree this would need to be opt in, and that it would be a nice optimisation for all that do so.

Though just want to clarify that in our case it was less about the performance, and more that as-is Netlify is unusable on our monorepos due to the unavoidable build failures (the only workaround being to rearrange our repository layouts, and use `base = "some-subdirecto

[2018-02-19 17:57] brycekahle commented on #141
I did see that. Unfortunately, I don't see a quick way to fix that besides what you already did.

The one trick here is that we currently support multiple languages at the same time, so the function names couldn't overlap.

[2018-02-19 18:28] futuregerald opened #142 "PHP Class 'DOMDocument' no longer working. Used to work prior to last week."
The built-in DOMDocument class isn't working on php5.6 or 7.2. I did a quick search and saw on [stackoverflow](https://stackoverflow.com/questions/14395239/class-domdocument-not-found) that it needs to be installed.

You can see it failing with php5.6 here:
https://app.netlify.com/sites/allejo/deploys/5a891b46efbe5d5da2495698

And failing with php7.2 here:
https://app.netlify.com/sites/allejo/depl

[2018-02-19 18:28] futuregerald commented on #142
User to inform:
https://app.intercom.io/a/apps/q245f50x/inbox/inbox/unassigned/conversations/14707975709

[2018-02-19 18:57] #142 closed

[2018-02-19 19:22] brycekahle commented on #123
There is also this issue: https://github.com/rvm/rvm/issues/4291

[2018-02-19 19:22] futuregerald opened #143 "RSYNC no longer available in build-image"
It looks like rsync is no longer available. Example: https://app.netlify.com/sites/athlete-walrus-14063/deploys/5a8aef1a295b554c74850fec

![image](https://user-images.githubusercontent.com/23725114/36394021-46eb88f2-1580-11e8-8877-ea453a85dfcc.png)

It previously worked earlier last week: https://app.netlify.com/sites/athlete-walrus-14063/deploys/5a82fc850b79b742e892a161

@brycekahle

[2018-02-19 19:22] futuregerald commented on #143
Users to inform: https://app.intercom.io/a/apps/q245f50x/inbox/inbox/unassigned/conversations/14731873655

[2018-02-19 19:26] #143 closed

[2018-02-21 21:01] minthemiddle opened #146 "How to use PHP composer in build script?"
Pull Request https://github.com/netlify/build-image/pull/135 says it fixed using `composer` (referencing https://github.com/netlify/build-image/pull/102).

However I still fail to use `composer` in my build script.

This is what I tried in `netlify.toml`:

- `command = "composer install`-> `composer not found`
- `command = "/opt/buildhome/.phpbrew/bin/composer install`-> `composer not found`

How

[2018-02-21 21:06] minthemiddle opened #147 "How to use PHP v7 in build script?"
https://github.com/netlify/build-image/pull/135#issuecomment-363574565 says that using PHP 7.2.2 is now "just another env var to pass" (after successful PR https://github.com/netlify/build-image/pull/135).

This is what I tried in `netlify.toml`:

[code]

And this is what the build logs tell me:

[code]
No further reference to `PHP` can be found in the logs. Obviously, `PHP7.2.2` does not get used

[2018-02-21 21:42] brycekahle commented on #146
If you have a `composer.json` file, then the build will automatically install them for you. See https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L434-L438

[2018-02-21 21:44] brycekahle commented on #146
@minthemiddle My apologies. It looks like the composer install itself got lost in the mix.

[2018-02-21 21:45] minthemiddle commented on #146
@brycekahle Ah, I thought I forgot something. Just using `composer.json` will be very nice, once it works…

[2018-02-21 21:54] brycekahle commented on #146
@minthemiddle This is not your mistake. I'm fixing the build image now to install composer.

[2018-02-21 21:59] brycekahle commented on #147
Try using `PHP_VERSION=7.2`. They are aliased via their minor versions only.

[2018-02-21 22:03] #146 closed

[2018-02-21 22:11] brycekahle commented on #146
I'll ping you again when this is live in production.

[2018-02-22 00:07] brycekahle commented on #146
@minthemiddle OK, give it a shot now and let me know how it goes.

[2018-02-22 11:47] minthemiddle opened #149 "PHP extension for encodings (UTF-8) missing"
[`mbstring`](http://php.net/manual/de/intro.mbstring.php) handles encodings in PHP. If any package uses UTF-8, it needs `mbstring`.

It is not yet in the build image. Many projects based on Symfony or Laravel will not build.

Adding it could be as simple as `sudo apt-get install php7.2-mbstring`. For some strange reasons, PHP core does not require it, despite 80% of modern PHP packages depend on i

[2018-02-22 17:08] #149 closed

[2018-02-22 18:07] brycekahle commented on #147
@minthemiddle Did you try using what I suggested?

[2018-02-22 18:59] brycekahle commented on #149
This is live in production now. Thanks for putting PHP through its paces!

[2018-02-22 20:31] minthemiddle commented on #147
Yes, works.

This is the `netlify.toml` that builds a [Jigsaw (Laravel based)](http://jigsaw.tighten.co/docs/installation/) page successfully now:

[code]

Wonderful! Thanks @brycekahle

[2018-02-22 20:31] #147 closed

[2018-02-22 20:32] minthemiddle commented on #149
Works flawlessly! Great work @brycekahle

[2018-02-22 22:04] fool opened #150 "accept common config files in unexpected case"
For customers who work on OSX or Windows, the filesystem is not case sensitive.  We can't do much about references in their code that are case-sensitive, but we can improve ours.

$customer recently had a /gemfile in their repo and we don't notice it:

https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L286

I realize this is the norm and technically correct - but it's also

[2018-02-23 15:03] jessebmiller opened #151 "Add support for Pipenv"
If there is a Pipenv/Pipenv-lock file install dependencies with Pipenv.

If this is something you'd accept, I may be up for working on it.

[2018-02-23 17:06] brycekahle commented on #150
My opinion is this is not worth the complexity it would introduce.

[2018-02-23 17:06] #150 closed

[2018-02-23 17:14] #140 closed

[2018-02-23 17:23] brycekahle commented on #151
@jessebmiller Do you have any data on how popular `pipenv` is? I see python.org is now recommending it.

[2018-02-23 18:28] brycekahle commented on #140
This is live!

[2018-02-23 18:47] dmgawel commented on #140
Perfect, thank you!

[2018-02-24 00:11] jessebmiller commented on #151
I don't have data on that, but with further research it looks like it's really just the `Pipfile` and `Pipfile.lock` formats that need support. `pipenv` is just the tool people are using until it's what `pip` supports it.

"Pipfile and its sister Pipfile.lock are a replacement for the existing standard pip's requirements.txt file."
- https://github.com/pypa/pipfile

[2018-02-24 00:13] jessebmiller commented on #151
Maybe this issue should be renamed to "Support Pipfile"

[2018-02-24 12:14] typhoon2099 commented on #147
I'm trying to set PHP_VERSION in my netlify.toml file but I'm still stuck using 5.6. What format should the environment variable be and what are the accepted values? I've tried `7.2`, `"7.2"`, `7.0`, `"7.0"` and `7`, none of which have worked. Here's my current netlify.toml file:

[code]

[2018-02-24 12:24] minthemiddle commented on #147
This is exactly how I set up my `netlify.toml` file. I had some problems with that as well, so I set the env var in the Netlify backend which has worked flawlessly.

![screen shot 2018-02-24 at 13 22 16](https://user-images.githubusercontent.com/1950766/36630394-fb23960a-1965-11e8-9433-0843e388bb02.png)

[2018-02-24 12:28] typhoon2099 commented on #147
Huh, that did it. There must be something preventing my netlify.toml file form being read properly. I shall investigate.

[2018-02-27 00:17] fool opened #154 "add python3.5-dev and python3.6-dev packages to the build-image"
I think they were here in the past.  Requested by a customer who cannot build some of the packages he used to use which worked (pyyaml)

[2018-02-27 17:34] #154 closed

[2018-02-28 11:18] aphecetche opened #156 "Contexts ?"
Hi,

I'm a bit confused. Can this image / script set be used to reproduce what's being done for a given context ? Said otherwise : is the netlify.toml used in any way ?

[2018-02-28 18:00] brycekahle commented on #156
The `netlify.toml` is parsed and handled by the closed-source software that is deployed alongside these scripts. Deploy contexts are used to control the command, environment variables, and any other settings used for a build. If you know what those are, you can replicate what will be done using this repo.

[2018-03-01 17:55] brycekahle commented on #154
@fool this is live.

[2018-03-01 18:16] joshRpowell opened #157 "Specify ImageMagick version??"
We use [Middleman Favicon Maker](https://github.com/follmann/middleman-favicon-maker) in our Middleman app and get the following in our build logs.

[code]

The latest stable v6 release of ImageMagick is 6.9.9-36.

[2018-03-01 18:38] aphecetche commented on #156
ok, so the netlify.toml is not used but has to be "simulated" in some way.
thanks.

[2018-03-01 18:38] #156 closed

[2018-03-01 18:51] brycekahle commented on #157
Unfortunately that is the latest version available via Ubuntu packages. I will see if I can locate a PPA that has a later version for Ubuntu 14.04.

[2018-03-02 17:10] fool opened #158 "report version of docker container used during build"
All of the new debug logging in the build image has been great - loving things like explicit announcement of build stages, thanks @brycekahle !

Could we also get a "version" of the docker container being used put into the build logs?  This will really help support be able to tell when a version "ships" and help us discern when a suddenly broken build came about at the same time as a new build ima

[2018-03-05 00:58] airtonix opened #159 "Allow avoiding npm/pip/gem/whatever install"
For pure static deployments where the build step is preferred to happen privately allow us to disable any npm/yarn/pip/gem install step.

essentially there will be an environment variable that control install and skip straight to build command, which would be something like:

[code]

Our situation is like this because the styleguide uses frontend assets served by the actual production website. so

[2018-03-05 16:44] brycekahle commented on #159
Thanks for suggesting this idea. This sounds like an extension of #141 so I'm going to close this in favor of that.

[2018-03-05 16:44] #159 closed

[2018-03-09 14:54] rockonedege commented on #138
I was the customer in question. Sorry being late to the discussion. But Chinese New Year is _this_ long.

Here's my story.

At first I had my static site completely build with some Python scripts generating some html files and selected root site name: {my name}.netlify.com

Then  I found more usage of this site, such as  /blog, /cv etc.  each subdirectory built with its own tech stack., say one wi

[2018-03-09 15:06] rockonedege opened #161 "Build log service is not available from China"
I have to build my own log and publish it check. If , and quite often, it failed to build, I am out of luck and have to resort to blind guesses. It wasn't like this in the beginning until some time you changed the service provider.

To be honest,  I am currently using the free service so I cannot really complain about it. However,  this might bock you from many potential paid customers from this r

[2018-03-11 05:15] olivierlacan commented on #123
@brycekahle I'm not trying to be flippant but is there a reason Netlify uses rvm over rbenv or chruby which are historically update on stable release day or don't even require an update to support new stable releases?

A version manager not having support for a stable release nearly 3 months after it's been released seems like a good reason to go with something else in my mind.

I'm in the process

[2018-03-12 01:33] jasoncrawford commented on #98
The Gemfile.lock should specify an exact version. E.g., my Gemfile says:

```ruby '2.3.6'```

But my Gemfile.lock, after running `bundle`, says:

[code]

Can you take the version from there?

[2018-03-12 03:45] jayvdb commented on #151
Pipenv is a toml file, so quite a comfortable format for Netlify to inspect, and it includes the Python runtime

[code]

It would be nice to use that instead of `runtime.txt`

[2018-03-12 12:03] MatchaChoco010 opened #162 "Can I use a new version of pandoc?"
I want to use the [`hexo-katex`](https://github.com/thcd/hexo-katex) package to display TeX formulas on my blog.
And I got the following error message.

[code]

`hexo-katex` requires a pandoc that supports katex (>= version 1.13.2).
The build image pandoc version is 1.12.2.1.

[2018-03-12 16:40] brycekahle commented on #162
Unfortunately, that is the latest version available in Ubuntu 14.04. See https://packages.ubuntu.com/trusty/pandoc.

[2018-03-12 17:31] brycekahle commented on #123
@olivierlacan I'm not a ruby dev, so please correct me if I'm wrong:

- rbenv: installs all versions of ruby from source. This takes far too long to include dynamic version installation in a build.
- chruby: does not support installing ruby.

It does appear `ruby-install` supports binary installs, so that might be worth considering alongside `rbenv/chruby`.

[2018-03-12 17:37] olivierlacan commented on #123
@brycekahle Sorry for the lack of details.

rbenv is coupled with ruby-build for installation and you're right that it doesn't currently support binary installs: https://github.com/rbenv/ruby-build/issues/42

chruby is coupled with ruby-install (confusing, I know) and doesn't support binary installs either AFAIK: https://github.com/postmodern/ruby-install/pull/138

So you may be stuck indeed. Let'

[2018-03-13 01:05] jessebmiller commented on #151
That's wonderful!

[2018-03-13 12:43] MatchaChoco010 commented on #162
Oh, I see. Okay, I will give up using `hexo-katex`.
Anyway, thank you for the information.

[2018-03-13 12:43] #162 closed

[2018-03-20 23:45] fool opened #166 "always show build command in output"
It seems that in case someone has a netlify.toml, we don't show the build command anywhere or save it in the DB where Support could look for it.

Could we always show it in the logs before running as we do if there is no toml?

[code]

@fool can give you an example deploy of both the "toml overrides UI settings" and the "toml doesn't override UI settings" which both show the behavior.

[2018-04-05 01:50] jayvdb commented on #123
`rvm` has added 2.5.0 ; see https://github.com/rvm/rvm/pull/4265

That one is still open.

[2018-04-05 16:05] brycekahle commented on #123
@jayvdb That issue, and the fact they haven't done a proper release is what is blocking for us.

[2018-04-06 01:02] ferhatelmas commented on #81
@fool I have a monorepo and how can I specify configuration for multiple different sites ?

[2018-04-17 08:42] raniesantos commented on #147
My site is Jigsaw generated and the php version isn't being read from the toml file
[code]

[2018-04-17 08:58] minthemiddle commented on #147
@raniesantos Define it in Netlify's settings. See this answer here: https://github.com/netlify/build-image/issues/147#issuecomment-368224909

[2018-04-17 09:04] raniesantos commented on #147
@minthemiddle thanks for replying. Like I said I already know you can set it manually there.

I just wanted to confirm if setting the PHP version in the toml file is no longer supported for some reason.

Because I read your Medium article and it seems to still be fairly recent so it confuses me why it doesn't completely work as you stated in that post.

[2018-04-17 09:13] minthemiddle commented on #147
@raniesantos `netlify.toml` not recognizing `PHP_VERSION=7.2` seems to be a bug that is still not fixed. I will try to reproduce with a few setups and write a bug report, so @brycekahle can solve it :)

[2018-04-19 01:54] envygeeks commented on #123
Then at least allow users to force disable-binary if they wish? Netlify is the reason I get so many emails.  I've no want to support 2.4 because it doesn't have top level return, now I have to consider reverting modern changes because users have no out for 2.4 being the latest version, and there is no backup.

[2018-05-13 19:02] ekoeryanto opened #172 "npm ci support"

[2018-05-14 16:41] brycekahle commented on #172
Thanks for opening an issue.

We looked into `npm ci` and it would actually be a negative thing for most folks on Netlify. The purpose of the command is intended for CI that is used for testing, rather than deployment, which is what our builds are for. The command re-installs all dependencies, which we've gone to a lot of effort to avoid for performance reasons.

[2018-05-14 16:41] #172 closed

[2018-05-21 17:30] Munter opened #173 "Install fonttools in build image"
For build-time web font subsetting (used in https://github.com/Munter/subfont), I'd like https://github.com/fonttools/fonttools to be available in the Netlify build image.

The install command that pulls in what I am using is `pip install fonttools brotli zopfli`, but I am not a regular python user, and know nothing of the complexities of having multiple parallel python versions  and pip and so fo

[2018-05-21 17:33] brycekahle commented on #173
@Munter If you include a `requirements.txt` file, we will `pip install` for you. See https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L314-L326

[2018-05-21 18:21] Munter commented on #173
That's quite useful and completely solves my problem. Thank you!

I couldn't find this anywhere in the docs. Have I just been a bit too fast to skip over that part?

[2018-05-21 18:21] #173 closed

[2018-05-28 17:17] daiyam opened #175 "LFS support for font files"
Hello,

I've been pushing updates on my github repository and have seen that the only not-google font was not displayed by the browser.
In Chrome, I had the error `Failed to decode downloaded font`

Here was the content of downloaded font (`https://monsieur.tech/fonts/Archive.ttf.woff`)
[code]

So I've used `netlifyctl` to deploy and now, the font is correctly displayed.

After a quick look around

[2018-06-05 15:55] daniele-pelagatti commented on #175
Hi @brycekahle , I'm interested in this subject, can you clarify how can I specify this new option you implemented in my netlify.toml ?
Thanks for your time

[2018-06-05 15:59] brycekahle commented on #175
@daniele-pelagatti It hasn't been implemented yet. I will update this ticket when it is available.

[2018-06-06 15:58] brycekahle commented on #123
We've been in contact with the upstream maintainers of the rvm binaries for Ubuntu, and they have [identified the problem](https://github.com/rvm/rvm/issues/4291#issuecomment-389659199). The maintainer is currently on holiday, but hopefully we can get the fix released when they return.

[2018-06-06 16:06] #151 closed

[2018-06-09 01:04] jipiboily commented on #123
I don't want to blame anyone, but I am curious as I am moving my site to Netlify...is it usual to have such a long time between a release and support for a Ruby version? I tried to downgrade to 2.4.2, and apparently it doesn't work either and tells me it's falling back to 2.3.6.

Anything we can do to help? I guess the issue is that no one else than RVM has binary releases, is that it?

[2018-06-09 01:14] fool commented on #123
We support everything that rvm supports since it's what we use to install
ruby.  Usually support is fairly quick on their side, but rvm's binary
installation for ubuntu 14.04 which we use in the build environment is
broken for ruby 2.5.0 and 2.5.1.  Good news: someone who helps maintain the
ruby binaries did track down the problem for us, but is now on vacation.
We're hopeful that he can rebuild t

[2018-06-09 01:29] envygeeks commented on #123
Why not have your Docker images supply the binaries on the image itself ahead of time with automation? This can easily be achieved with any CI.

[2018-06-09 02:17] jayvdb commented on #123
@envygeeks , the upstream binaries for 2.5.0 are broken for everyone. see this issue in rvm : https://github.com/rvm/rvm/issues/4291#issuecomment-389659199
Netlify could roll their own binaries, in their own docker, with there own workarounds to the bug, but that is extra technical debt and only helps Netlify.  The problem needs to be fixed upstream, and thankfully that should be happening soon.

[2018-06-09 04:12] envygeeks commented on #123
Automating Ruby binaries into a Docker image, rolling them out, and in on automatic builds is not "technical debt", that's an abused term.  While it would require more work, it would have both solved, and prevented this issue from ever happening, and allowed people to move to a different Ruby version faster than RVM can manage.

This ticket is filed in December of last year, that's not "soon", RVM

[2018-06-22 08:55] Levino opened #177 "test-build has issues with access rights for folders"
I run
`./test-tools/test-build.sh /home/levin/coding/my repo 'npm run bootstrap && cd packages/web-app && npm run build'`
and get
[code]

Do I have to run the install command beforehand? What is happening?

[2018-06-22 09:31] Levino commented on #177
I guess the problem has to do with the fact that the shell script creates the tmp folder under my user but the user in the container is another one.
https://github.com/netlify/build-image/blob/8a6a05298863e5110dac7fc60108e41f9352bbdb/Dockerfile#L207

[2018-06-22 17:30] brycekahle commented on #175
@daiyam @daniele-pelagatti you can now specify the fetchinclude filter with the environment variable `GIT_LFS_FETCH_INCLUDE`.

[2018-06-22 17:30] #175 closed

[2018-06-24 17:38] daiyam commented on #175
@brycekahle I have setup the build environment variable `GIT_LFS_FETCH_INCLUDE` with the value `*.eot,*.gif,*.jpg,*.pdf,*.png,*.svg,*.woff` and I'm still getting the error...
(maybe the fix hasn't been committed?)

[2018-06-24 17:40] brycekahle commented on #175
@daiyam make sure you also specify `GIT_LFS_ENABLED=true`

[2018-06-24 18:31] daiyam commented on #175
@brycekahle yes, I was missing `GIT_LFS_ENABLED=true`. Now, I can see in the log `using git lfs fetchinclude override of: *.eot,*.gif,*.jpg,*.pdf,*.png,*.svg,*.woff`. But I'm still getting the error :cry:

[2018-06-24 19:28] brycekahle commented on #175
@daiyam You might want to contact support. They can help debug your build.

[2018-07-01 16:14] linuxjuggler commented on #147
hey @minthemiddle  and @raniesantos to set the PHP version you need to use the environment section within the context like this for example

[code]

which gave me the following (as expected) when building my site:
[code]

[2018-07-01 16:30] raniesantos commented on #147
Cool, I will try this out with a fresh Jigsaw install tomorrow.

[2018-07-02 03:58] calavera opened #180 "Don't try to install a Node version that's already installed"
If we load a version from the cache, and it's the same version is specified in `.nvmrc` or `.node-version`, we should not run `nvm install`. This will prevent from pinging nodejs.org when it's not necessary.

/cc @fool

[2018-07-02 05:43] linuxjuggler commented on #147
@raniesantos  mostly because it's not one of the predefined variables they read, based on [this](https://www.netlify.com/docs/continuous-deployment/#build-environment-variables) not so sure.

but also I found out that you can specify the environment for the build like this:

[code]

you can read more about the **netlify.toml** file and the sets that can be used from this [doc post](https://www.net

[2018-07-04 15:28] mortenson opened #181 "Release timing?"
Hey there - I was just wondering what the release cycle is for this project, and when changes to the build here will be reflected on the Netlify platform.

Not trying to push anyone to do a release soon, just would be good to know so I don't have to keep triggering my builds to find out if the image is updated.

Thanks!

[2018-07-05 17:50] rybit commented on #181
Hi! Sorry there is no formal release timing. I can notify here and look into making a more reliable way to notify when things are rolled out (like making a release here).

[2018-07-06 15:39] fool commented on #181
The normal maintainer of this repo is @brycekahle and he tries very hard to update the [CHANGELOG](https://github.com/netlify/build-image/blob/master/CHANGELOG.md) with any customer-facing changes, though that will just indicate this code changing rather than rolled out to the build network.  That roll-out *tends* to happen fairly quickly after releases...

[2018-07-08 18:54] shansmith01 commented on #173
@Munter Any chance you can share the requirements.txt file you used to get this working in the end?

[2018-07-09 09:12] Munter commented on #173
@shansmith01 Sure. My setup is the simplest possible use of `requirements.txt`. No version locks or anything:

[code]

https://github.com/Munter/mntr.dk/blob/subfont/requirements.txt

[2018-07-10 12:17] shansmith01 commented on #173
Wow. Easy as. Thanks for sharing

[2018-07-10 13:24] DirtyF opened #182 "Support extended Hugo version"
Duplicate of: https://github.com/netlify/binrc/issues/16
Opening an issue here as @futuregerald kindly suggested.

**- What is the current behavior?**

From version 0.43 Hugo comes in two flavours, extended version allows native Sass compilation.
Netlify currently does not support extended version:

[code]

**Edit: For now, the recommended workflow is to commit your `/resources` folder after build

[2018-07-10 17:38] jensamunch commented on #182
i tried manually including binary in the repo - as a quick-fix - doesn't work:

[code]

[2018-07-10 18:47] fool opened #183 "install necessary packages for using a CGO-extension compiled version of Hugo"
When attempting to run a new hugo build, it seems we are missing some dependencies:

[code]

We need to install whatever is needed here :)

[2018-07-10 18:47] fool commented on #182
We'll track that separate issue here, @jensamunch : https://github.com/netlify/build-image/issues/183

[2018-07-16 15:31] fool commented on #183
Should notify these customers in our helpdesk:

-  https://app.intercom.io/a/apps/q245f50x/inbox/inbox/unassigned/conversations/17497593067

[2018-07-22 11:01] khrome83 commented on #81
@fool - any ETA on when the interface for this will be completed? If I am not on a paid plan will support@netlify.com help with this?

[2018-07-24 11:21] regisphilibert commented on #183
Untill then it’s hard to mention Netlify (let alone use it) alongside Hugo Pipes... too bad because speeding up deployement is among the big pros 😔

[2018-07-24 11:24] DirtyF commented on #183
@regisphilibert https://hugoscss.netlify.com/ :)

[2018-07-24 11:32] regisphilibert commented on #183
@DirtyF this repo commits its resources directory. It’s really not ideal if the assets can be edited by an editor.

[2018-07-24 13:35] regisphilibert commented on #183
Hi @oncletom, let's take this here: https://discourse.gohugo.io/t/netlify-and-hugo-pipes/13145

[2018-07-25 00:56] fool commented on #81
No need to be paid, @khrome83 !  Just ping us in the helpdesk.

There's no ETA for this - just some open feature requests.

[2018-07-27 13:49] jhabdas commented on #183
If Netlify's CI supports Docker the following Dockerfile should get you up and running. Builds Hugo from source. Set CGO env var from file or override via CLI:

https://git.habd.as/comfusion/after-dark/src/branch/master/docker/hugo/Dockerfile

[2018-07-31 14:12] brycekahle commented on #183
Appears it was intended to be a dynamically linked binary: https://github.com/gohugoio/hugo/issues/4985

[2018-07-31 19:10] brycekahle commented on #181
@mortenson `2.4.2` just went out with your change.

[2018-07-31 19:10] #181 closed

[2018-07-31 19:13] brycekahle commented on #166
@fool I'm confused. We do show the exact command we are going to run in the logs.

[2018-07-31 19:14] brycekahle commented on #161
@rockonedege Are you still unable to access build logs?

[2018-07-31 19:52] brycekahle commented on #180
`nvm` will use the already installed version, if available: https://github.com/creationix/nvm/blob/17c33fd9aeb42261d38fea676246700898ea2855/nvm.sh#L2722

Is there something else you were trying to prevent?

[2018-07-31 19:54] fool commented on #166
I wish I'd linked a build without one.  There was some case where it was never shown.  I'll mark this as needs_reproduction until I see another one.

[2018-07-31 20:30] #158 closed

[2018-07-31 20:48] #166 closed

[2018-07-31 20:57] fool commented on #180
I understand that nvm intends to do this, but in practice, when node's CDN
was down, it didn't work like that: those builds that re-used a node
version that should have been cached, failed because the CDN was
unreachable despite the same node version already being in our cache.

On Tue, Jul 31, 2018 at 12:52 PM, Bryce Kahle <notifications@github.com>
wrote:

[2018-07-31 21:00] brycekahle commented on #180
@fool Can you link me to build logs that I can study?

[2018-07-31 21:42] fool commented on #180
unable to reproduce, closing.

I tested:

- set in UI only
- set in toml only
- set in UI + toml differently
- set in UI + toml same

all showed the command somewhere.  It isn't all in the "same place" - some nearer the top of the deploy and some kinda in the middle - but it's always there and that's good enough for me.

[2018-08-01 05:04] rockonedege commented on #161
Not last time I checked one minute ago.

[2018-08-01 11:07] jensamunch commented on #183
this doesn't work still for hugo 0.46

what is the best thread for tracking this issue and netlify using the extended version?

[2018-08-01 11:58] brycekahle commented on #180
@fool I think you posted to the wrong issue. I believe you meant #166

[2018-08-01 12:12] brycekahle commented on #161
@rockonedege We currently use firebase for the build logs, and it looks like all Google domains are blocked in China 😢

[2018-08-01 12:14] brycekahle commented on #183
@jensamunch This issue is tracking it.

[2018-08-01 12:47] brycekahle commented on #158
Deployed.

[2018-08-01 15:14] fool commented on #183
hugo 0.46 works well for me - just can't use the extended version, right @jensamunch ?

[2018-08-02 02:59] rockonedege commented on #161
In general, google services,CDN included, are at best slow or unreliable, if not inaccessible at all in China. Microsoft's are generally OK. AWS is in between.

[2018-08-07 12:10] oncletom commented on #183
I did not fully grasp _why_ installing this specific version of `libstdc++` solves the problem but this message on Hugo forums explains how to install a version of `libstdc++` which is picked up by Hugo and works with the extended build: https://discourse.gohugo.io/t/solved-hugo-v44-extended-and-relocation-errors-on-travis/13029/5

[2018-08-08 14:47] brycekahle commented on #166
Copying comment incorrectly posted by @fool to another issue:

[2018-08-09 00:31] pdeka commented on #81
@fool It would be fabulous to have the ability to deploy multiple apps in a monorepo through the deploy UI. Please keep us updated on the progress of this feature.

[2018-08-14 18:59] rushib1 commented on #177
I have had the same problem, but I don't know if this is the correct and safe way to do it or not.
this solves the issue
add this line below git clone.
[code]
like this
[code]

[2018-08-16 20:00] slang800 opened #189 "out of date packages / old version of Ubuntu"
The build image comes with:

- `make` version `3.81`, which was released in 2006. The current version that Ubuntu is [shipping](https://packages.ubuntu.com/bionic/make) with is `4.1`
- `jq` version `1.3`, which was released in 2015. The current version that Ubuntu is [shipping](https://packages.ubuntu.com/bionic/jq) with is `1.5`

This is because the image is built on Ubuntu 14.04, which is nearin

[2018-08-24 17:59] robbywashere opened #190 "License information"
Hi,
Whats the license information on this repo?

[2018-08-24 21:13] baublet commented on #183
Ping for visibility. As of Hugo 0.47.1, extended still won't work on Netlify due to two reasons:

1. The default binary Netlify uses is not the extended binary
2. The Netlify image needs the required dependencies (see @oncletom's comment above) to run the extended binary.

**To those looking for a workaround until this is fixed:**

Run `hugo` locally with the extended version, then check in your `

[2018-08-24 21:13] baublet commented on #182
To those looking for a workaround until this is fixed:

Run `hugo` locally with the extended version, then check in your `resources/_gen/assets` directory to the repository so that Hugo skips trying to generate the assets.

[2018-08-25 07:10] Borewit opened #193 "Cannot run build after using /test-tools/start-image.sh"
First of all thank you for making these great services available to opensource developers like myself.

Because I did not manage to [deploy](https://app.netlify.com/sites/audio-tag-analyzer) my [repo](https://github.com/Borewit/audio-tag-analyzer), it got stuck for some reason and ending with `Build exceeded maximum allowed runtime`, I followed the guidence [here](https://www.netlify.com/blog/2016

[2018-08-26 13:13] igk1972 opened #194 "Curl and Zip PHP extension missing"
I try make a generator of static sites based on Grav. :-)

However, dependencies require the expansions of the curl and zip.
It is not yet in the build image.
I think that not a few projects also require this.

Adding it could be as simple as sudo apt-get install php7.2-curl php7.2-zip.

Could create a PR as well

[2018-08-27 15:35] brycekahle commented on #193
This looks like a duplicate of #177

[2018-08-27 15:38] brycekahle commented on #194
@igk1972 Please make a PR, including php5.6 packages if you could.

[2018-08-27 16:04] brycekahle commented on #190
@robbywashere Great question. I'm trying to get the answer for you. Once I have it, I will update the repo too.

[2018-08-28 13:17] jensamunch commented on #182
It would be really great to have a bit more of an explanation from the Netlify team on timeline and plan.

[2018-08-28 17:49] brycekahle commented on #182
@jensamunch Unfortunately, the solution involves upgrading the version of Ubuntu we use in the base image. That is a larger user impact than we initial hoped for. In order to ensure a smooth transition for all users, we need to do some work around communicating the changes ahead of time. Once we have a firm timeline, we will communicate that publicly.

[2018-08-31 05:54] jhabdas commented on #183
According to Worldometers the [current population in China](http://www.worldometers.info/world-population/china-population/) is 1,415,971,400 and the [world population](http://www.worldometers.info/world-population/) is 7,646,606,545. Therefore, approximately 18% of the world population is not able to access Netlify build logs.

[2018-08-31 05:54] jhabdas commented on #183
According to Worldometers the [current population in China](http://www.worldometers.info/world-population/china-population/) is 1,415,971,400 and the [world population](http://www.worldometers.info/world-population/) is 7,646,606,545. Therefore, approximately 18% of the world is not able to access Netlify build logs.

[2018-08-31 05:57] jhabdas commented on #161
According to Worldometers the [current population in China](http://www.worldometers.info/world-population/china-population/) is 1,415,971,400 and the [world population](http://www.worldometers.info/world-population/) is 7,646,606,545. Therefore, approximately 18% of the world is not able to access Netlify build logs. 哎哟!

[2018-09-04 13:44] herkulano opened #196 "Support for monorepos, including lerna or yarn workspaces"
Currently, you're only caching the `node_modules` at the root level.
With lerna or yarn workspaces, there are sub-folders with `node_modules` in them that are not cached. This causes a failure to build. It then builds correctly if it's retried with a clean cache.

[2018-09-04 19:16] fool commented on #196
related internal issue:  https://github.com/netlify/buildbot/issues/163

[2018-09-05 08:57] sshesh commented on #183
I installed hugo through snap and a recent version (0.47.1) works well for me.

$ snap list
Name  Version  Rev   Tracking  Publisher     Notes
core  16-2.35  5328  stable    canonical*    core
hugo  0.47.1   2590  stable    hugo-authors  -

[2018-09-06 16:37] #194 closed

[2018-09-06 18:41] igk1972 commented on #183
Fast workaround for Hugo extended version.

package.json
[code]

netlify-build-fix.sh
[code]

[2018-09-06 18:55] igk1972 commented on #182
Fast workaround https://github.com/netlify/build-image/issues/183#issuecomment-419199649

[2018-09-10 12:04] techtonik opened #198 "Deployed 2.5.0"
My build is still using old image version 7c49b266ed8abd833dee6036ec0a4b9ee887658a.  When a 2.5.0 is going to be deployed?

[2018-09-10 17:02] brycekahle commented on #198
It is now deployed.

[2018-09-10 17:02] #198 closed

[2018-09-10 20:05] techtonik commented on #198
Awesome! Thank you. =)

[2018-09-12 16:08] sw-yx commented on #81
this is hacky but you can basically set up multiple sites separately for a monorepo: demo here https://github.com/sw-yx/TwoSitesOneRepo

[2018-09-14 22:51] bep commented on #183
Doing `ldd --version` in a Netlify script gets this:

[code]

This is a Ubuntu from 4 years+ ago. Debian and Ubuntu have since moved from EGLIBC to GLIBC -- which should work fine with the extended Hugo version. If not, let me know and I will look into it quickly from the Hugo side of it.

/cc @biilmann

[2018-09-15 00:36] fool commented on #183
Yup, we're still running Ubuntu 14.04 LTS in the build environment.  in 8
months or so it will end of life, and we'll move before then.  We don't
expect you to tailor things for it in the meantime, @bep!  It's just a
challenge to move our hundreds of thousands of customers without breaking
many builds so we're working on a smoother way to do that and that's taking
awhile.

On Fri, Sep 14, 2018 at

[2018-09-15 09:13] oskarrough commented on #108
For anyone ending up here from a search. Older versions of bower use a registry that might fail on Netlify with a "EINVRES failed 502" error.

If you can't upgrade bower, tell bower to use the new registry with a `.bowerrc` file. Like this:

[code]

[2018-09-17 04:43] greeder59 opened #199 "Pelican deploy fails when built on Ubuntu local host."
Local development system: Ubuntu 16.
Site Builder: Pelican 3.7.1
Python Version: 3.5
Pip version: pip 18.0
Project is built in a Python virtual environment. requirements.txt file is built using the  pip freeze command.

When pushing the deploy, it fails with the following lines in the Deploy log:
7:21:31 PM: Collecting pkg-resources==0.0.0 (from -r requirements.txt (line 8))
7:21:31 PM:   Could no

[2018-09-24 21:06] fool opened #200 "better handle .ruby-version files with an ending carriage return"
If you were to create a .ruby-version file with the contents:

[code]
(note trailing newline/line feed), you'd get a deploy that looked like this:

[code]

note that there are a lot of "bonus" newlines in there, from output from rvm trying to install, to curl trying to pull, to tarfiles with newlines in their filename.

We could be smarter about this :)

[2018-09-25 17:34] fool commented on #183
To summarize the currently available workarounds:

1. recommended, follow bep's advice here:  https://discourse.gohugo.io/t/netlify-and-hugo-pipes/13145 - summarized in the thread on this issue here:  https://github.com/netlify/build-image/issues/183#issuecomment-415884055
2. not recommended but may work for you:  https://github.com/netlify/build-image/issues/183#issuecomment-419199649

[2018-09-26 03:15] yoursunny opened #201 "Doxygen"
[Doxygen](http://www.doxygen.nl/) is the de facto standard tool for generating documentation from annotated C++ sources.
It should be included in the build image, so that Netlify can be used to publish code documentation from C++ projects.

[2018-10-03 15:05] fool commented on #201
I'm not at all familiar with doxygen, but I wonder if you can install it via npm or as a Gem or as a python package?  Many of those types of utilities are, and then we'd be able to automatically install it for you before build (see https://www.netlify.com/docs/build-settings/ for more details).

This is the first request for it that I'm aware of so it seems likely that it is installable via one of

[2018-10-03 20:06] KevinOl opened #204 "build works with netlify/build image but deploy fails on netlify ci"

[2018-10-03 20:16] #204 closed

[2018-10-05 02:13] fool commented on #199
Thanks so much for the heads up!  It will at the very least help our Support team guide others and is google-able :)

[2018-10-05 14:21] yoursunny commented on #201
Doxygen is normally installed from APT:

[code]

The `doxygen` NPM package merely downloads a Doxygen binary. But it would not work because the binary depends on `libclang.so.6` that does not exist in a normal Ubuntu system.

[2018-10-12 07:56] zanona commented on #196
For my use-case (yarn workspaces) I have been able to work around this issue by using:

**netlify.toml**
[code]
Of course, this is not ideal as it takes additional time to run npm install and yarn install again, however the cache dir which the npm installed version of yarn uses is the same so it should be all ready for the next time a build is triggered. Bottom line, it has increase building times

[2018-10-13 01:56] eckdanny-osi commented on #196
Strange. I have a `YARN_VERSION` env var in my web config (set to `1.9.4`) and [the build logs](https://app.netlify.com/sites/cws-cares/deploys/5bc1499e82d3f15e9e16f9b6) seem to indicate its working...

but i changed my `package.json#scripts#build` to `"build": "yarn -v && exit 1"` and the result is *not* expected:

[code]

The issue I'm seeing in my dead builds:

`error An unexpected error occurr

[2018-10-14 20:18] zet4 opened #205 "Provide version selection for Go Lambda functions"
Currently as far as I can see, only Golang doesn't have a (public?) way to specify version to use.

An environment variable would be good enough I think.

[2018-10-14 20:21] zet4 opened #206 "Switch to 1.11 for Golang"
Go 1.11 has been released quite a while ago and Netlify still uses 1.10 in it's build images.
Ideally of course `gimme stable` should be used, since that will always default to the most stable latest Go version.

[2018-10-16 16:00] fool commented on #138
We think this is affecting yarn too in monorepos, and are doing some tests to confirm.  Reported in customer cases:

- https://app.intercom.io/a/apps/q245f50x/inbox/inbox/unassigned/conversations/18572475790
- https://app.intercom.io/a/apps/q245f50x/inbox/inbox/unassigned/conversations/18991508943

[2018-10-16 16:51] futuregerald commented on #138
Another example showing that we are using the wrong yarn version when building from cache in an npm script.

Here is a test site:
https://app.netlify.com/sites/netlify-lerna-yarn-test/deploys

Build command used there is:
`yarn --version && yarn run version`

All this does is print the yarn version from terminal and also from inside of an npm/yarn script, and these are the results:

![image](https

[2018-10-19 19:46] PublicParadise opened #207 "FEATURE REQUEST: Please add WEBHOOK_ID environment variable"
# FEATURE REQUEST: Please add WEBHOOK_ID environment variable

Not sure whether this is the right project for filing this request...

## Problem

Netlify supports [incoming webhooks](https://www.netlify.com/docs/webhooks/), i.e.
[code]

I can even add multiple build web hooks for the same repo. But unfortunately I cannot let my build scripts branch depending on the web hook that triggered the buil

[2018-10-19 19:48] cauerego opened #208 "allow "latest" for .ruby-version and/or make "latest" the default behavior"
so, if there's no `.ruby-version`, it would be using the latest available (currently, 2.4.3 if i'm not mistaken).

not sure why this is not the default.

cheers! :)

[2018-10-20 01:38] PublicParadise commented on #207
Never mind there is already a `WEBHOOK_URL`:
[code]
Closing...

[2018-10-20 01:38] #207 closed

[2018-11-14 19:27] jwicks31 opened #214 "Fails build with the current version of g++"
We are trying to install a package that has a dependency of json-ld, which requires g++ 4.9 or higher.

Branch:
https://github.com/poetapp/explorer-web/tree/netlify-poet-js

Error from the Netlify Deploy Details:
[code]

[2018-11-14 21:53] bcomnes commented on #214
We are in the process of updating the base image which should bring a newer version of g++ I believe.

[2018-11-15 00:39] bcomnes commented on #206
Agreed! We'll get this bumped soon.

[2018-11-15 01:45] bcomnes opened #215 "Filter buildbot from lingering process message"
We should filter the buildbot process from our lingering process message.  Right now its showing up in all builds (staging).

[2018-11-15 04:33] fool opened #217 "minor: tighten up logging"
There are a few loglines in the output of every build we could safely skip IMNSHO.  Not saying don't run the commands, just outputting them doesn't serve a purpose I can understand (vs say showing what $PATH is or something ;))

[code]

[2018-11-15 20:22] #215 closed

[2018-11-17 21:03] danielknell opened #221 "Support Poetry for Python"
Would it be possible to support the [Poetry](https://poetry.eustace.io) package manager for python site builders?

It works a bit like pipenv but has less buggy dependency resolution, and reads dependencies from the  pyproject.toml file instead.

It can be detected by looking for its `poetry.lock` file and running `poetry install`

[2018-11-18 18:53] wahidshafique commented on #81
@sw-yx  > this is hacky but you can basically set up multiple sites separately for a monorepo: demo here https://github.com/sw-yx/TwoSitesOneRepo

What about subdirectories on the same domain? Something like
https://twositesonerepo.com/site1
https://twositesonerepo.com/site2

[2018-11-18 19:59] sw-yx commented on #81
oh thats even easier. https://www.netlify.com/docs/redirects/

[2018-11-20 15:12] wzalazar commented on #214
@bcomnes do you have an estimated date?

[2018-11-20 22:39] bcomnes commented on #123
Not sure why this was closed.

[2018-11-21 02:06] fool opened #223 "Builds with lingering leftover processes take 30 minutes to timeout instead of 15"
When a build script runs for >15 minutes, the build terminates immediately at the 15 minute mark as configured in our system (Site.build_timelimit defaults to 900s):

https://app.netlify.com/sites/support-squaredup/deploys/5bf3d7d8b13fb12a7ae849e7

When a build script exits, but leaves a lingering background process, the build instead takes 30 minutes to be terminated:

https://app.netlify.com/sit

[2018-11-21 07:53] danurbanowicz opened #224 "Add full-icu internationalization support in Node builds"
If Netlify customers want to work with locales in Node, they'll need to have `full-icu` support installed, and Node does not ship with this by default. Only en-US is provided, although there have been [discussions to include full-icu by default.](https://github.com/nodejs/node/issues/19214).

Support, in theory, can be added by using the npm package [full-icu](https://www.npmjs.com/package/full-ic

[2018-11-29 17:51] bcomnes opened #226 "Improve Docker hub tagging convention"
We need more fine-grained docker hub tagging of image builds.  We should

- All builds on master get tagged with a commit sha.
- All tag builds tagged with a docker tag tag + sha tag.
- All published builds get the squashed builds as well that match the above.
- Enable a staging branch that triggers the above build conventions, but without the expectations of a master branch.

[2018-11-29 22:16] rdebeasi commented on #182
If you don't want to check in `resources` or install packages on build, here are a couple of other workarounds:

- Instead of sass pipelines, use [victor-hugo](https://github.com/netlify-templates/victor-hugo) plus [postcss-sass](https://github.com/jonathantneal/postcss-sass).
- Instead of image pipelines, use ImageMagick. [Here's an example](https://github.com/openpracticelibrary/openpracticelibr

[2018-11-30 01:52] bcomnes commented on #214
No date sorry.  Its high priority though.  Soon™️

[2018-12-02 15:35] arlyon opened #228 "Support Python 3.7"
Similarly to #206, Python 3.7 was released in June. We're currently holding off on 3.7 features purely because we use sphinx powered documentation and which can't build on netlify without 3.7 available.

It would be nice to have, though I know `python3.7` and `python3.7-dev` are still in debian testing.

[2018-12-03 18:33] Romanx opened #231 "Support dotnet core"
I use netlify to host my statically generated https://wyam.io/ blog which I have to build on Appveyor and then push to netlify manually as opposed to using your great build images.

Since wyam.io has just migrated to dotnet core it would be possible to install it as a dotnet global tool and run my static generation using netlify much like hugo and other static site generators.

[2018-12-03 19:47] thiamsantos opened #232 "Support elixir"
Would be great if netlify support [elixir](https://elixir-lang.org/) builds. We will be able to use any static site generator available for elixir, host documentation and similar things like coverage report.

[2018-12-03 19:49] daveaglick commented on #231
Probably related to this PR: https://github.com/netlify/build-image/pull/230

[2018-12-03 19:50] bcomnes commented on #228
Working on it

[2018-12-05 14:05] bkniffler commented on #81
Any news on this? I'd love to have acces via UI.

[2018-12-05 15:08] sw-yx commented on #81
cc @bcomnes - i dont have access to this repo to reopen this but fool says Mat likes the idea - need to scope out what needs to be done on the build side of things as i have no clue

[2018-12-06 17:31] bep commented on #182
@rdebeasi you don't need the "extended version" to do image processing.

I was told by Netlify several times that this issue is hanging on a upgrade of their build environments from Ubuntu 14.04 (which has an EOL date in April next year).

I have been given the impression that this is something "actively worked on" and that solution was "around the corner". I would probably been looking for an alt

[2018-12-06 18:13] eberkund commented on #182
For what it's worth the solution posted by @igk1972 is working great for me

[2018-12-06 21:49] bcomnes commented on #182
Hey all, I'm taking over for Bryce on this issue.  Sounds like this is blocked by https://github.com/netlify/build-image/pull/222

The Ubuntu upgrade is in progress (see the mentioned PR), and I am currently working on improving our build pipeline to accommodate different build images, and free up constraints to help make more frequent releases.  I can't give dates yet, but it's high priority and

[2018-12-07 01:01] bcomnes commented on #226
Closed by:

- https://github.com/netlify/build-image/pull/233
- https://github.com/netlify/build-image/pull/225

[2018-12-07 01:01] #226 closed

[2018-12-07 01:38] bcomnes opened #234 "Use npm/yarn scripts to facilitate versioning"
Right now we use a bash script to generate the changelog:

https://github.com/netlify/build-image/blob/master/gen-changelog.sh

There are a couple of problems with this approach:

- Global dependencies via npm.  Requires anyone performing the release process to install a global tool.
- Requires user input: You need to run `./gen-changelog.sh -v vX.X.X`.  This requires remembering which flagas and

[2018-12-07 01:58] #234 closed

[2018-12-07 11:37] franzwilding opened #237 "Add an option to skip composer install"
It would be great to have an option to skip composer install, for example if you have all dependencies already in your git repo ([which can be a good idea](https://www.codeenigma.com/build/blog/do-you-really-need-composer-production)).

[2018-12-09 14:58] sijad commented on #182
the error gone by adding `dist: xenial` to my `.travis.yml`, see https://blog.travis-ci.com/2018-11-08-xenial-release

[2018-12-10 04:29] tiangolo opened #239 "/usr/local/bin/run-build-functions.sh: line 334: pip: command not found"
I'm trying to deploy a package docs using the automated CI system, but I'm getting:

[code]

Here's my repo: https://github.com/tiangolo/fastapi

I'm using `pipenv`, so I have a `Pipfile`.

I can see on the logs that the `Pipfile` is being used:

[code]

I have `mkdocs` as part of my `dev-dependencies`, I don't know if from there it is then not installed.

When I didn't have a `requirements.txt` f

[2018-12-10 14:05] iddan commented on #196
I expect Netlify to be able to look for different Netlify.toml files: So for deploying a monorepo with multiple sites I would create multiple Netlify sites each of them with a different Netlify.toml.

[2018-12-10 23:17] whaaaley commented on #81
I'm also looking for this. I'm trying to do what was suggested above but manually running `npm i` isn't working for some reason... 🤔

[2018-12-17 15:05] tiangolo commented on #239
After a lot of "trial and error" with the image locally, I found a recipe to make it work.

* I don't have a `requirements.txt` file anymore
* I'm using `pipenv` with a `Pipfile`
* The build image installs only the packages in the `Pipfile` from the `packages` section. And I have `mkdocs` in the `dev-packages` section (installed with `pipenv install --dev mkdocs`).

I added a bash script `netlify-

[2018-12-18 01:00] bcomnes commented on #239
I'm working on updating the build image right now and incorporating a smoother pipenv workflow is something we're considering.  Unless there is an a bug, we can close, but this flow will be improved soon.

[2018-12-18 01:11] bcomnes commented on #239
Lets close for now.  Let me know if there is more to discuss and we can reopen.

[2018-12-18 01:11] #239 closed

[2018-12-18 19:55] mashedkeyboard opened #240 "Build-image's Pipenv implementation only support Python 2.7"
Pipenv was requested in #151 and added afterwards, but it's been hardcoded in to only work on Python 2.7 - see https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L22.

Was this done for any particular reason? If not, am happy to make a PR putting it into whatever Python version is requested by the runtime.txt.

[2018-12-19 17:40] bwklein commented on #182
Looks like #222 was merged to dev, but I don't know what happens after that.

[2018-12-20 12:54] yoursunny commented on #201
Hey @fool , this request has been open for almost three months. Can you merge the pull request please?

[2018-12-21 17:10] wzalazar commented on #214
@tpluscode I researched about a possible workaround the last week, but not, I didn't find a workaround. Check the link, I left my research there.

[2018-12-21 17:50] bep commented on #182
@jensamunch No, but @biilmann (Netlify CEO) has silently kind of at least not denied that a fix for this could be a nice Christmas present :-)

[2018-12-21 23:58] bcomnes commented on #182
Hi All!

Any volunteers interested in beta testing a new buildbot image?

What it entails:

- Provide me with the netlify slug of the site you would like tested on the new image.
- We will be testing https://github.com/netlify/build-image/issues/183#issuecomment-419199649
- I will flag the site to use the beta image until we land a fix or you request to be taken back to the standard image.

Im par

[2018-12-22 00:04] bwklein commented on #182
@bcomnes 'tecidev'

[2018-12-22 03:13] bcomnes commented on #182
@bwklein enabled

[2018-12-22 10:01] romant commented on #182
@bcomnes - `romant`

thank you !

[2018-12-24 00:04] bwklein commented on #182
@bcomnes It works as expected. Thank you!

[2018-12-24 13:14] davidsneighbour commented on #182
Is it possible to enable for "free" sites? Then please eloquent-morse-196fd2

[2018-12-27 04:43] nguyenvanduocit commented on #182
@bcomnes Please add me to the test: "12bit-blog"

[2018-12-29 12:09] pradyunsg commented on #228
Hey @bcomnes! Any updates on this?

[2018-12-30 18:13] jamescrowley commented on #182
@bcomnes please add kind-bartik-cd167d too please, thanks!

[2019-01-03 13:27] depadiernos opened #245 "Builds failing with a Ruby error."
Recent builds are failing with the following error:

[code]

This also affects builds that don't use Ruby at all.

Possible fix is to update default Ruby version to 2.6.0 here: https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L282

[2019-01-03 22:02] rybit commented on #245
for the time being, we aren't going to support ruby 2.2 because of the update to bundler. That seems reasonable b/c it was decommissioned back in June.

The default for our system is 2.3.6 (which has until March iirc). Please reach out to support if this is a large problem.

Closing for the time being.

[2019-01-03 22:02] #245 closed

[2019-01-03 22:12] TheRickTM commented on #245
@rybit this is a problem with the default settings. We aren't using ruby in our project, but because of the docker image installing it, we needed to define the `RUBY_VERSION` in the environment variables for it to build properly, overriding the default.

[2019-01-03 22:13] nryoung commented on #245
@rybit We ran in to this issue where the Ruby version was defaulting to 2.2.3 even though we don't set it anywhere in our env (our app is not a Ruby app). It was causing our builds to fail.

<img width="1144" alt="screen shot 2019-01-03 at 3 10 22 pm" src="https://user-images.githubusercontent.com/1323750/50664327-e802ef80-0f69-11e9-9eb4-af72bea68132.png">

It would be nice to at least explicitly

[2019-01-03 23:04] rybit commented on #245
so we just updated this to not be that version any longer. The default should be 2.3.6 when you don't explicitly set it

[2019-01-03 23:18] nryoung commented on #245
@rybit 	Whatever y'all changed our builds are now installing `2.3.6` without the `RUBY_VERSION` env set. Thanks!

[2019-01-06 19:55] StefanoChiodino commented on #182
@bcomnes please add "negative-reviews", cheers!

[2019-01-07 16:10] dsteinel commented on #237
This would be awesome! I am currently running a static site on Netlify and all my PHP stuff on another Server. I do not need to install the php dependencies with composer on Netlify. A possibility to skip would be awesome!

[2019-01-08 15:42] pavelbinar commented on #182
@bcomnes `remoteorigin`.
Thank you.

[2019-01-09 01:02] fool opened #249 "update "included" ruby versions to include new defaults and versions that work with new bundler"
Per #245 we had a sudden update in default ruby version and now have new recommended versions too:

- 2.3.6
- 2.4.5
- (presumably 2.5.3 though no customer has confirmed that yet)
- 2.6.0

Putting those in the image already (rather than having rvm install pull them down) will speed up everyone's builds and save Netlify some bandwidth costs.

[2019-01-09 01:33] bcomnes commented on #182
Hey folks, sorry for the delay.  I was out for holidays and a handoff wasn't possible.

I deployed https://github.com/netlify/build-image/pull/197 yesterday, but determined it wasn't a reliable enough fix.  I partially reverted it here: https://github.com/netlify/build-image/pull/248

I kept the required libraries though, which means if you provide your own hugo extended binary in the build, or do

[2019-01-09 19:09] fool opened #250 "Improve our build-image to work with bundler v2"
currently in case a Gemfile.lock is built with bundler v2, our CI fails to install gems:

[code]

which causes builds to fail.  We need to support bundler v2 somehow, perhaps in a method similar to what @kitop [proposes here](https://github.com/netlify/build-image/pull/246) though obviously we need to do something different for bundler v2 when the Gemfile specifies it specifically.

[2019-01-10 07:02] StefanoChiodino commented on #182
@bcomnes seems broken for me:

    6:29:46 AM: hugo: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by hugo)

If you could please revert it, I need to set something live.

Cheers

[2019-01-11 19:41] xiaoxiangmoe commented on #196
add YARN_VERSION to env and it will support yarn workspaces

[code]

[2019-01-12 06:49] RabidFire commented on #53
Hi! Just wanted to add that Heroku also uses the `engines` config in `package.json` to determine the node, npm & yarn versions. When ranges are used, I believe they simply use the best match. If nothing's provided, they use the latest LTS release:
https://devcenter.heroku.com/articles/nodejs-support

This tripped me up a bit when shifting my project from Heroku to Netlify. For now, I've created a

[2019-01-13 07:54] jay-to-the-dee commented on #250
@fool Can you provide any more details for the "upgrade to ruby 2.5.0" route? I did attempt that route using environment variables to specify Ruby 2.5.1 and it did not work (successful Ruby download/ install, same Bundler error) :(

Another alternative workaround I found was to delete `Gemfile.lock` (in the repo, `rm`-ing the file before issuing Jekyll build command didn't work either) and to spec

[2019-01-17 07:30] fool commented on #250
I am no longer sure of my advice to upgrade to a higher version of ruby, so your workaround is the best I know for now.

[2019-01-23 11:35] laurosilvacom commented on #250
Any update on this issue?

[2019-01-24 03:17] evanrelf opened #251 "Add support for Haskell"
It would be really cool if there was support for [Haskell](https://www.haskell.org/) so that people could build their [Hakyll](https://jaspervdj.be/hakyll/) static sites through Netlify!

[2019-01-25 07:36] boothead commented on #251
That would be very cool. Although I have to tell you @evanrelf that I've just switched from Hakyll to hugo and so far it seems to be better in almost every way (which makes me a bit sad as a haskeller) :-(

[2019-01-25 16:11] evanrelf commented on #251
Glad to hear Hugo is working for you! I’ve looked into Hugo in the past, but it doesn’t allow me to configure and customize routing and compilation as much as I can with Hakyll. I also value Hakyll’s integration with Pandoc, and the fact that I can import any Haskell library to extend the functionality of my site.

I know Haskell support is a long shot since other static site generators are more p

[2019-01-30 07:12] bkeepers commented on #250
I was able to manually edit `Gemfile.lock` and set the bundle version to `1.16.0` to get my deploy working again:

[code]

I don't know what all changed with the lock file format between Bundler 1.x and 2.x, so your mileage may vary.

[2019-01-30 07:40] dgw commented on #250
I suspect manually editing the lockfile will work in a lot of cases. Mine diff'd across both Bundler versions showed only that line ("BUNDLED WITH") had changed.

[2019-01-30 18:11] rgiese commented on #182
@bcomnes if you're still taking signups, please enable for 'grumpycorp'. Thank you!

[2019-01-31 22:45] Itagiba commented on #250
Any updates? I still cannot use Netlify!!!

[code]

[2019-01-31 22:54] blairanderson commented on #250
Stop being dramatic.

You can downgrade bundler or Use ‘netlify-cli’

[2019-01-31 23:32] bcomnes commented on #250
@Itagiba I'm launching an internal beta for a ubuntu `xenial` image this week.  Its coming asap!  Very sorry for the delay.

[2019-01-31 23:33] bcomnes commented on #182
Sorry for the delay.  Almost ready to start adding sites to the dev image this week.  Please update your comments if you do NOT want your site added to a potentially-unstable-at-times `dev` image beta.

[2019-01-31 23:41] y0ns0n commented on #182
@bcomnes please add 'yonson', thanks!

[2019-02-01 00:20] bcomnes commented on #182
Ok, confirmed its working, I'm going to start adding sites onto it.

[2019-02-01 01:21] bcomnes opened #254 "Ubuntu 16.04 Xenial Dev Image Testing"
I am currently developing the next version of the build-image.  Given the growing need to access features provided by the newer image, I'm opening up this issue to accept requests for specific sites to use the new `dev` image in a limited beta period.  If you would like your site moved over to the new `dev` image before we launch features to allow you to self service image selection, please post t

[2019-02-01 01:21] bcomnes commented on #182
Ok, I set up an issue track dev image beta stuff over at https://github.com/netlify/build-image/issues/254

Lets keep this issue specific to hugo extended from here on out.

[2019-02-01 01:34] eberkund commented on #254
Please add `aloralabs`, thanks!

[2019-02-01 01:48] bcomnes commented on #254
I'll start enabling people once https://github.com/netlify/build-image/pull/244 is built and deployed.

[2019-02-01 19:40] bcomnes commented on #228
@pradyunsg

Yes actively developing a ubuntu 16.04 image.  We are also aiming to make the language version manager more flexible so you aren't limited to what its preinstalled.

[2019-02-01 19:41] bcomnes commented on #251
This would make @biilmann happy :)

[2019-02-01 19:42] bcomnes commented on #53
I would like to see this happen too.

[2019-02-01 19:49] bcomnes commented on #237
+1 More control over the install phase would be an improvement.

[2019-02-02 00:51] bcomnes commented on #254
@nguyenvanduocit: I couldn't locate a site slug `12bit-blog` can you confirm the correct slug?

[2019-02-02 00:52] bcomnes commented on #254
@eberkund, @y0ns0n, @rgiese, @pavelbinar, @StefanoChiodino, @jamescrowley, @davidsneighbour, @romant, @bwklein

All of those sites are now on the dev image.

[2019-02-03 06:55] boothead commented on #254
Hi, could you add `commandodev` to this list as well please? Slightly off topic, but you you consider supporting [nixos](https://nixos.org/) or just `nix` packaged sites?

[2019-02-03 16:57] pradyunsg commented on #228
Glad to hear that! :)

[2019-02-03 21:54] eberkund commented on #254
After deploying with the new image everything is working smoothly on my site, great work!

[2019-02-03 21:57] bcomnes commented on #254
@eberkund Glad to hear it!

[2019-02-03 21:59] bcomnes commented on #254
@boothead

In the short term, we focusing on building out the ubuntu xenial image as the successor to the 14.04 image.  Down the road we hope to increase the amount of flexibility our CI system offers in terms of packages and images.

In terms of `commandodev`, possibly, but I don't have an answer at the moment.

[2019-02-05 20:31] randallmlough commented on #254
@bcomnes I would gladly test on an account level if that's possible. All existing and new sites on our account need the latest Hugo version.

[2019-02-06 05:45] vikr01 opened #256 "Add flag to use latest/nightly yarn versions"
Currently the `YARN_VERSION` environment variable only allows for a specific version of yarn. Considering many repos use a range for their engines (i.e. `yarn >=1`), the latest version is often preferred for CI's.

When passing the `--version` flag to `yarn's` install script, the latest and nightly versions cannot be used (related: yarnpkg/website#891). Having a flag like `YARN_NIGHTLY` or `YARN_L

[2019-02-06 11:35] minhoryang commented on #240
Why don't we just use `.python-version` as pyenv does.

[2019-02-07 01:21] bcomnes commented on #240
Thats a good idea, maybe we can support that.

[2019-02-07 01:22] bcomnes commented on #256
Good idea, I'll see if we can support this.

[2019-02-15 07:07] polarathene commented on #175
@brycekahle Is this on the netlify docs at all? I only see the boolean env var, not the  one for fetch include. In fact I get a single result from google if I query that env var with netlify as a 2nd keyword.

[2019-02-16 01:25] bcomnes commented on #256
This shouldn't be too hard, but it's behind a few other priorities.  Short term, let's try to keep the yarn version up to date.   I just opened some PRs to update yarn.  PRs welcome on this one.

[2019-02-16 01:25] bcomnes commented on #256
Anyone interested in diving in on this one, I would start reading here: https://github.com/netlify/build-image/blob/master/run-build-functions.sh#L68

[2019-02-16 01:29] bcomnes opened #263 "Switch to rbenv or asdf-vm instead of RVM"
In general, it seems most people are not a fan of rvm (it does weird things like override default unix command... or did at one point? Not sure anymore), and it's been a constant headache to keep working.

I was thinking of switching the ruby version manager over to

- https://github.com/rbenv/rbenv
- https://asdf-vm.com/#/

Rbenv is well liked by most Rubyist I've asked, but asdf would offer a un

[2019-02-16 01:33] bcomnes opened #264 "Clean up PPAs"
The PPA approach tends to be very inflexible.  Using a uniform language manager approach to the language we support would allow for flexible and minimal language installs, rather than having to install every possible version of the tool.  Note this would only apply to the `xenial` image forward.

We have a few PPAs in use right now

- [ ] erlang
- [ ] git-fls (maybe keep this one)
- [ ] php
- [ ]

[2019-02-16 01:34] bcomnes commented on #254
@randallmlough Sure! Which account?

[2019-02-16 01:39] bcomnes commented on #190
MIT

[2019-02-16 01:39] #190 closed

[2019-02-16 01:40] bcomnes commented on #189
Agreed! See https://github.com/netlify/build-image/issues/254
A user serviceable setting is coming soon.

[2019-02-16 01:40] #189 closed

[2019-02-16 01:41] bcomnes commented on #183
Since this is solved in the xenial image and isn't easily solvable in the trusty image, I'm going to close this issue.  We should have that image out to everyone soonish.

[2019-02-16 01:41] #183 closed

[2019-02-16 01:42] bcomnes commented on #182
Since this is working in the xenial image, I'm going to close this.  We should get that out to everyone soonish.  Thanks for your patients and all the input on this one, and my personal apologies for it taking so long.  We have some great improvements to the buildbot pipeline coming this year you will all love.

[2019-02-16 01:42] #182 closed

[2019-02-16 01:44] bcomnes commented on #180
Is this still happening?  Someone will need to reproduce at this point.

[2019-02-16 01:45] bcomnes commented on #157
We could possibly use something like https://asdf-vm.com/#/ to do this.

[2019-02-16 01:46] bcomnes commented on #123
This is done.  Will be deployed early next week.

[2019-02-16 01:46] #123 closed

[2019-02-16 01:48] bcomnes commented on #208
Yes agreed.  We should add this.  In the meantime I am updating ruby versions to the latest.

[2019-02-16 01:56] bcomnes opened #265 "Document image support schedule and git repo conventions"

[2019-02-16 02:14] 007 commented on #254
Why 16.04 instead of 18.04? Why start 3 years behind the curve?

[2019-02-16 04:01] bcomnes commented on #254
@007 we will be doing a 18.04 once we complete the 16.04.  We had to implement a number of infrastructural changes to accommodate additional images and we are just getting to revamping our build images.

[2019-02-16 10:32] RealOrangeOne commented on #183
@bcomnes surely that means this issue is still valid? It's not actually solved until the xenial-based image has shipped

[2019-02-16 14:07] aborruso commented on #183
@baublet you have writtern

I'm a newbie: what's the menaning of "check in your `resources/_gen/assets` directory to the repository so that Hugo skips trying to generate the assets". What I must set in my repo and in netlify?

Thank you

[2019-02-16 14:52] regisphilibert commented on #183
Hugo will not "generate" resources if they are found in `resources/_gen/assets`. So make sure the `resources/_gen/assets` is indexed by git.  Then build your sass resources locally (running `hugo`), commit resources change and push.

This does mean you need to run hugo locally when changing your scss file.

There's nothing to do on Netlify's hand.

[2019-02-16 21:34] bcomnes commented on #183
@RealOrangeOne the issue, from the perspective of this issue tracker, is closed, in that the work needed to get the code working in this repo on `master` is completed, and all available workarounds we can add to a 14.04 image thats currently deployed publicly.

Again, apologies for this taking so long to get out, we are currently working on infrastructure that will dramatically decrease the update

[2019-02-17 09:47] otake84 commented on #254
Please add `otake84`, thanks!

[2019-02-17 19:32] kalwalt opened #266 "build fails with imagemagick and .webp file format"
I have my personal site made with jekyll and amp, lately i add an image fallback and i migrated to the .webp format, I use the [jekyll-responsive-image](https://github.com/wildlyinaccurate/jekyll-responsive-image ) plugin, the problem is that i need to use the imagemagick6 version build with --webp suppor,t i used linuxbrew for this part of the process, as i uploaded my new version to netlify serv

[2019-02-17 20:14] kalwalt commented on #266
additional infos:
from buildbot:
[code]
[code]
from my system:

[code]
[code]

[2019-02-18 18:30] rybit commented on #266
What it means is that you’d need to copy the binaries into your repo and then access them directly during your build. There is no sudo access so installing deb packages won’t work during the build.

If you have more troubles, please write into support for further assistance.

[2019-02-18 18:30] #266 closed

[2019-02-18 18:41] rybit commented on #180
Closing b/c we haven’t seen repro in 7months

[2019-02-18 18:41] #180 closed

[2019-02-19 19:21] kalwalt commented on #266
@rybit thank you for the answer, i added them but maybe not in the right place. Definetely if I will write to the support.
Have you future plans for an Imagemagick version with .webp support?

[2019-02-20 00:44] randallmlough commented on #254
@bcomnes raaloo-dev is the account name

[2019-02-20 02:21] bcomnes commented on #266
@kalwalt yes see https://github.com/netlify/build-image/issues/157

[2019-02-20 09:03] kalwalt commented on #266
@bcomnes thank you!

[2019-02-20 13:59] aicochow commented on #161
netlify blocked in china

[2019-02-20 14:30] rockonedege commented on #161
not true. netlify is perfectly available from China. My site works like a charm. Only the build log , a google service netlify uses, is not accessible universally, which, I just found ou lately, is blocked by China Telecom, bu not by China Mobile.

So it's up to to ISP inthe end.

[2019-02-20 15:09] jhabdas commented on #161
Netlify has their own CDN, but it runs on six different cloud providers as of mid-2018, Google [being one of them](https://www.netlify.com/blog/2018/05/14/how-netlify-migrated-to-a-fully-multi-cloud-infrastructure/).

[2019-02-20 15:11] jhabdas commented on #161
Netlify has their own CDN, but it runs on six different cloud providers, Google [being one of them](https://www.netlify.com/blog/2018/05/14/how-netlify-migrated-to-a-fully-multi-cloud-infrastructure/). This is politics at its best here folks. And if you think build logs aren't important you've got some personal growth to do in the CI/CD department.

[2019-02-20 15:55] rockonedege commented on #161
I actually think logs are very important and that's why I opened this ticket.

as commented by netlify earlier , it's the **Google firebase service** that was blocked, not netlify's CDN.It's a collateral damage b/w Google and the Chinese ISPs.

As there are a few competing ISPs, I am pleased to see they don't agree on this very item in the blocking lists. I'm providing this info for those who need

[2019-02-20 19:31] bcomnes commented on #161
We are looking to move away/proxy logs from firebase, but I don't have a timeline.

[2019-02-26 10:01] arthurlogilab commented on #175
Am getting a build failure with GIT_LFS_ENABLED=true  https://gitlab.com/arthurlogilab/www.logilab.fr/merge_requests/20

The diff for the netlify.toml is here : https://gitlab.com/arthurlogilab/www.logilab.fr/merge_requests/20/diffs?commit_id=dab0283148e51ef630b2b5b8ffc2ee1f15fa136b

I'm getting

[code]
talks about lfs, but doesn't seem to run `git lfs clone` instead of `git clone`

[2019-02-26 14:07] daiyam commented on #175
@arthurlogilab can you try with `GIT_LFS_ENABLED = "true"` or by adding a `GIT_LFS_FETCH_INCLUDE` like `GIT_LFS_FETCH_INCLUDE = "*.eot,*.gif,*.jpg,*.pdf,*.png,*.svg,*.woff"`?

[2019-02-26 14:18] arthurlogilab commented on #175
@daiyam Thanks for your answer. Tried both options, not better. Would it be a "sections" problem ?

[2019-02-26 14:46] daiyam commented on #175
@arthurlogilab sorry, I forgot those variables have to be put in their UI under `Deploys` / `Continuous Deployment` / `Build environment variables`...

[2019-02-26 14:49] arthurlogilab commented on #175
@daiyam ok, that fixed it. So the variables can't be used in the `netlify.toml` ?

[2019-02-26 16:12] daiyam commented on #175
@arthurlogilab no, I don't think. I should remove them from my `netlify.toml` to avoid another mix up...

[2019-02-27 00:50] tsaiDavid commented on #196
Just curious if anyone has had luck with caching non-root `node_modules`?

[2019-02-27 04:45] jaysee00 commented on #183
This also seems to be happening for anyone who tries to use the `nodegit` package as part of their build command:

[code]

See https://github.com/nodegit/nodegit/issues/853

[2019-03-04 20:06] mikaelsnavy commented on #254
Please add `katyweaver`! Thanks! :+1:

[2019-03-06 14:57] IsmailM commented on #254
Hey @bcomnes, Just wondering if there are any timelines for this to be made live?

[2019-03-06 16:30] bcomnes commented on #254
@IsmailM We are among for next week.  I'll add anyone not added yet who wants it today.  Once we go live, you will have the ability to switch between images on your own.

[2019-03-06 21:00] guenter commented on #254
@bcomnes please add `kudo-www`. Thanks!

[2019-03-07 08:54] jamesking commented on #250
Just run into this error. Any update on when a fix is due please?

[2019-03-07 16:47] jamesking commented on #250
@bcomnes Does closing mean this is fixed. I ran into the issue this morning. What is the recommended way of fixing other than downgrading bundler?

[2019-03-07 17:16] bcomnes commented on #250
@jamesking Sorry, was an automated task that closed it mistakenly.  We are launching updated ruby versions by next week which should solve this issue.

[2019-03-07 17:21] bcomnes commented on #250
Planning on wed

[2019-03-09 05:15] bcomnes commented on #254
Added:

- `kudo-www`
- `katyweaver`

Account level:

- `raaloo-dev` - Will be able to turn that on next week.

[2019-03-11 16:36] fool opened #273 "support netlify.toml while building"
Currently, if you have a netlify.toml file, Netlify's "hosted" builds in our CI environment will use netlify.toml ; build-image run locally for testing will not

This makes it ~hard~ impossible to test the toml file locally.

This issue is tracking the request for the toml file to be supported.  It would require that the build-image tools support 2 new pieces of information being passed in:

1. a

[2019-03-12 01:08] #201 closed

[2019-03-14 18:48] adekbadek commented on #81
@sw-yx could you please show how the "multiple sites separately for a monorepo" configuration is set up in netlify UI? I've added [an issue in your example repo](https://github.com/sw-yx/TwoSitesOneRepo/issues/1). Thanks!

[2019-03-15 00:30] swyxio commented on #81
literally deploy the same repo twice...
![image](https://user-images.githubusercontent.com/6764957/54400123-87391700-467e-11e9-8d31-0baaddff5c7a.png)

and use different build commands...

![image](https://user-images.githubusercontent.com/6764957/54400136-9a4be700-467e-11e9-840b-0457353a3dc5.png)
![image](https://user-images.githubusercontent.com/6764957/54400142-a768d600-467e-11e9-9b2f-626d01fb53

[2019-03-15 08:44] adekbadek commented on #81
oh, nice! and doesn't really feel "hacky", as these in fact separate `sites`. thanks!

[2019-03-15 21:25] verythorough opened #281 "Document which directories are cached"
Right now, we're directing people to read the code in [/run-build-functions.sh](https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh) to see what directories are cached. I'd prefer to have them in a clearer list in a markdown file.

I kind of hesitate to create another dedicated file in addition to `installed_software.md`, but the content doesn't really fit under that heading.

[2019-03-18 16:15] bcomnes commented on #250
This is live now in both images.  Use the newer versions of ruby to acquire bundler 2.

[2019-03-18 16:15] #250 closed

[2019-03-18 16:19] bcomnes commented on #250
Also as a side note, we are investigating how to make our build stages more flexible by providing escape hatches that would let you customize this in any version of ruby.

[2019-03-18 17:44] bcomnes opened #284 "Fix python version selection on xenial image"
It was reported that there are some errors when trying to select a custom python image on xenial.

[2019-03-18 21:55] nolessafool opened #286 "go cache handling seems perhaps wrong?"
I don't know if very many people use the Go cache, but this customer (who does use go during build) sees build errors like these when trying to restore his cache:

`6:52:22 PM: mv: cannot remove '/opt/build/cache/.gimme_cache/.gimme_cache/gopath/pkg/mod/github.com/aws/aws-lambda-go@v1.9.0/LICENSE-LAMBDACODE': Permission denied` (note the double `.gimme_cache/.gimme_cache`)

and

`6:52:22 PM: mv: c

[2019-03-19 21:38] nolessafool commented on #284
I think this was already fixed @bcomnes ?

[2019-03-19 22:11] bcomnes commented on #284
Yup

[2019-03-19 22:11] #284 closed, assigned to bcomnes

[2019-03-19 22:11] bcomnes commented on #284
Turns out, we just have slightly different versions of python on xenial.  The fix is changing your python version.

[2019-03-19 22:12] bcomnes commented on #286
Yeah, I looked into this yesterday.  For some reason we can't read/write to the cache folder in the docker image.

[2019-03-19 22:12] bcomnes commented on #264
Closing, not actionable right now.

[2019-03-19 22:12] #264 closed

[2019-03-19 22:13] bcomnes commented on #254
This is live now!  You should all have access to build image selection in your site settings now.  Thank you for all of your help!

[2019-03-19 22:13] #254 closed

[2019-03-19 22:14] bcomnes commented on #240
Just an update, I looked into moving python support to use something like pyenv to suppor any python version, but I found that it requires that you build python from source, which can be very time consuming.

Does pipenv support downloading and using any python version from a prebuilt binary?

[2019-03-19 22:16] bcomnes commented on #93
Default is 0.54 extended in the xenial image.  This should be done now.

[2019-03-19 22:16] #93 closed

[2019-03-21 09:37] anicolaides commented on #273
The only way to change any variables, other than the environmental ones, is to modify the image's scripts by hand.

Support for netlify.toml would be a big convenience; for troubleshooting problematic builds, this would be a huge time saver.

[2019-03-21 15:29] #249 closed

[2019-03-21 15:29] #265 closed

[2019-03-21 15:41] bcomnes commented on #249
should be done now.

[2019-03-21 15:41] bcomnes commented on #265
Done.

[2019-03-22 08:02] vladyio opened #290 "Running custom Ruby script as a build command on Netlify leads to a gem load error"
_I am really sorry if it's a wrong place to ask about this_

I have a Ruby script that generates HTML from Markdown. I tried to execute the following build command:

[code]

This command would work locally (I mean without Docker image), but it doesn't work on Netlify.

It throws a LoadError regarding gems from Gemfile.  Here's the log I get:

<details>
<pre>
9:55:18 PM: Started restoring cached ru

[2019-03-23 08:18] vladyio commented on #290
Issue solved, `bundle exec` before `ruby blog.rb` did the thing.

[2019-03-23 08:18] #290 closed, assigned to nobody

[2019-03-23 17:18] nolessafool commented on #273
Hmm, what do you mean @anicolaides ?  You can set other variables without changing scripts (not override them, but you can't do that in the build anyway, right?) by using a workflow like this inside the container:

`export VAR1=val1 ; build your-build-command`

[2019-03-26 20:48] nolessafool opened #293 "Add Rust to build-image"
For using, you know, during builds.

Requested by Pro customer here in our helpdesk.  Others should +1 if they want this too!

- https://app.intercom.io/a/apps/q245f50x/inbox/inbox/1479299/conversations/21364638638

[2019-03-28 17:41] bcomnes commented on #293
Sounds good! No time now, but so a community PR could land this sooner than later.

[2019-04-03 19:30] lucacasonato opened #294 "Move to Go 1.12"
We are currently still on 1.10 although a newer version has been out for the last 6 months. We should scrap #206 and update to go 1.12 right away. Maybe have a GO_VERSION env var like for Node and Ruby. A lot of projects rely on `go mod` which cant be used in versions under 1.11.

[2019-04-03 20:19] bcomnes commented on #294
You should be able to access go 1.12 by setting the env var GO_VERSION to 1.12 in the xenial image. There is a bug with go module caching we are trying to fix, but builds should still work.

[2019-04-03 20:25] lucacasonato commented on #294
Ah okay. I couldn't find documentation for GO_VERSION on netlify.com/docs.

On Wed, Apr 3, 2019, 22:19 Bret Comnes <notifications@github.com> wrote:

[2019-04-03 20:53] nolessafool commented on #294
Yup, it's here instead :)

- https://github.com/netlify/build-image/blob/xenial/included_software.md
- https://github.com/netlify/build-image/blob/trusty/included_software.md

We're reviewing those defaults now - may not be perfectly accurate and won't necessarily reflect older sites that were setup awhile ago.

[2019-04-03 21:09] ZotyoNegentropics commented on #286
I think we ran into the same problem a few months ago. It came with the newer go versions (we use 1.11.5 with go.mod).

go get (build) saves the third party dependencies files with **readonly** permission (-r--r--r-- or 444).

Netlify build-image cache logic tries to **move this readonly** files from the GOPATH/pkg/mod directory to the cache directory (/opt/build/cache/.gimme_cache/....) in the af

[2019-04-03 21:11] imrezol commented on #286
I think we ran into the same problem a few months ago. It came with the newer go versions (we use 1.11.5 with go.mod).

go get (build) saves the third party dependencies files with **readonly** permission (-r--r--r-- or 444).

Netlify build-image cache logic tries to **move this readonly** files from the GOPATH/pkg/mod directory to the cache directory (/opt/build/cache/.gimme_cache/....) in the af

[2019-04-03 22:11] praneybehl commented on #196
I am in the same boat, even though I try to bootstrap lerna before the build command it still not able to...

[2019-04-04 22:14] bcomnes commented on #294
To add more context, we don't want to upgrade software on existing sites automatically.  When you create a site, we pin the versions of everything that isn't specified with an ENV var.  In the future, I hope to expose this in a more obvious manner.  With respect to documentation, noted!  I will try to improve that on the next pass.

Closing for now, please let me know if there are any remaining is

[2019-04-04 22:14] #294 closed, assigned to nobody

[2019-04-08 18:31] HazemAM opened #295 "Env variable PANDOC_VERSION not respected in builds"
Setting `PANDOC_VERSION` as an env variable in Netlify's build settings doesn't affect the version used in actual builds, and the default version is always used.

I expected this to work since the `Dockerfile` [uses the env var](https://github.com/netlify/build-image/blob/xenial/Dockerfile#L14) `PANDOC_VERSION` with a default value to fetch the Pandoc installer.

I want to use a specific version o

[2019-04-08 19:35] nolessafool opened #296 "respect "BUNDLED WITH" in Gemfile.lock to set bundler version"
Bundler versions are (sometimes?) recorded by bundler in the `Gemfile.lock`, for instance:

[code]

Currently, we do not have a way to retroactively re-install and activate that version of bundler (vs our defaults) once we find it during dependency installation.  We'd need to detect and adjust before trying to process `Gemfile.lock` to support this workflow, which was requested by at least one pay

[2019-04-08 22:11] bcomnes commented on #286
Thank you for the extra pointers @ImreZol.  We should address this issue asap.

[2019-04-08 22:30] bcomnes commented on #295
We haven't set up ENV var support for panda yet inside the builedbot.  You can see how we do it for other tools in https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh#L154.  The challenge is, we also need a way to swap the version of pandoc.  There are tools out there but I dont believe we are integrated with them yet.

[2019-04-09 10:39] HazemAM commented on #295
@bcomnes Thank you for your reply. OK, I'll try to look into version swapping when I have time.

[2019-04-15 19:05] merwok commented on #199
FWIW, the `pip install ...; pip freeze > requirements.txt` method causes a number of problems.  Docs should recommend to use https://github.com/jazzband/pip-tools to manage requirements.  (And when they are more stable, Pipenv or Poetry)

[2019-04-16 12:57] elisehein commented on #263
+1 from me for `asdf`. Some of our projects on netlify use both ruby and node, and it would be nice to be able to specify both runtime versions in `.tool-versions`.

[2019-04-16 14:49] bcomnes commented on #263
I considered adding it for python a while back since we didn't have a good version manager story for that yet.  It turns out no python version manager can download prebuilt pythons!  They all require build-from-source install.

`asdf` could still possibly work for ruby, node and anything else that doesn't require a build-from-source install.

[2019-04-17 04:13] frangio commented on #113
I just ran into this issue.

Comparing the checksum of `package-lock.json` is not enough. There are many possible scenarios. Some repositories may not have a `package-lock.json` and only a `package.json`. Others may have an `npm-shrinkwrap.json` in its place. Technically all those three files should be compared.

[2019-04-17 04:16] frangio commented on #113
Oh, okay, that's exactly what was done in #114. I'm not sure why it was reverted afterwards.

[2019-04-19 16:02] sw-yx opened #299 "[idea] lighthouse on build"
to promote speed and accessibility, run lighthouse after every build and make it prominently display in the UI?

[2019-04-19 18:06] bcomnes commented on #299
Maybe as part of the build checks?

[2019-04-19 18:27] sw-yx commented on #299
ya.. is this the right place?

[2019-04-19 18:28] rybit commented on #299
I'd move this internal as a feature request. Not in a public repo that only covers part of the work that would be necessary.

[2019-04-19 18:29] #299 closed

[2019-04-25 20:37] mischkl commented on #182
Hi, just a question, how do I enable the extended version of Hugo on my site now that it's available to everyone?

[2019-04-27 04:14] godlike0108 opened #302 "Deployment failed with Gridsome - exit code 127"
I didn't do any personal setup just download Gridsome and deploy, and it failed. Anyone know the reason? Thanks.

Step to reproduce:

1. Download Gridsome `npm install --global @gridsome/cli`
2. Make first commit.
3. Go to Netlify deploy
4. Set build script: `gridsome build`, publish directory: `dist`
5. Deploy

Log message:
[code]

[2019-04-29 19:07] futuregerald commented on #224
@bcomnes , just want to bring attention to this. Is it possible to allow custom node flags via environment variables that are used during node installation? I know we allow NPM_FLAGS .

[2019-05-01 17:31] nolessafool commented on #302
could you please link to your build logs @godlike0108 ?  That's probably not a bug but a misconfiguration we can help with once we can see your build in our database or admin UI

[2019-05-02 13:54] futuregerald opened #310 "Python dependencies not installing in 2.7 and 3.7"
Currently builds with a requirements.txt are failing due to permissions errors while installing Python dependencies. This appears to be a regression from a recent release. The error that's shown in the build log is:

`Permission denied: '/lib/python3.7'`

It is happening in both Python 2.7 and 3.7. An example of a failing build is: https://app.netlify.com/sites/sharp-noyce-c7bf26/deploys/5cc8a5bc3

[2019-05-02 17:02] bcomnes commented on #310
Addressing this 🔥today

[2019-05-03 00:48] bcomnes commented on #310
@futuregerald Could this be one of the scenarios we need to set up a virtualenv? https://www.netlify.com/docs/#python

We haven't switched to pipenv yet unfortunately.

[2019-05-03 07:24] overlordofmu opened #311 "Hugo downloads moved to github.com/gohugoio/hugo instead of spf13/hugo causing failing builds."
### Issue

The downloadable binary version of Hugo on GitHub has moved from spf13/hugo to gohugoio/hugo causing downloads of the Hugo binary to fail.

### How to Reproduce

To reproduce set the environment variable `HUGO_VERSION`  to the value `0.54` in the Netlify deploy settings (or in the `netlify.toml` file). Then trigger a new build and clear cache when triggering.

There will be an error lik

[2019-05-03 14:41] nolessafool commented on #311
@overlordofmu this is because they changed the version format after 0.53.  Nothing to do with the redirect from spf13->gohugoio which has worked well for a year now :)

It went from `0.53` to 0.54.0` .  Closing

[2019-05-03 14:41] #311 closed, assigned to nobody

[2019-05-03 23:12] bcomnes commented on #311
Ah yeah, dang.  We may be able to accommodate that in upstream bin-rc templates.

[2019-05-03 23:21] bcomnes commented on #302
Rather than installing global dependencies, use a package.json to declare the version of gridsome you want and access the bin from the package.json script fields.  Or use `npx`.

[2019-05-04 00:13] bcomnes commented on #224
Is there a way to have nvm install a node version with `--with-intl=full-icu`? It seems reasonable to add a similar `NVM_FLAGS` env var for this purpose.

[2019-05-04 20:25] newsch commented on #183
I just checked in on this again, and found that [the Xenial image is available for use](https://www.netlify.com/blog/2019/03/14/a-more-flexible-build-architecture-with-updated-linux/). I didn't see any mention of it here so I figured I'd leave a comment.
Sass compilation worked fine for me after changing the build image!

[2019-05-07 13:39] nhoizey commented on #224
This would be really useful.

Currently, to show dates in French using Luxon with Eleventy, I have a (really) dirty hack:

[code]

Source here: https://github.com/nhoizey/precious-prana.com/blob/master/.eleventy.js#L14-L31

[2019-05-09 15:26] flowen opened #313 "/usr/local/bin/run-build-functions.sh: line 556: /opt/buildhome/.wasmer/wasmer.sh: No such file or directory"
Hi,

I have absolutely zero knowledge of docker or buildbot.

I tried following the instructions on this github to try and test my build locally (since it errors: `failed during stage 'building site': Build script returned non-zero exit code: 2`)

After launching buildbot, I'm receiving the error:

`/usr/local/bin/run-build-functions.sh: line 556: /opt/buildhome/.wasmer/wasmer.sh: No such file or

[2019-05-09 17:04] #313 closed, assigned to nobody

[2019-05-09 17:08] bcomnes commented on #313
Looks like your repo with a package.json wasn't found.

[2019-05-10 16:13] futuregerald commented on #310
It's possible. I don't use Python so I have no expertise in this area.

[2019-05-10 17:58] istevens commented on #310
Sorry to jump in, but it appears as though [build-image is already creating Python virtualenvs](https://github.com/netlify/build-image/blob/xenial/Dockerfile#L293) in /opt/buildhome on instantiation, and [activating the right one before the build](https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh#L170).

I can't be certain why pip is trying to install packages to /lib and n

[2019-05-11 13:36] bcomnes commented on #310
@istevens Interesting, I wonder if its its not activating correctly. Thank you for the datapoint.

[2019-05-13 17:56] blairanderson commented on #250
I have so many sites still using bundler `1.x` that i've found migrating to the netlify CLI is easier than upgrading all my sites to use bundler `2.x`

Here has been my process for Jekyll sites

[code]

[2019-05-14 16:05] istevens commented on #310
After isolating the pip error to a few build commands, I found it was a setup.cfg in my repo causing the issue. I added it to address an error when building an Atom feed, and assumed it would only take if my project was explicitly installed. Turns out, pip was using setup.cfg when run from the project dir to install dependencies.

The setup.cfg content in question:

[code]

[2019-05-16 18:13] tpluscode commented on #214
Can this can be closed? I no longer experience this issue in my builds.

[2019-05-16 18:14] #214 closed

[2019-05-22 13:21] hmnd opened #316 "Using Submodules"
How would I go about cloning all the submodules in my project on build? It appears that you only do a `git clone`, so I'd either like to run `git submodule update --recursive --remote` in my build command (doesn't work for me) or somehow add `--recursive-submodules` to the initial clone.

[2019-05-22 16:28] rybit commented on #316
Please write into support@netlify.com so that they can help with your particular site and give guidance

[2019-05-22 16:28] #316 closed, assigned to nobody

[2019-05-23 02:31] overlordofmu opened #317 "Make a "shallow clone" of the repo."
**Is your feature request related to a problem? Please describe.**

The full git clone can be time consuming and the full history isn't required to make a build of a site.

**Describe the solution you'd like**

The request is for the build command to only make a "shallow clone" by adding the `--depth 1` option to the command.

This might also include explicitly cloning submodules in same way:

[co

[2019-05-23 02:37] overlordofmu commented on #316
@hmnd, I'm part of the Netlify support team and I'm looking into a feature request which will address both this and the concept of "shallow cloning" here:

https://github.com/netlify/build-image/issues/317

And please do email support if you would like to discuss this in more detail (as this issue is closed for now).

[2019-05-23 05:20] hmnd commented on #316
@overlordofmu I actually did email support prior to discovering this repo. I'm glad you're already looking into it! :) Would you mind emailing me or taking on my ticket perhaps to discuss? Particularly interested if you know of some work around to this in the interim.

[2019-05-27 00:29] jhgoodwin commented on #231
FYI, I talked about a way to make it work, here: https://github.com/netlify/build-image/pull/230

[2019-05-29 23:58] yacoob opened #318 "Caching no longer works"
I'm probably missing something here :)

I took a stab at adding Rust support to the build image. Things seem to be working fine, except my cache (as in, `$NETLIFY_CACHE_DIR`) is not getting populated. It looks like since 23b55c2959ea7a2b87742e7da7812514fb386bd0 `cache_artifacts` is not getting called at all during `run-build.sh`. As a result, no caching is performed and every build starts from scr

[2019-05-30 00:43] yacoob commented on #318
For reference: this is what I arrived at:
https://github.com/netlify/build-image/compare/xenial...yacoob:rust?expand=1

The caching wouldn't work in local tests, until I've added that explicit call to `cache_artifacts`.

[2019-06-03 15:39] arcanis opened #319 "Yarn arguments"
Opening an issue here as requested in the support email (I initially asked on Twitter what was the best PoC, and was redirected to the support) 🙂

Yarn 2 doesn't support the `--cache-folder` command-line option (it always was problematic, because users had to specify it at every single command). This causes a crash on Netlify when using Yarn together with the v2 (currently flagged experimental, fo

[2019-06-04 21:06] yacoob commented on #293
FWIW, I've just opened https://github.com/netlify/build-image/pull/320 .

[2019-06-05 13:52] BraveUX commented on #319
I can confirm that all my builds are now failing that use yarn unless I manually push using `netlify deploy`.

An example deploy log can be seen below:

[code]

[2019-06-05 13:54] ekfuhrmann commented on #319
I can confirm that all my builds are now failing that use yarn unless I manually push using `netlify deploy`.

An example deploy log can be seen below:

[code]

[2019-06-05 14:07] arcanis commented on #319
@ekfuhrmann This isn't related.

[code]

[2019-06-05 15:13] ekfuhrmann commented on #319
@arcanis My mistake!

[2019-06-11 15:11] camilodelvasto commented on #316
We also need this badly... also interested in a workaround if there is any way of doing it... thanks!

[2019-06-12 19:09] nolessafool commented on #316
@hmnd your assertion is incorrect.   This is how we clone your repo:

`git clone git@...`
and then we cd to the repo and run:
`git submodule update -f --init`

This happens every time we clone and you cannot prevent it :)

I'm not a git expert so not quite sure if there is a meaningful difference in the --recursive option - is that "look for submodules WITHIN your submodules?"

[2019-06-13 09:59] bluelovers opened #321 "newbie fail when start-image"
[code]

![image](https://user-images.githubusercontent.com/167966/59423257-5d6dc880-8e04-11e9-947a-0eef58021b4b.png)

---

![image](https://user-images.githubusercontent.com/167966/59423293-724a5c00-8e04-11e9-955d-f23c3e0623aa.png)

[2019-06-13 12:57] arcanis commented on #319
Ping someone? @bcomnes maybe? 😄

[2019-06-13 14:36] rybit commented on #319
@bcomnes has sadly found a new gig. Sorry for the delay, we are trying to get our internal resources marshaled to be able to properly respond to requests on the image.

[2019-06-13 14:46] arcanis commented on #319
No worry 🙂

[2019-06-18 00:47] bluk16 commented on #250
This works like a charm for me! Thanks for saving me some headache. Appreciate it man! :)

[2019-06-18 12:18] nhoizey commented on #224
As an alternative, would it be possible (I really don't know how it works) to have `full-icu` as a dependency in our projects (I'm using eleventy) to gain internationalization support?

[2019-06-21 10:57] notpushkin commented on #221
Works now with this config:

[code]

Although first-class support would be really nice!

[2019-06-26 00:25] nolessafool commented on #296
related issue:  https://github.com/netlify/build-image/issues/98

[2019-06-26 00:25] nolessafool commented on #98
related issue:  https://github.com/netlify/build-image/issues/296

[2019-06-29 15:23] SaiG18 opened #322 "Add support for the python3-tk package"
I'm getting an error when I deploy my Flask application and based on communicating with the Netlify Support and the Community, I've found that the problem is because I'm using a module called tkinter.

For the build to be successful, the python3-tk package needs to be added to your build system.

This is what is required to add tkinter on to your build systems.

`sudo apt-get install python3-tk`

[2019-07-03 17:58] chrisgalvan commented on #81
Any news on this? I'd love to have access via UI.

[2019-07-07 08:31] rccclr opened #325 "Debug environment help"
Hello

I working for debug environt for my site in Netlify.

I modified Dockerfile and start-image for EXPOSE 8000 port and associate with 7777 port local (image)

This is the command executed:

$ sh test-tools/start-image.sh /mypath
buildbot$ build gatsby develop
buildbot$ ........ok ... localhost:8000

When access in https://172.17.0.4:7777 from browser, this error: Connection refused

![image](

[2019-07-08 02:59] lucashfreitas commented on #196
+1

[2019-07-08 05:27] zakjan commented on #157
Is there any progress on this? Newer ImageMagick is needed for WebP support in jekyll_picture_tag.

[2019-07-15 12:48] mbrevda commented on #172
Hi - I was wondering if you can elaborate a bit?

According to the docs, `npm ci` is

So it would seem this can be used for CD as well. Being that npm doesn't need to rebuild the depends graph (as it reads the lockfile) that should speed up the install time. Have your experiences been different? Additionally, `npm ci` guarantees a deterministic, repeatable build - every time, something which canno

[2019-07-15 20:18] gesellix commented on #316
This one worked for me, after a usual `git clone git@...`:

```git submodule update -f --init --recursive```

Example output without `--recursive`:

[code]

Example output with `--recursive`:

[code]

[2019-07-15 20:19] gesellix commented on #317
+1 to adding the `--recursive` option. See https://github.com/netlify/build-image/issues/316#issuecomment-511553688 for an example, why this would be necessary.

[2019-07-17 17:41] frangio commented on #172
I agree that re-installing all dependencies is undesirable in Netlify, but the benefit of `npm ci` is as @mbrevda mentioned deterministic builds based on the lockfile. I would consider using `npm ci` instead of `npm install` when the `node_modules` directory is not found in the cache, and if there is a lockfile to begin with.

[2019-07-19 17:45] jaredh159 commented on #196
I also would really like to drop a netlify.toml file into my base dir, and have multiple of them for my monorepo.  I was a bit surprised it didn't work like this already. :(

[2019-07-27 13:02] junedev commented on #182
If other people like me come here wondering how to actually apply the fix to their existing projects, here is the article how to switch to the new Ubuntu version: https://www.netlify.com/blog/2019/03/14/a-more-flexible-build-architecture-with-updated-linux/
After that you can safely include the resources/_gen folder in your .gitignore file (and remove them from git tracking).

[2019-07-30 22:38] devm33 opened #327 "Add fonts to build image"
Would you be open to adding more fonts to the build image, specifically [ttf-mscorefonts-installer](https://packages.ubuntu.com/xenial/ttf-mscorefonts-installer) would be what I need.

Currently, only the DejaVu family is available. Output from `fc-list`:

[code]

For more on what I'm trying to do, my build process involves generating a pdf version of some of my web pages. But right now they can o

[2019-08-05 03:34] igoynawamreh opened #328 "Could not find 'bundler' (2.0.2)"
Jekyll deployment with bundler `v2.0.1` works fine.

I'm trying to update bundler to `v2.0.2`, I get this error:

[code]

[2019-08-06 02:21] overlordofmu commented on #328
@igoynawamreh, I believe this is a duplicate of the following issue:

https://github.com/netlify/build-image/issues/296

Because there is an existing issue which covers this, I'm closing this issue to track it there.

[2019-08-06 02:21] #328 closed, assigned to nobody

[2019-08-12 18:36] XhmikosR commented on #318
This is definitely a regression in the Xenial image. Can we get a fix please?

[2019-08-12 18:36] XhmikosR commented on #318
/CC @bcomnes

[2019-08-19 20:09] marcosscriven commented on #196
Any news on this please @fool? In the meantime, please could you update the documentation to make it clear you can only have one `netlify.toml` for the whole repo, even though most other things work fine by per-site config in the UI.

The big thing missing for me is the greater redirect control one gets with the `netlify.toml` config, but that's not common to my sites in each of the sub directorie

[2019-08-20 21:27] backspace commented on #196
I’m working on a [PR](https://github.com/hashicorp/nomad/pull/6167) that builds both a static documentation Middleman site and an Ember UI. Part of the script involves checking what branch is being deployed and using a different `_redirects` file if it’s a UI PR, so maybe that would be useful to people.

But the caching is my concern, it doesn’t seem like it can be hacked around in this manner 😞

[2019-08-22 07:45] rask opened #330 "Gutenberg renamed to Zola"
The Gutenberg project has rebranded as Zola, to avoid clashing with a certain CMS. Could this be reflected in the build image and build documentation as well?

I would keep a reference to Gutenberg name in the documentation at least, in case someone is looking with that name and does not know Zola is the new name.

More information: https://github.com/getzola/zola/issues/377

[2019-08-22 07:52] rask commented on #330
I noticed Zola is in fact already setup in the build scripts, so this is mainly a documentation issue it seems.

[2019-08-24 15:25] jayvdb commented on #240
I tried using a Pipfile which specified python version 3.6, without a runtime.txt, and the Xenial build failed with `/usr/local/bin/run-build-functions.sh: line 339: pip: command not found`

[code]

When using `runtime.txt` the log would contain

[code]

[2019-08-24 17:18] jayvdb commented on #228
It looks like Xenial images are now available, and I assume Python 3.7 work on those.  I found that Python 3.6 doesnt work on the new Xenial images -- not sure if that is expected behaviour.

[2019-08-29 00:00] nolessafool commented on #296
customer to inform:  https://netlify.zendesk.com/agent/tickets/7282 and people in https://github.com/netlify/build-image/issues/328

Tickets:

https://netlify.zendesk.com/agent/tickets/7609
https://netlify.zendesk.com/agent/tickets/8109

Since this is the current version of bundler and we've gotten a half dozen reports already and the ONLY workaround is to downgrade to an older version of bundler

[2019-08-29 23:17] vphilot opened #331 "Bundler Version warning with no fix in sight"
Can't finish build due to Bundle version -- follower instructions with no success, log below:

7:12:09 PM: Build ready to start
7:12:12 PM: build-image version: 8e315e54bc4032a32e73290be556cde4f8348c12
7:12:12 PM: build-image tag: v2.8.2
7:12:12 PM: buildbot version: b925d11411cabfe7b120501027bd0e96dbc28dde
7:12:13 PM: Fetching cached dependencies
7:12:13 PM: Starting to download cache of 302.7MB

[2019-08-29 23:22] nolessafool commented on #331
Bundler v 2.0.1 will work, @vphilot .  This issue:

https://github.com/netlify/build-image/issues/296

...is tracking the lack of flexibility there, so we'll close this as a duplicate

[2019-08-29 23:22] #331 closed, assigned to nobody

[2019-09-06 20:29] laurajodz commented on #296
Customer reported that removing "BUNDLED WITH" from Gemfile.lock got things working (https://netlify.zendesk.com/agent/tickets/7609)

[2019-09-07 15:23] nolessafool opened #332 "Add id-ID locale to the build images"
Indonesian locale not available during build.  I believe we started with few locales, and then added "top 20 most popular sounding ones", so no surprise we don't have them all.  I believe installation will be similar to other locales shown here:

https://github.com/netlify/build-image/blob/xenial/Dockerfile#L66-L95

requested in helpdesk case https://netlify.zendesk.com/agent/tickets/8090

[2019-09-08 22:02] MrsTaylor14 opened #333 "Hey folks, sorry for the delay. I was out for holidays and a handoff wasn't possible."
Hey folks, sorry for the delay.  I was out for holidays and a handoff wasn't possible.

I deployed https://github.com/netlify/build-image/pull/197 yesterday, but determined it wasn't a reliable enough fix.  I partially reverted it here: https://github.com/netlify/build-image/pull/248

I kept the required libraries though, which means if you provide your own hugo extended binary in the build, or do

[2019-09-11 11:13] depadiernos opened #335 "Make each (currently) automatic step of our build optional"
As a user, I want to be able to streamline my build pipeline. This isn't easy with the current build-image as a lot of the steps are hardcoded. For instance, even if I will not be using Ruby to build a particular site but have a Gemfile, there is no way to skip installing those dependencies.

Ideally, a way to 'flip' each build step on or off would make help alleviate this issue.<br><br><i>(relate

[2019-09-11 15:54] shayonj commented on #335
Hi @depadiernos! Thanks for opening the issue. Agreed, it would be nice to have the 'flip' option. Its something we have been discussing also in https://github.com/netlify/build-image/issues/141. Closing this one for now to ensure all discussions happen at a single place. Feel free to add anything else in the new issue. And/or re-open if you feel the two issues aren't the same.

[2019-09-11 15:54] #335 closed, assigned to nobody

[2019-09-11 16:24] nolessafool commented on #335
ah, thanks @shayonj  - I looked for 10 minutes yesterday and couldn't find that issue :|

[2019-09-11 16:36] leonardofaria commented on #335
More info (it was my ticket):
I have a style guide created using Hologram (Ruby) and Storybook (JS). There is no need to have PHP or Go in my builds.

[2019-09-18 03:48] atymic opened #336 "Add bcmath extension to PHP"
Hey 👋

I was wondering if it would be possible to add the `bcmath` extension into the build image?

Unfortunately my laravel based project requires it, and it won't build on netlify as a result.

Happy to PR if required.

[2019-09-20 17:09] soffes commented on #296
Related, if you specify a Ruby that isn't installed, it doesn't appear to install Bundler after installing your custom Ruby. It would be great if after checking your Ruby, it checked for `BUNDLED WITH` and then did `gem install -v bundler THAT_VERSION`.

[2019-09-22 18:29] orf commented on #317
+1 to recursive: missing this is a pretty big downside to using Netlify if you are in a situation that needs nested submodules.

[2019-09-28 22:01] mark-monteiro commented on #250
@bcomnes I am still seeing this issue with a new Netlify site I just created today. The site is using ruby-2.6.4. Is there any specific action that needs to be taken to use the new version of Bundler? I noticed that version 2.6.2 (not 2.6.4) is included in the image used for the build (the default image), do I need to use the included version to get the correct version of Bundler?

[2019-09-30 15:15] JamieKitson opened #338 "Add ikiwiki package to build image"
A long shot as I'm sure there isn't much call for it, but we'd like to have https://ikiwiki.info/ available on the build image to build our blog/website. Thanks.

[2019-09-30 15:18] shushugah commented on #296
I have this issue as well, have tried variety of combinations from removing BUNDLED_WITH, to explicitly making it 1.17.3 and 2.0.2 but none of it works and I the errors are vague.

<details><summary>Netlify Logs</summary>
<p>

[code]
</p>
</details>

<details><summary>Gemfile.lock</summary>

[code]
</p>
</details>

[2019-09-30 15:26] nolessafool commented on #296
the error in your build @shushugah is quite straightforward and not related to this issue:

`5:09:55 PM: Could not find gem '—system'`

I don't believe "bundle update --system" is a working command.

[2019-09-30 21:29] PerrySetGo commented on #310
if any work happens on this please update the following community thread: https://community.netlify.com/t/permission-denied-lib-python2-7-installing-python-packages-worked-for-weeks/638/4

[2019-10-07 05:48] chrfritsch commented on #196
Netlify now supports netlify.toml files per subdirectory in a monorepo.
See https://www.netlify.com/docs/continuous-deployment/#build-settings

But still, I am not able to set it up that the npm/yarn cache is working properly.

[2019-10-11 12:41] motleydev opened #340 "Ruby version is not current with production build-image"
This image says to set the ruby version to one of `2.4.3 2.2.9 2.3.6`

The live build tool says that the installed version is 2.6.2

[2019-10-11 15:32] verythorough commented on #340
If I understand correctly, you're talking about what's being fixed in this PR: https://github.com/netlify/build-image/pull/337. Is that right?

If not, could you clarify what you mean by "this image" and "the live build tool"? Also, which build image are you using (xenial or trusty)?

[2019-10-14 04:17] rjvdw opened #341 "Feature request: webp support"
In the build image for Ubuntu 16, the provided version of ImageMagick does not have webp support. From what I understand, it is relatively simple to add support for webp: https://askubuntu.com/a/788917

Could you consider doing this?

[2019-10-14 14:48] motleydev commented on #340
Hi @verythorough yes! That is correct! Sorry for the confusion!

[2019-10-14 14:48] #340 closed, assigned to nobody

[2019-10-14 14:56] mb21 commented on #162
There is also an official .deb of the newest version available for download, see https://pandoc.org/installing.html#linux

Or as a dockerfile: https://github.com/pandoc/dockerfiles

[2019-10-14 18:06] verythorough commented on #340
No worries! It served as a good reminder to get #337 merged! 😁

[2019-10-14 18:10] abitrolly opened #342 "xenial image selects Ruby 2.3.6 by default"
In the build https://app.netlify.com/sites/115/deploys/5da4b30f4f49ca0008636b0b

![image](https://user-images.githubusercontent.com/8781107/66772975-9ad38700-eec6-11e9-99ad-335d6ad121da.png)

I double checked documented [environment variables](https://www.netlify.com/docs/continuous-deployment/#build-environment-variables) - there is no `netlify.toml`, no variables in [site settings](https://app.n

[2019-10-14 18:20] verythorough commented on #342
Ah, it looks like that site was created some time ago. Netlify pins the Ruby version on site creation so you don't have any unexpected changes when the build-image default updates. You can override the pinning by using either of the setting methods you linked above. :)

[2019-10-14 18:23] abitrolly opened #343 "Use pyproject.toml instead of runtime.txt to specify Python version"
[pyproject.toml](https://www.python.org/dev/peps/pep-0518/#tool-table) is standardized format in Python ecosystem. It makes sense to reuse it instead of adding more files to projects roots. Netlify could read its settings from this section.
[code]

[2019-10-14 18:46] abitrolly commented on #342
I'd better reset all settings somehow without recreating to avoid losing history. Is that possible to do? I don't want to think about other surprises that may lurk from that initial site creation. :D

[2019-10-14 19:33] polyzen commented on #343
FTFY: https://www.python.org/dev/peps/pep-0518/#tool-table

[2019-10-15 16:41] Convincible commented on #296
I've got my repo to work by removing `BUNDLED WITH` but this is a bit of a hack - why can it not load Bundler `2.0.2`, or – which would be fine by me – just ignore this directive?

[2019-10-15 21:17] verythorough commented on #342
I think the pinning will be reset if you re-connect your repo (under **Settings > Build & deploy > Continuous deployment > Build settings**). Of course, that just means everything will be re-pinned to the current defaults.

And to be clear, the pinning is there to _avoid_ surprises. Without pinning, updates to the build image would causes change in your build, which is something we always want to

[2019-10-16 01:22] seanemmer commented on #196
Congrats on netlify.toml support.

I am having an issue where, when using yarn workspaces, yarn installs all of the monorepo packages.  This is problematic because yarn also ends up running package-specific postinstall scripts that break my build.  I would like to do something like this to take out the offending package:

`rm -rf packages/api && yarn install && yarn workspace provider build`

 But

[2019-10-16 06:09] abitrolly commented on #342
If I reconnect, will all previous builds and logs gone for this repo?

[2019-10-16 15:56] verythorough commented on #342
No, all previous deploy logs will still be there.

[2019-10-17 11:09] levino opened #344 "Ignore default check"
I am looking the for the default [ignore check script](https://docs.netlify.com/configure-builds/file-based-configuration/#ignore-builds). Should this not be somewhere here in this repo?

[2019-10-19 11:20] labkode commented on #317
@overlordofmu any news about this feature? Without it, for Hugo builds one has to copy the theme folder into the repo and that is volume added to the repo for no reason

[2019-10-19 11:50] orf commented on #317
No, you dont:

`command = "git submodule update --init --recursive --depth=1 && hugo --minify"` in your `netlify.toml` should do the trick.

[2019-10-21 07:42] labkode commented on #317
@orf Thanks you, it worked like a charm

[2019-10-21 07:43] labkode opened #345 "Trigger build for a specific path"
I have Netlify integrated with my repo that also contains code and the docs live under a docs/ folder.
However, for any code change not related with the documentation a Netlify build will be triggered, is there a way to tell Netlify to only trigger a build if a file has changed under a certain subfolder?

[2019-10-21 08:27] mraerino commented on #345
Hi! Yes there is a way:
https://docs.netlify.com/configure-builds/file-based-configuration/#ignore-builds
Warning: The example command will also ignore the build if the change was in another commit than `HEAD`. You may need to change it accordingly.

You might have to relink your repository for this to take effect.
If you always want to just build a subfolder you can also use the `base` option:
ht

[2019-10-21 08:27] #345 closed, assigned to nobody

[2019-10-22 17:24] verythorough commented on #342
Closing because this seems to be working as expected. Feel free to re-open if there's something I missed!

[2019-10-22 17:26] #342 closed, assigned to nobody

[2019-10-23 01:14] abitrolly commented on #342
To be user friendly, the Netlify could warn if configuration drifted, hidden settings are in effect and differ from defaults.

[2019-10-25 19:37] nolessafool commented on #333
I think you unintentionally opened this issue, @MrsTaylor14 so I'll close it.  Please feel free to reopen with a better explanation of what trouble you're having if I was wrong!

[2019-10-25 19:37] #333 closed, assigned to nobody

[2019-10-28 02:47] jessecrouch commented on #157
+1
I am also using jekyll_picture_tag. Webp support is highly recommended by Google Pagespeed/Lighthouse for image compression. I believe ImageMagick gets built by default in Linux without webp support (it's an option), so this might be asking for something more custom in the build than just version.

[2019-10-28 10:54] NeoLegends opened #346 "PHP 5.6 is End-of-life"
I just stumbled over the fact that the images still contain PHP 5.6. PHP 5.6 is EOL since the end of 2018, so you might want to remove it.

[2019-11-02 12:52] johtso commented on #240
Any updates on this? Or workarounds? This is currently blocking me from upgrading my projects to Python 3.

[2019-11-09 22:13] DanailMinchev commented on #224
I had the same problem when testing `Gatsby` and `react-intl`, I have installed `full-icu` dependency together with `cross-env` used with `npx` and on my `build` script I set `NODE_ICU_DATA` environment variable to use the data from the `full-icu` dependency, looks like it works for me.

Install dependency:
[code]

Change the `build` script in `package.json` from:
[code]
to:
[code]

So, `npx cross

[2019-11-17 00:53] beausmith commented on #183
I can confirm. I switched to the build image to `Ubuntu Xenial 16.04 (default)` and was able to successfully build and hugo with sass/scss on netlify…

![image](https://user-images.githubusercontent.com/28444/69001350-9584a600-0891-11ea-9738-3649e8897052.png)

[2019-11-17 00:58] beausmith commented on #182
Solution in https://github.com/netlify/build-image/issues/183#issuecomment-554689821 allowed me to deploy hugo with sass/scss on netlify.

[2019-11-18 21:00] Benaiah commented on #296
#348 didn't fix this as it was expected to; I'm investigating and working on a fix now.

[2019-11-21 19:07] johnrichter commented on #175
This issue was a godsend for me. I've been tearing my hair out trying to get fonts to load from LFS correctly in Netlify. I documented it all in [this community support thread](https://community.netlify.com/t/constant-and-frustrating-build-issues-with-lfs/5350) which could be useful for those running into this in the future.

[2019-11-22 21:14] Benaiah commented on #296
We're looking for users who've run into this error to help us beta test the fix we've implemented in #350 before we roll it out to all of our users. If you've run into this error and you're interested, please comment below and support will be in touch. Thanks to everyone who's run into this issue for your patience as we work on resolving it.

[2019-11-23 19:53] zofrex commented on #296
I would be happy to help test this.

[2019-11-25 08:32] tiago-slv commented on #296
Me too 👋

[2019-11-25 11:50] JordyValentine commented on #296
Just ran into this myself trying out Netlify for the first time, so I'd be happy to test this out rather than downgrading bundler.

Edit: I can confirm removing `BUNDLED WITH 2.0.2` from `Gemfile.lock` allows the build to complete, but obviously I'd prefer not to edit the file each time.

[2019-11-25 17:13] dkokic commented on #224
How to execute `npx node-full-icu-path` when `full-icu` is installed globally?

[2019-11-25 17:39] ehmicky commented on #224
Please note that since Node 13, `full-icu` is the default: https://github.com/nodejs/node/pull/29887

[2019-11-25 17:51] nolessafool commented on #296
Heya @zofrex @tiago-af-silva @JordyValentine - could you list your sites' API ID's here (from the site's general settings page)?  Also if it's ok for me to trigger a build on the production branch, please make that clear too :)

![image](https://user-images.githubusercontent.com/229024/69565111-1f570200-0f69-11ea-9d1d-79771a90852c.png)

[2019-11-25 19:31] tiago-slv commented on #296
@fool Here you go: `53a300d1-1876-49bd-babe-65c4109a0915`. Feel free to trigger builds on production.

PS: I have a base directory set (I've tried moving the code to the root of the repo before but it didn't change anything).

[2019-11-25 19:59] nolessafool commented on #296
thanks @tiago-af-silva !  It seemed to work so we are rolling the change out in production now (reset you back to "normal" build settings so that you'll see that update as soon as @Benaiah 's deploy finishes).

Anyone else in this thread, please report if you have better/worse/same luck now?

[2019-11-25 21:11] JordyValentine commented on #296
@fool Yep, working fine with `Bundler 2.0.2` on my end, thanks for the fix :+1:

[2019-11-26 17:49] Benaiah commented on #296
Closing this issue since it appears to be fixed. Thanks for helping us get this resolved!

[2019-11-26 17:49] #296 closed, assigned to Benaiah

[2019-11-29 13:08] nhoizey commented on #224
I can confirm it now works on Netlify, I've been able to remove my horrible hack! 👍

https://github.com/nhoizey/precious-prana.com/commit/7311d64c0c2f6f005a35bc2259f816c75428fc44

[2019-11-29 20:57] coolsoftwaretyler commented on #296
Hey all, I'm getting this issue with Jekyll. Here's my deploy log:

[code]

[2019-12-01 08:51] Baasie opened #351 "From 3.3.2 to 3.3.5 webpack with fable does not run correctly"
It seems that when using version 3.3.5 my webpack config won't run properly. It won't fail, but it will also not compile my site anymore.

I have checked the changelog and cannot find anything smelly that won't make it work anymore. However, the version change is the only thing I can think of that changed. Locally on my ubuntu machine, everything runs perfect.

This is the first part of the log on

[2019-12-02 10:59] megant commented on #286
I also have this issue with my Gatsby project:

11:12:15 PM: chmod: cannot access '/opt/buildhome/.gimme_cache'

[2019-12-02 23:08] mraerino commented on #346
switching the default runtime to 7.2 would be a breaking change for existing builds, so we are hesitating. would still be a good move imho

[2019-12-03 04:01] cicdw opened #352 "Failure building netlify preview with python"
We use Netlify to build our documentation at https://github.com/PrefectHQ/prefect and [as of today](https://github.com/PrefectHQ/prefect/pull/1791) we are noticing build failures in which Python seems to not be present in the netlify build image.  Here is the full log output of a recent job:

[code]

We haven't touched our netlify settings in months, so I'm not sure what would cause this.

The fol

[2019-12-03 08:31] rnorth commented on #352
We also have the same issue for https://github.com/testcontainers/testcontainers-java, also for Python 3.6.

[2019-12-03 10:56] depadiernos commented on #296
Notified linked customers through the helpdesk.

[2019-12-03 13:14] rnorth commented on #352
Based on deploy logs it looks like:

* our last successful deploy, yesterday, used build image v2.8.2
* since then, failing deploys have tried to use v3.3.5

There was no action on our part to change the build image.

The [Dockerfile](https://github.com/netlify/build-image/blob/xenial/Dockerfile) specifies `python3` and `python3.7` but does not explicitly install `python3.6`.

[2019-12-03 13:26] rnorth commented on #352
FWIW, switching to Python 3.7 has fixed the issue for us.

[2019-12-03 13:41] mraerino commented on #352
Thank you for figuring this out. This issue seems solved now?

This behaviour is also consistent with our docs at https://github.com/netlify/build-image/blob/xenial/included_software.md#languages

[2019-12-03 13:41] #352 closed, assigned to nobody

[2019-12-03 15:09] cicdw commented on #352
Changing to 3.7 fixed it for us - thanks everyone!

[2019-12-03 18:41] frangio opened #353 "~/.cache is not only the pip cache"
The `~/.cache` directory is treated as the pip cache, but it's actually more than that. It's the default value for `$XDG_CACHE_HOME` according to the XDG Base Directory specification, so there are probably many more tools that use this directory. In fact, yarn places its cache in this directory by default, for example.

The current build script always stores it in the cache, but it only restores i

[2019-12-03 23:30] mraerino commented on #352
hey, we just noticed that this change should actually not have happened.
you all seem to be on our deprecated build image (ubuntu 14.04) which did include python 3.6

we might be deciding to rollback our change which removed 3.6

if you want to make sure your 3.7 builds keep running I recommend upgrading to the xenial image: https://docs.netlify.com/configure-builds/get-started/#build-image-select

[2019-12-04 08:09] megant commented on #286
Any progression in this case? I cannot deploy my production website currently.

[2019-12-04 13:10] gera2ld opened #354 "Add support for Asian fonts"
Without Asian fonts puppeteer [does not work well on some pages](https://github.com/gatsbyjs/gatsby/issues/5929).

According to [document of puppeteer](https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker), we can install the fonts as root:

[code]

[2019-12-04 15:40] mraerino commented on #352
the change that caused the version jump in your builds and python 3.6 to be missing was rolled back just now. this was only affecting sites on the *old* build image

Please consider moving to the newer build image in any case, if 3.7 works for you.
You can find the switch in your build settings.

[2019-12-04 23:55] Benaiah opened #356 "Bundler install fails when Ruby version is less than 2.3.0 and no Gemfile.lock specifying Bundler 1 is present"
If a site is set to use a Ruby version older than `2.3.0` and it has no `Gemfile.lock` (or it has a `Gemfile.lock` which specifies a version of bundler that is `2.0.0` or greater), the build will fail before running the user's build command with the message `bundler requires Ruby version >= 2.3.0`. This should be fixed by having the build script install bundler `1.x.x` when the Ruby version is old

[2019-12-05 17:45] rajington commented on #196
for monorepo support where there's a single root yarn.lock, we're currently making our site-specific `netlify.toml` build `command` be `cd ../; yarn; cd -; yarn build`

it might be easy to let us also specify the `install` command in `netlify.toml` so we don't double install deps
[code]

or if we could have access to some site-specific preset env variables (or the site name) in `netlify.toml`. not

[2019-12-05 21:33] dmgawel commented on #196
I experimented with Yarn Workspaces and Netlify's recently released better support for monorepos (netlify.toml per site in subdirectory). I discovered a setup that might solve some of the above mentioned problems.

Assumptions:
* You use Yarn Workspaces with more than one site (or one site in subdirectory),
* You set your base dir in Netlify UI to e.g. `packages/website` to use per-site netlify.to

[2019-12-05 21:54] rajington commented on #196
neat trick! trying it now and will update when i get it working!

[2019-12-06 09:15] overlordofmu opened #357 "When the build.ignore command or script is not found, log this to the build logs."
**Description**

If you reference a `build.ignore` which is invalid or doesn't exist the failure is silently ignored and the build continues.

I was testing with a bash script named `exit-zero.sh`:

[code]

If I reference this in `build.ignore` as `./exit-zero.sh` the script runs, exits with zero and the build is cancelled:

[code]

However, if I don't reference this from the current directory it

[2019-12-14 20:12] roballsopp opened #358 "yarn: not found and npm: not found"
I'm newish to docker, so forgive me if I'm doing something dumb here. I'm trying to debug a build issue using a docker file with the netlify/build:xenial image and running into the following errors when building a docker image with my app in it
[code]
and when I try using yarn
[code]
My docker file is:
[code]
I get those errors when running `docker build . -t myImage` or using docker-compose. I've

[2019-12-22 02:00] JonathanReeve commented on #251
+1 for this, but for a different reason: I want to build a site with the static site generator [Rib](https://github.com/srid/rib).

[2019-12-28 23:58] anjakefala opened #360 "Pip installation should support Python3"
Hello! =)

A component of my website is composed of python3 files and they have dependencies. When I try to pip3 install those dependencies, the deploy logs note that pip3 is not available.

This has been noted in this issue as well: https://github.com/netlify/build-image/issues/240.

I hack around this atm by pulling down `get-pip.py` and installing it locally with `python3`, but this does not ta

[2019-12-30 19:15] jfalxa opened #361 "Parcel bundler v2 fails to run on trusty and xenial"
I'm using [parcel v2](/parcel-bundler/parcel) to bundle my app however, because of missing dependencies in [parcel watcher](/parcel-bundler/watcher), it fails to run on both build images:

#### Xenial
[code]

#### Trusty
[code]

Before any eventual fix, do you think a workaround is possible ?
(Note that I tried the previous version of parcel but it's actually broken in my specific use case)

[2019-12-30 19:16] duckinator commented on #360
@anjakefala I figured this out a bit earlier today: you can specify the Python version with `runtime.txt` or `Pipfile` (it looks like 2.7, 3.5, and 3.7 are the [supported values](https://github.com/netlify/build-image/blob/xenial/included_software.md#languages)). If you choose a 3.x version, you get `python3` and `pip3` executables.

[2019-12-30 19:22] duckinator commented on #353
I'm not sure how I feel about keeping all of `~/.cache`, but I think Netlify should do one of:

1. keep the entirety of `~/.cache` and always restore it, or
2. keep `~/.cache/pip`, not `~/.cache`, for pip-related things.

Doing 1 and claiming it's 2 is a potential source of confusion. :slightly_smiling_face:

[2019-12-30 19:30] duckinator opened #362 "Support `PYTHON_VERSION`, for consistency"
Of the [included languages](https://github.com/netlify/build-image/blob/xenial/included_software.md#languages) that have multiple versions available (Ruby, Node.js, Python, PHP, Go), only Python can not use a `<language name>_VERSION` environment variable.

It'd be super nice if this was supported, so it can be specified in `netlify.toml` like with the other languages.

[2019-12-30 19:57] duckinator commented on #362
I made an attempt at implementing this over at #363.

[2019-12-31 22:25] anjakefala commented on #360
Thanks! @duckinator ^^

[2020-01-02 22:37] anjakefala commented on #360
I can confirm that this worked for me. Thanks @duckinator!

[2020-01-02 22:37] #360 closed, assigned to nobody

[2020-01-03 20:16] Jamesking56 opened #365 "PHP 7.4"
Hello,

PHP 5.6 is EOL and PHP 7.2 is now on security support only.

https://www.php.net/supported-versions.php

I think we need to offer PHP 7.4 ~~(and possibly PHP 7.3)~~

[2020-01-05 19:56] alfonsobries commented on #237
+1

[2020-01-07 07:18] szTheory commented on #232
It's supported now https://github.com/netlify/build-image/blob/9cade8af58c2cf3a17a1e9433d2e979149488837/Dockerfile#L47

[2020-01-07 07:54] cabezonidas opened #367 "React app inside lerna monorepo can't find module from shared packages"
I have a create-react-app that imports components from other react packages.
My understanding is that yarn uses symlinks for node_modules folder, and works fine locally.
When it deploys, the build fails, saying that my components can't find the modules from the packages of my repo.

What's the best way to build js dependencies? All of those packages are with TS, so they need to be compiled.

Thank

[2020-01-08 23:53] ultrasaurus commented on #293
Looks like there was a community PR, but it languished for lack of attention.  Does Netlify plan to support Rust?

[2020-01-11 16:11] meriadec commented on #361
Same issue. Did you finally found a workaround?

[2020-01-20 13:46] jfalxa commented on #361
Sadly no, however it looks like the parcel devs are working on a fix on their side: https://github.com/parcel-bundler/watcher/pull/24

Hopefully it'll be merged soon and this issue won't be one anymore.

[2020-01-22 15:35] daveharrisonnet opened #368 "Could not find command “_1.17.3_”. using Ruby 2.6.4 and bundler 1.17.3"
Trying to build and deploy a middleman site
using ruby 2.6.4 (declared this using a ENV on netlify because netlify DID NOT read it from gemfile or gemfile.lock declaration

I use bundler version 1.17.3 also declared in my gemfile & gemfile.lock. I have tried updating and bundling again, but just keep getting the error in my log saying : Could not find command '_1.17.3_'
Note: the use of underscore

[2020-01-22 16:28] srid commented on #251
Alternatively, add Nix support (so users can use whatever language including Haskell): https://github.com/netlify/build-image/pull/187

[2020-01-22 17:03] depadiernos commented on #368
Adding internal link to ticket: https://netlify.zendesk.com/agent/tickets/16339
Also linking to related community post: https://community.netlify.com/t/rvm-install-ruby-2-6-4-failed/7105/9

[2020-01-29 10:06] andreasvirkus commented on #81
Issue with the proposed solutions is that they'll always trigger a build for both sites, which is obviously undesirable

Edit: seems there's an official solution now 🎉
https://www.netlify.com/blog/2019/10/09/launching-monorepo-support-for-netlify-sites/

[2020-01-29 11:41] jfalxa commented on #361
Meanwhile you can still remove your build command from netlify, bundle your files locally and commit them to your repo. It's ugly but it works.

[2020-01-30 10:49] thbar commented on #368
I met the same issue with Ruby 2.5.7 and Bundler 1.17.3. Upgrading Bundler to latest (with `bundle update --bundler`) apparently solved the issue.

[2020-02-18 15:23] jfalxa commented on #361
parcel-side PR was closed. For now, the problem is fixed if you use `parcel@nightly` instead of `parcel@next`

[2020-02-18 15:23] #361 closed, assigned to nobody

[2020-02-19 10:12] overlordofmu opened #371 "Don't set a GIT_LFS_FETCH_INCLUDE and always clone the actual content for all Git LFS tracked files"
Currently the build image only clones the actual file contents for Git LFS tracked files for file extensions listed here:

https://github.com/netlify/build-image/blob/xenial/buildbot-git-config#L2

Quoting:

[code]

This behavior can be overridden by setting `GIT_LFS_FETCH_INCLUDE ` to a more inclusive list in the build environment with that environment variable.

I wonder if we might be better of

[2020-02-20 07:33] SimonRice opened #372 "Build Image: pip fails to install"
I was making a few modifications to my Swift Support PR (that's #364) when I found the Docker image on the `xenial` branch no longer builds when running `docker build .`.

The failing section in question related to Python, specifically installing pip.

[code]

The final `RUN` command in the snippet above has this for an output:

[code]

I think long story short, `PIPENV_RUNTIME` needs to be bumped

[2020-02-26 04:58] MysterDru commented on #231
@Romanx  this is working now with the Xenial build image in netlify. I created a gist with 2 scripts that can be used to get it to work.

https://gist.github.com/MysterDru/c4d1fd5a905c92d0d89d6936b2d7a725

set the build command to be `./build.sh` and set the publish directory to point to the wyam output folder.

[2020-02-27 13:42] jelle619 opened #374 "Inclusion of subversion in build image"
I would like to use svn (subversion) during my build, but it doesn't seem to be available in the current build image. It would be nice if this could be added.

Thank you in advance.

[2020-02-29 10:50] Pet3ris opened #377 "My Gatsby build doesn't work on Netlify"
Hi There,

I raised an issue at the Gatsby repository but it seems like it's not a Gatsby issue per say: https://github.com/gatsbyjs/gatsby/issues/20786.

Effectively I have a local gatsby repo that works well locally but doesn't compile on Netlify.

WIth the following error:

[code]

Could it be an inconsistency of versions or another issue altogether?

[2020-03-01 00:52] rybit commented on #377
Hi! I’d recommend opening a support issue with us for help. Or referencing the community pages. This isn’t the best forum to get help in your particular site.

[2020-03-01 00:52] #377 closed, assigned to nobody

[2020-03-01 16:30] SimonRice commented on #372
#376 seems to have fixed this 🎉 closing!

[2020-03-01 16:30] #372 closed, assigned to nobody

[2020-03-03 00:14] #365 closed, assigned to nobody

[2020-03-04 10:36] MythreyaK opened #378 "Question: Docker builds"
I am interested in building my website through a docker image. This essentially means running docker-in-docker. Installation methods described in docker docs seem to fail.

Is there any change this will be supported?

I think installing a few more packages will allow for this. I'm hoping it isn't that niche of a use case.

[2020-03-09 16:12] wmerussi commented on #183
Updated the build image selection like @beausmith and `netlify.toml` with the content from [hugo website](https://gohugo.io/hosting-and-deployment/hosting-on-netlify/) and now it's back online :)

[2020-03-10 18:27] chris-hailstorm commented on #53
Having this in `package.json` would help keep multiple tools / services in sync.

[2020-03-11 22:44] epicfaace commented on #367
Same issue for me -- see https://app.netlify.com/sites/rjsf/deploys/5e684c53d7471d0008f3fbcc

[2020-03-11 22:47] epicfaace commented on #367
Never mind, my issue seems to be an issue with my own code, not a Netlify issue.

[2020-03-11 23:34] cabezonidas commented on #367
I don't know exactly why, most of my root dependencies were dev dependencies, including lerna js, necessary for bootstrapping all the packages.

Turning devDependencies into dependencies in my package.json solved my issue.

Other hosting providers also fail with dev dependencies for monorepos.

[2020-03-11 23:34] #367 closed, assigned to nobody

[2020-03-12 12:36] ddevault commented on #206
Go 1.14 is out... a year and a half later.

[2020-03-17 21:26] bahmutov commented on #378
We would be interested in having ability to specify custom Docker image for our builds, something like
[code]

[2020-03-17 22:01] bahmutov opened #380 "Add caching Cypress binary folder"
Hi,

If we try to build a repo that has Cypress NPM dependency, the `npm install` step takes several minutes because each install caches only NPM node modules, but Cypress also downloads its binary and usually caches it in `~/.cache/cypress`, similar to Yarn.

I think I could add caching this folder in https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh which would enable eve

[2020-03-20 07:51] #224 closed

[2020-03-27 20:49] Benaiah opened #382 "Improve dev tools for running Docker image"
- [ ] If possible, fix the `build-image`'s `Jenkinsfile` so we always push the current release of the `xenial` branch to `latest`.
- [ ] Allow passing a tag to `start-image.sh` either through an environment variable or another CLI argument and have the script start that Docker tag. It will default to `xenial`.
- [ ] Add two scripts, `start-xenial.sh` and `start-trusty.sh`, that pull the specific D

[2020-03-30 17:06] SeanKilleen opened #383 ""Trusty" Build image does not appear to respect bundler version in Gemfile.lock"
I have been using Netlify for previews of my Jekyll blog, along with Netlify Admin CMS (I absolutely love Netlify -- thank you!)

Codebase here: http://github.com/SeanKilleen/seankilleen.github.io

Recently, I updated some dependencies and needed to bump my Ruby & bundler versions, which appears to fail the build, which is unexpected given the other docs I've read.

### Recreation steps:

* Utiliz

[2020-03-30 18:14] SeanKilleen commented on #383
in case it helps: I copied https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh#L301 and ran it locally to ensure it would return `2.1.4`, and it does.

[2020-03-30 19:01] SeanKilleen commented on #383
More info --

Despite the code at https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh#L302-L307, I do not see the expected text, `"Using bundler version $bundler_version from Gemfile.lock"` in the output.

So, I'm not sure if the build script is not finding my `Gemfile.lock` for some reason (this build worked previously for a long time until I started specifying versions), or

[2020-04-01 11:18] bangau1 opened #385 "Add support for `helm`"
I have curated helm charts in my github repository and need to expose the charts to the public via Netlify.
In order to do this, I need [`helm`](https://helm.sh/) to be included in the build image in netlify so I can generate the helm chart using `helm package` command.

Is it possible to add `helm`?

[2020-04-02 17:39] ehmicky opened #386 "Once the Netlify Build beta goes GA, remove `zip-it-and-ship-it` code"
With Netlify Build beta, `zip-it-and-ship-it` is now called by `@netlify/build` programmatically from Node.js. Therefore, once we remove the Netlify Build beta feature flag, we will be able to remove the following pieces of code from the buildbot and the `build-image`:
  - [Installing `zip-it-and-ship-it`](https://github.com/netlify/build-image/blob/85f74bd415e22878bad5783a3813dabcb1ffded2/Dockerf

[2020-04-06 10:31] 2color commented on #386
Not sure if this belongs here. But I just discovered defining `ZISI_VERSION` does not properly change the version of `zip-it-and-ship-it` used.

This is using the normal build image without Netlify Build.

See https://app.netlify.com/sites/netlify-prisma-test/deploys/5e8b03af25d447000671ce08

[2020-04-06 10:34] ehmicky commented on #386
@2color You can also upgrade to the latest version of `zip-it-and-ship-it` by opting in [our latest beta](https://docs.netlify.com/configure-builds/build-plugins/).

[2020-04-08 12:50] aarushik93 commented on #217
These log lines are coming from the script from travis CI we use to install go, [see here](https://github.com/travis-ci/gimme/blob/4d1d7250f02d103de60c7b91fe1df9dde4c64304/gimme#L372).
Might not be worth trying to remove those logs, if it's low priority?

[2020-04-08 14:23] mheffner commented on #217
@aarushik93 So are we supposed to be piping those commands into a bash environment? I'm wondering if instead of removing them in that Travis CI file there's a way to not print them when piped?

[2020-04-08 17:25] shoelessness opened #388 "Support wildcarding for YARN_VERSION"
This works:

[code]

This does not work:
[code]
It would be awesome to not _have_ to maintain patch numbers.

Currently, for if one specifies the `NODE_VERSION` with a similar strategy, it seems that works because of `nvm` being the strategy for managing node versions between builds. Perhaps a similar implementation could be undertaken using [`yvm`](https://yvm.js.org/docs/overview)?

Also, if the

[2020-04-08 20:39] nolessafool commented on #217
thinking out loud:  we could also fork that travis script, change it, and use our own copy, non?

[2020-04-08 21:48] mheffner commented on #217
@fool that's absolutely an option, but I think if there's any way we can avoid having to maintain a fork that's ideal. If everyone else (ie Travis) is simply echoing those commands to their output then maybe we need our own version, it seems odd that those shell commands are showing up in output though. I'd be curious if there was a way we were invoking it that were different than expected use.

[2020-04-09 01:00] ahoward commented on #296
i know this issue is closed, but i'm hitting it myself again.   so many similar issues i am loathe to create a new one.

[2020-04-09 12:20] aarushik93 commented on #217
As far as I can see we're not actually piping these commands.
Making commands not print out is just:
set +x, as far as I know.
But some of the commands aren't working when I pipe them as well. eg. go version >&2
Since to pipe and execute it should be in quotes